<h1> Welcome to Shooloo! </h1>
<p class='center'><img src="/attachments/applaude.gif" alt="Shooloo Math Can Do" width="80"></p> 
<div class="row">
  <div class="span6 offset3">	 
	<%= semantic_form_for @user, :url => wizard_path, :html => { :multipart => true, :class => "form-horizontal-user" } do |f| %>
		<div class="yes about">
			<p>Most of our content is protected and availble only to users who have proper authorizations.</p>
			<p> If you would like to gain access to our protected content, please tell us a little more about yourself. </p>
		</div>
		<%= render 'shared/error_messages', object: f.object %>
		<%=f.inputs do %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :role, label: "I am a", as: :select, collection: ["student", "teacher", "school administrator", "parent", "tutor", "other"] %>
		<% end %>
		<%= f.actions do %>
			<%= f.action :submit, label: "Continue...", as: :button, button_html: { class: " btn btn-formtastic btn-large btn-primary", :disabled_with => 'Wait...' } %>
		<% end %>
	<% end %>
  </div>
</div>