<h1> Welcome to Shooloo! </h1>
<p class='center'><img src="/attachments/applaude.gif" alt="Shooloo Math Can Do" width="80"></p> 
<div class="row">
  <div class="span6 offset3">	 
	<%= semantic_form_for current_user, :url => wizard_path, :html => { :multipart => true, :class => "form-horizontal-user" } do |f| %>
		<div class="yes about">
			<p>Just a little more about you so that we can verify your identity.</p>
		</div>
		<%= render 'shared/error_messages', object: f.object %>
		<%=f.inputs do %>
			<%= f.input :email, label: "Parent's email", placeholder: "Useful to recover your forgotten password" %>
			<%= f.input :email_confirmation, placeholder: "Must be the same as parent's email" %>
			<%= f.input :grade, as: :select, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], include_blank: true %>
		<% end %>
		<%= f.actions do %>
			<%= f.action :submit, label: "Continue...", as: :button, button_html: { class: " btn btn-formtastic btn-large btn-primary", :disabled_with => 'Wait...' } %>
		<% end %>
	<% end %>
  </div>
</div>