<% if activity.trackable %>
	<% unless activity.trackable.alarmed_post_id.nil? %>
		<% if current_user == activity.trackable.alarmed_post.user %>
			<span class='alert-heading'>
				<%= link_to "your post (##{activity.trackable.alarmed_post.id})", new_post_comment_path(activity.trackable.alarmed_post) %> and a lot of points have deducted out of your account.
			</span>
			<br/>
			If you want those points back, go to <%= link_to "Posts/My Hidden Posts", alarmed_posts_user_path(current_user) %> and clean up post.<br/>
			Make sure it does NOT have any of the following: 1) watermarked image; 2) content that has nothing to do with math; 3) offensive image; 4) offensive content; 5) plagerized content.<br/>
			After you clean up your post, you may ask your teacher to unalarm it. 
		<% else %>
			<span class='alert-heading'>
				your student's <%= link_to "post (##{activity.trackable.alarmed_post.id})", new_post_comment_path(activity.trackable.alarmed_post) %>.
			</span>
			<br/>
			Check out details in the <%= link_to "Alarms", alarmed_posts_path %> section and take actions as you deem appropriate.
		<% end %>
	<% else %>
		<% if current_user == activity.trackable.alarmed_comment.commenter %>
			<span class='alert-heading'>
				your comment 
				on <%= link_to "a post (##{activity.trackable.alarmed_comment.commented_post.id}) ", new_post_comment_path(activity.trackable.alarmed_comment.commented_post) %> and a lot of points have deducted out of your account.
			</span>	
			<br/>
			Users are not allowed to disclose real names or contact information in the comments. Your comment also should be related to math.<br/>
			If you believe your comment was clean and friendly and if you want those points back, you may ask your teacher to unalarm it. 
		<% else %>
			<span class='alert-heading'>
				your student's comment on <%= link_to "a post (##{activity.trackable.alarmed_comment.commented_post.id}) ", new_post_comment_path(activity.trackable.alarmed_comment.commented_post) %>.
			</span>
			</i>	<br/>
			Check out details in the <%= link_to "Alarms", alarmed_posts_path %> section and take actions as you deem appropriate.
		<% end %>
	<% end %>
<% else %>
	<span class='alert-heading'>
		your post or comment but has since been unlarmed.
	</span>	
<% end %>