<div id="invite_form_<%= post.id %>">
	<% if can? :create, Invite %>	
	  <% if current_user.invites.find_by_invited_post_id(post.id).nil? %>
	  	<% if current_user.role=="student" && current_user.invites.count < current_user.commented_posts.count %>
	   		<%= render partial: 'invites/invite',  
	   			locals: {invite: invite, post: post} %>
	   	<% else %>
	   		<%= render partial: 'posts/invite_no' %>
	   	<% end %>
	  <% else %>	    
	    <%= render partial: 'invites/uninvite' %>
	  <% end %>
	<% else %>
		<%= link_to raw('<i class="icon-heart icon-white"></i> Invite'), my_abilities_path(error: true), class: "btn btn-small btn-success" %>
	<% end %>	  
 </div>
 