<div itemscope itemtype="http://schema.org/CreativeWork">
  <div class="row-fluid">
    <div class="span5">
      <div id='logo-home'>
        <img itemprop="image" src="/attachments/final.png", alt: "Shooloo logo">
      </div>
      <h1 id='h1-home' itemprop="name"> Shooloo Learning </h1>      
      <div id='tagline-home' itemprop="description">
        World's Largest Repository of<br/>
        Common Core Math Word Problems<br/>
        Created by K-12 Students & Teachers<br/>
      </div>
      <div id='signup-home' itemscope itemtype="http://schema.org/PriceSpecification">
        <span itemprop="price" content="free">
          <%= link_to "Sign Up - It's Free!", signup_path, class: "btn btn-large btn-primary" %>
        </span>  
      </div>
    </div>
    <div class="span7">
      <%= link_to image_tag("/attachments/contest.jpg", alt: "Shooloo Math Story Contest"), contest_path %>
    </div>
  </div>
  <div class="row-fluid" id='home-center'>
    <div class="span12" id='home-center-text-margin' >
      <span id='home-center-text'><span itemprop="educationalUse">Inquiry-Based Learning</span> for <span itemprop="educationalAlignment">Common Core</span> <span itemprop="about">Math</span></span>
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span4 well well-medium">
      <span class="text_center">
        <h3><%= link_to "Student-Authored", posts_path %></h3>
      </span>
      <ul>
        <li><span itemprop="audience">Students</span> publish <span itemprop="genre">word problems</span>.</li>
        <li>Students give each other feedback.</li>
        <li>Students demonstrate solutions.</li>
      </ul><br/>
      <span itemprop="typicalAgeRange", content="8-10, 10-12, 12-14"></span>
      <span itemprop="interactivityType", content="mixed"></span>
      <span itemprop="learningResourceType", content="Assessment, Discussion, On-Line, Worksheet"></span>
      <img itemprop="image" src="/attachments/student_small.jpg" alt="Shooloo Common Core Math student authored" class="photo_home">
    </div>
    <div class="span4 well well-medium" itemprop="educationalAlignment" itemscope itemtype="http://schema.org/AlignmentObject">
      <meta itemprop="educationalFramework", content="Common Core State Standards">
      <span class="text_center">
        <h3><%= link_to "CCSS-Aligned", standards_path %></h3>
      </span>
      <span itemprop="alignmentType" content="requires"></span>   
      <span itemprop="targetName" content="CCSS.Math.Practice.MP3, CCSS.Math.Practice.MP4"></span>
      <span itemprop="targetUrl" content="http://www.corestandards.org/Math/Practice/MP3, http://www.corestandards.org/Math/Practice/MP4"></span>
      <ul itemprop="targetDescription">
        <li>Construct viable arguments.</li>
        <li>Critique the reasoning of others.</li>
        <li>Model real life with mathematics.</li>
      </ul><br/>    
      <img itemprop="image" src="/attachments/Kids_Computer.jpg" alt="Shooloo Common Core Math standard driven" class="photo_home" >
    </div>
    <div class="span4 well well-medium">
      <span class="text_center">
        <h3><%= link_to "Insightful Analytics", sample_dashboard_path %></h3>
      </span>
      <ul>
        <li>Automated progress tracking.</li>
        <li>Real-time reporting.</li>
        <li>Standard-based grading.</li>
      </ul><br/>
      <img itemprop="image" src="/attachments/effective_small.jpg" alt="Shooloo Common Core Math Analytics" max-height="173px" class="photo_home">
    </div>
  </div>
</div>
