<% title 'Contest' %>
<% description 'Prizes and Rules of the Shooloo Healthy Eating Math Story Contest' %>

<h1> Shooloo Healthy Eating Math Story Contest </h1>
<div class='row'>
	<div class='span2'>
		<div class='bs-docs-sidebar'>
			<ul class='nav nav-list bs-docs-sidenav affix'>
				<li><a href="#overview">Overview</a></li>
				<li><a href="#awards">Adwards</a></li>
				<li><a href="#deadline">Deadline</a></li>
				<li><a href="#who">Who May Enter</a></li>
				<li><a href="#how">How to Enter</a></li>
				<li><a href="#win">How to Win</a></li>
				<li><a href="#rules">Rules of Contest</a></li>
				<li><a href="#lesson">Sample Problems</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>
			<div class='affix center' style="margin-top: 550px;">
				<p><strong>Sponsored by</strong><p>
				<p><a href="http://www.kindsnacks.com/" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?">Kind Snacks</a></p>
				<p><a href="http://EnchantedCollar.com" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?">Enchanted Collar </p>
				<p><a href="http://www.popchips.com/" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?">Pop Chips </p>
				<p><a href="http://www.quinnpopcorn.com/" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?">Quinn Popcorn</a></p>
			</div>
		</div>		
	</div>
	<div class='span10 auth-font scrollspy-example' style="margin-left: 200px" data-spy="scroll" data-target=".bs-docs-sidebar">
		<div id="overview">
			<h2>Overview</h2>
			<span itemprop="image">
				<%= image_tag("/attachments/nutrition.jpeg", alt: "Shooloo healthy eating math story contest", style: "float: right; margin-left: 1em; border-radius: 5px;", title: "Shooloo healthy eating math story contest") %>
			</span>
			<p> Nearly 1 in 3 children aged 2-19 in the United States is overweighed or obese. Unhealthy eating patterns and physical inactivity are the top two contributors to childhood obesity. For young consumers to understand nutrition labels and make healthy eating decisions, they must utilize high-level mathematical skills, e.g., fractions, ratios, and proportional relationships.</p>
			<p>To promote mathematical reasoning and critical thinking among young consumers, Shooloo.org is hosting a healthy eating math story contest. Students and teachers in grades 3-12 are invited to submit on Shooloo their own <%= link_to "questions", posts_path %> regarding eating choices, conduct research, gather data, devise solutions, and obtain feedback. Winners will be selected at the end of August 2014 and be awarded with <a href="#awards">prizes</a> from our proud sponsors.</p>
		</div> 
		<div id="awards">
			<h2>Awards</h2>
			<p> Participants have the potential to win prizes in the following four categories:
				<ul class="popover-list">
					<li><strong> Teacher Advocacy Award:</strong> Top 10 teachers with the highest advocacy points will each win up to $1,000 worth of prizes from our sponsors, including healthy snacks and books.
					</li>
					<li><strong> Teacher Expert Award:</strong> One teacher from each of the grades 3-12 with the highest inspiration and education points combined will win $1,000 worth of prizes.</li>
					<li><strong>Student Expert Award:</strong> One student from each of the grades 3-12 with the highest qualified entries will win $500 worth of prizes.</li>
					<li><strong>Student Adept Award:</strong> One student from each of the grades 3-12 with the second highest qualified entries will win $200 worth of prizes.</li>
				</ul>
			</p>
		</div> 	
		<div id="deadline">
			<h2>Deadline</h2>
			<p> All contestants' points will be automatically and continuously tallied  throughout the duration of the contest. The contest cut off time will be 3:00 pm EDT on August 15, 2014. Winners will be announced in the last week of August. Awards will be sent to the winners' school or home address in the first week of September.
			</p>
		</div>
		<div id="who">
			<h2>Who May Enter</h2>
			<p> Teachers and students in grades 3-12 in the U.S. may enter the contest. Winners will be required to supply personal identification credentials for us to verify age and school affiliation. 
			</p>
		</div>
		<div id="how">
			<h2>How to Enter</h2>
			<p>
				<% if signed_in? %>
					<% if current_user.visible? %>
						<%= link_to "Submit your entry", new_post_path %> of math stories about healthy eating and/or <%= link_to "refer a friend", new_invitemail_path %> now.
					<% else %>
						<% if !current_user.complete? %>
							<%= link_to "Request authorization", new_authorization_path %> to enter the contest.
						<% else %>
							<%= link_to "Complete your profile", edit_user_path(current_user) %> and then request authorization to enter the contest.
						<% end %>
					<% end %>
				<% else %> 
					If you are an authorized Shooloo member, <%= link_to "log in", signin_path %> to submit your entry. If not, <%= link_to "sign up", signup_path %> now.
				<% end %>
			</p>
		</div> 	  
		<div id="win">
			<h2>How to Win</h2>
			<p><strong> Teacher Advocacy Award:</strong> Teachers can invite their fellow educators to join Shooloo. If a referred educator signs up using your email address and invitation code, both of you will earn 10 Advocacy points. When that referred educator imports his/her student roster into Shooloo, both of you will earn another 30 Advocacy points. The top 10 teachers who have accumulated the highest Advocacy points by the cut-off date will win the Awards. 
			</p>
			<p><strong> Teacher Expert Award:</strong> Teachers accumulate Expert points in two ways: 1) each time your students' contest entry is qualified AND accepted, you will earn 10 Inspiration points; 2) each time your own contest entry is accepted, you will earn 20 Education points. Your Inspiration points and Education Point are combined into Expert points. One teacher from each of the grades 3-12 who has accumulated the highest Expert points will win the Award. To find out how to get a contest entry qualified and accepted, see the "Rules of Contest" section.
			</p>
			<p>To find out your point accumulation, log into Shooloo and look at the left side-bar of your alert page or home page.</p>
		</div> 	 	 			
	</div>
</div>
