<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
      	<h4>Create my own math problem.</h4>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Post Feed from Members I am Following</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
	<div class="center hero-unit">
  		<h1>Shooloo</h1>
  		<h2>Making math relevant, collaborative, and fun!</h2>	
       <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

