<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info', user: current_user %>
      </section>
      <section>
        <%= render 'shared/stats', user: current_user %>
      </section>
      <section>      	
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3 class="feed_item">
        Posts Published by Members that I Follow<a href="#", class="follow", rel="popover", title="What does Follow mean?", data-content="Go to <a href='/users'>All Shooloo Members</a> page, click the Follow button beside those profiles you like. Those members' posts will automatically show up on your home page. Your own posts will show up here as well."><i class="icon-question-sign icon-medium" ></i></a>
      </h3>
      <% if @feed_items.any? %>
        <%= render 'shared/feed' %>
      <% else %>
        <%= render 'shared/new_user_notice' %>
      <% end %>
    </div>
  </div>  
<% else %>
  <%= render 'static_pages/home_static' %>
<% end %>
