<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info', user: current_user %>
      </section>
      <section>
        <%= render 'shared/stats', user: current_user %>
      </section>
      <section>      	
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3 class="feed_item">Posts Published by Members that I <%= link_to "Follow", "#", "id" => "follow", "rel" => "popover", "title" => "How to Follow Other Members", "data-content" => "Click on the Community section of the menu bar, check out member profiles, click the Follow button on their profile pagees, and their posts as well as your own will automatically show up on your home page." %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <%= render 'static_pages/home_static' %>
<% end %>
