<% provide(:title, 'Terms of Service') %>

<h1>Terms of Service</h1>
<h2>Effective date: March 1, 2013</h2>

<p><strong>IMPORTANT! If you are not of legal age to form a binding contract (in many places, this is 18 years old), then you must get your parent or guardian to read these terms and agree to them for you before you use Shooloo.org or provide any information to us. Please review this agreement with your parent or guardian so that you both understand how Shooloo.org works and what restrictions apply to your use of our websites and services. Remember: always get an adult’s permission before going online.</strong></p>

<P>Thank you for using Shooloo.org! Before you use our websites and services (“Services”), we need you to agree to some rules. When we use the word “Services,” we mean not only the Shooloo.org website, but also all the other websites, products, services and applications made available by Shooloo Inc. If you have any questions, comments, or concerns regarding these Terms or the Services, please contact us <%= link_to "here", contact_path %>, or write us at Shooloo Inc., 222 Broadway, 19th Floor, New York, NY 10038, USA.</p>

<P>These Terms of Service (the “Terms”) are a binding contract between you and Shooloo Inc. You must agree and accept all of the Terms, or you don’t have the right to use the Services. Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.</p>

<P>These Terms include the provisions in this document, and in <%= link_to "the Shooloo.org Privacy Statement", privacy_path %>. Our Services are constantly changing to keep up with the dynamic needs of learners everywhere. Accordingly, we may change these Terms at any time and in our sole discretion. The modified Terms will be effective immediately upon posting and you agree to the new posted Terms by continuing your use of our site. You are responsible for staying informed of any changes. If you do not agree with the modified Terms of Use, your only remedy is to discontinue using the Shooloo.org Websites.</p>

<P>Shooloo.org takes the privacy of its users very seriously. We fully comply with the Children’s Online Privacy and Protection Act (“COPPA”). COPPA requires that online service providers obtain parental consent before they collect personally identifiable information online from children who are under 13. Therefore, we only collect personal information through the Services from a child under 13 where that student’s school, district, and/or teacher has agreed (via the terms described in the following paragraph) to obtain parental consent for that child to use the Services and disclose personal information to us, for the use and benefit of the learning environment.</p> 

<P>If you are a student under 13, please do not send any personal information about yourself to us if your school, district, and/or teacher has not obtained this prior consent from your parent or guardian, and please do not send any personal information other than what we request from you in connection with the Services.</p>

<P>If you are a school, district, or teacher, you represent and warrant that you are solely responsible for complying with COPPA, meaning that you must obtain advance written consent from all parents or guardians whose children under 13 will be accessing the Services. When obtaining consent, you must provide parents and guardians with <%= link_to "our Privacy Statement", privacy_path %>. You must keep all consents on file and provide them to us if we request them.</p> 

<P>If you are a teacher, you represent and warrant that you have permission and authorization from your school and/or district to use the Services as part of your curriculum, and for purposes of COPPA compliance, you represent and warrant that you are entering into these Terms on behalf of your school and/or district.</p>

<p><strong>What are the basics of using Shooloo.org?</strong></p>

<p>First, you have to sign up for an account, and select a password and screen name (“Shooloo.org User ID”). You promise to provide us with accurate, complete, and updated registration information about yourself. You can’t select for your Shooloo.org User ID a name that you don’t have the rights to use or another person’s name with the intent to impersonate that person. In certain situations, your Shooloo.org User ID may be selected for you by your school or district; the same rules apply to them when they select an Shooloo.org User ID for you. You may not transfer your account to anyone else without our prior written permission.</p>

<p>You represent and warrant that you are of legal age to form a binding contract (or if not, you’ve received your parent’s or guardian’s permission to use the Services and gotten your parent or guardian to agree to these Terms on your behalf, as we described earlier). If you’re agreeing to these Terms on behalf of an organization or entity (for example, if you’re an administrator agreeing to these Terms on behalf of your district), you represent and warrant that you are authorized to agree to these Terms on that organization or entity’s behalf and bind them to these Terms.</p>

<p>You promise to only use the Services for your personal, internal, non-commercial, educational use, and only in a manner that complies with all laws that apply to you. If your use of the Services is prohibited by applicable laws, then you aren’t authorized to use the Services. We can’t and won’t be responsible for you using the Services in a way that breaks the law.</p>

<p>Also, your use of the Services is subject to our <%= link_to "Rules of Conduct", rules_path %>, which outlines what you can and can’t do with and on the Services. Read the <%= link_to "Rules of Conduct", rules_path %> carefully, and please be a good digital citizen at all times – we are all in this together! A violation of the <%= link_to "Rules of Conduct", rules_path %> will be grounds for termination of your right to use or access the Services.</p>

<p><strong>What are the basics of intellectual property protection?</strong></p>

<ol>
	<li>
		<p><strong>The Content</strong></p>
		<p>The materials displayed or performed on the Services (including, but not limited to, text, graphics, articles, photos, images, illustrations, User Submissions (defined below), and so forth) (the “Content”) are protected by copyright and other intellectual property laws. You promise to abide by all copyright notices, trademark rules, information, and restrictions contained in any Content you publish or access through the Services, and you won’t use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purpose any Content not owned by you, (i) without the prior consent of the owner of that Content or (ii) in a way that violates someone else’s (including Shooloo’s) rights.</p>
		<p>You understand that Shooloo.org owns the Services. You won’t modify, publish, transmit, participate in the transfer or sale of, reproduce (except as expressly provided in this Section), creative derivative works based on, or otherwise exploit any of the Services.</p>
		<p>The Services may allow you to copy or download certain Content; please remember that just because this functionality exists, doesn’t mean that all the restrictions above don’t apply.</p>
	</li>
	<li>
		<p><strong>User Submissions</strong></p>
		<p>Anything you post, upload, share, store, or otherwise provide through the Services is your “User Submission.” User Submissions are viewable by other users. In order to display your User Submissions on the Services, and to allow other users to enjoy them (where applicable), you grant us certain rights in those User Submissions. Please note that all of the following licenses are subject to <%= link_to "our Privacy Statement", privacy_path %> to the extent they relate to User Submissions that are also your personally identifiable information.</p>
		<p>For all User Submissions, you hereby grant Shooloo.org a license to translate, modify and reproduce such User Submission, in each case to enable us to operate the Services, as described in more detail below. This is a license only – your ownership in User Submissions is not affected.</p>
		<p>You also grant Shooloo.org the license to display, perform, and distribute your User Submission for the purpose of displaying that User Submission to all Shooloo.org users and providing you the Services necessary to do so, as well as all other rights necessary to use and exercise all rights in that User Submission in connection with Shooloo.org, provided that Shooloo.org will try to notify you if it uses your User Submission for any reason other than displaying it on the Services. Also, you grant all other users of the Services a license to access that User Submission, and to use and exercise all rights in it, as permitted by the functionality of the Services.</p>
		<p>You agree that the licenses you grant are royalty-free, irrevocable, and worldwide, for as long as your User Submissions are stored with us. When you delete your Shooloo.org account, we will stop displaying your User Submissions to other users (if applicable), but you understand and agree that it may not be possible to completely delete that content from Shooloo.org’s records, and that your User Submissions may remain viewable elsewhere to the extent that they were copied or stored by other users.</p>
		<p>Finally, you understand and agree that Shooloo.org, in performing the required technical steps to provide the Services to our users (including you), may need to make changes to your User Submissions to conform and adapt those User Submissions to the technical requirements of connection networks, devices, services, or media.</p>		
	</li>
	<li>
		<p><strong>Digital Millennium Copyright Act (DMCA) Takedown Policy</strong></p>
		<p>We respect the intellectual property rights of others and expects you to do the same. We reserve the right to (1) block access to or remove material that we believe in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users and (2) remove and discontinue service to repeat offenders. </p>
	</li>
</ol>

<p><strong>What can I do with the content on Shooloo.org?</strong></p>

<p>We respect the right of others to make “fair use” of the materials contained on our site; accordingly, you may from time to time excerpt and use materials set forth on this site consistent with the principles of “fair use”. Unless expressly permitted, you may not copy, reproduce, distribute, publish, enter into a database, display, perform, modify, create derivative works from, transmit or in any way exploit any part of our site or any content thereon, except that you may make one print copy that is limited to occasional articles of personal interest only. Without limiting the generality of the foregoing, you may not distribute any part of this site or any content thereon over any network, including, without limitation, a local area network, or sell or offer it for sale. In addition, these files may not be used to construct any kind of database. </p>

<p>We are concerned about the integrity of our site when it is viewed in a setting created by a third party that includes advertising or other materials that we have not authorized to be displayed with the content of our site. Neither you nor any third party shall make use of the contents of our site in any manner that constitutes an infringement of our rights, including copyright or that has not been authorized by us.</p>
	
<p><strong>Who is responsible for what I see and do on the Services?</strong></p>

<p>Opinions and other statements expressed by users and third parties are theirs alone, not opinions of Shooloo Inc. Any information or content publicly posted through the Services is the sole responsibility of the person from whom such content originated, and you access all such information and content at your own risk, and we aren’t liable for any errors or omissions in that information or content or for any damages or loss you might suffer in connection with it. We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Services. The Services may contain, or direct you to websites containing, information you may find offensive or inappropriate; we can’t control that, but please let us know if it happens and we’ll try to remedy the situation.</p>

<p>We also can’t guarantee the identity of any users with whom you interact in using the Services and are not responsible for which users gain access to the Services. But that doesn’t mean we don’t take security seriously; we require teachers, schools, and districts guard their Access Codes with the appropriate confidentiality, and we enable teachers with moderation tools for monitoring content published by their students.</p>

<p>You are responsible for all Content you contribute, in any manner, to the Services, and you represent and warrant you have all rights necessary to do so, in the manner in which you contribute it. You will keep all your registration information accurate and current. You are responsible for all your activity in connection with the Services.</p>

<p>The Services may contain links or connections to third party websites or services that are not owned, operated, or controlled by Shooloo Inc. When you access third party websites or use third party services, you accept that there are risks in doing so, and that Shooloo Inc. is not responsible for such risks. We encourage you to be aware when you leave the Services and to read the terms and conditions and privacy policy of each third party website or service that you visit or utilize.</p>

<p>Shooloo Inc. has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions expressed in any third party websites or by any third party that you interact with through the Services. In addition, Shooloo Inc. will not and cannot monitor, verify, censor or edit the content of any third party site or service (including without limitation the Publisher Software). By using the Services, you release and hold us harmless from any and all liability arising from your use of any third party website or service.
</p>

<p>If there is a dispute between participants on this site, or between users and any third party, you agree that Shooloo Inc. is under no obligation to become involved. In the event that you have a dispute with one or more other users, you release Shooloo Inc., its officers, employees, agents, and successors from claims, demands, and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and/or our Services.</p>

<p><strong>Will Shooloo.org ever change the Services?</strong></p>

<p>Shooloo.org is a dynamic learning tool, so the Services will change over time. We may change, suspend, or discontinue any part of the Services, or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Services. We’ll try to give you notice when we make a material change to the Services that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right to remove any Content from the Services at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), or without any reason, and without notice.</p>

<p><strong>Does Shooloo.org cost anything?</strong></p>

<p>The basic Shooloo.org Services are free and always will be – that is, we don’t charge for signing up for a basic, individual Shooloo.org account. However, we may offer certain premium products and services for a fee. </p>

<p><strong>What if I want to stop using Shooloo.org?</strong></p>

<p>You’re free to do that at any time; please refer to our Privacy Statement as well as the licenses above, to understand how we treat information you provide to us after you have stopped using our Services.</p>

<p>Shooloo.org is also free to terminate (or suspend access to) your use of the Services or your account, for any reason, including your breach of these Terms. Shooloo.org has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms.</p>

<p>Provisions that, by their nature, should survive termination of these Terms shall survive termination. By way of example, all of the following will survive termination: any obligation you have to pay us or indemnify us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms regarding disputes between us.</p>

<p><strong>Other Legal Matters</strong></p>
<ol>
	<li>
		<p><strong>Warranty Disclaimer</strong></p>
		<p>Shooloo.org does not make any representations or warranties concerning any content contained in or accessing through the Services, and we will not be responsible or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed through the Services. We make no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Services. Products and services purchased or offered (whether or not following such recommendations and suggestions) through the Services are provided “AS IS” and without any warranty of any kind from Shooloo.org or others (unless, with respect to such others only, provided expressly and unambiguously in writing by a designated third party for a specific product). The services, content, website, and any software are provided on an “as-is” basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose, non-infringement, or that use of the services will be uninterrupted or error-free. Some states do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply to you. </p>
	</li>
	<li>
		<p><strong>Limitation of Liability</strong></p>
		<p>Shooloo Inc. and its affiliates, and their respective members, directors, officers, managers, employees, shareholders, agents and licensors are not liable for incidental, indirect, consequential, special, punitive, or exemplary damages of any kind, including, without limitation, lost revenues or profits, loss of business or loss of data, in any way related to this site or for any claim, loss or injury based on errors, omissions, interruptions or other inaccuracies in our site (including, without limitation, as a result of breach of any warranty or other term of these Terms and Conditions). Any claim against us shall be limited to the amount you paid, if any, for use of our site.</p>
	</li>
	<li>
		<p><strong>Indemnity</strong></p>
		<p>You agree to indemnify and hold Shooloo Inc., its affiliates, officers, agents, employees, contractors, and partners harmless for and against any and all claims, liabilities, damages (actual and consequential), losses, and expenses (including attorneys’ fees) arising from or in any way related to any third party claims relating to (a) your use of the Services (including any actions taken by a third party using your account), and (b) your violation of these Terms. In the event of such a claim, suit, or action (“Claim”), we will provide notice of the Claim to the contact information we have for your account (provided that failure to deliver such notice shall not eliminate or reduce your indemnification obligations hereunder).</p>
	</li>
	<li>
		<p><strong>Assignment</strong></p>
		<p>You may not assign, delegate, or transfer these Terms or your rights or obligations hereunder, or your Services account, in any way (by operation of law or otherwise) without Shooloo’s prior written consent. We may transfer, assign, or delegate these Terms and our rights and obligations without consent.</p>
	</li>
	<li>
		<p><strong>Choice of Law; Arbitration</strong></p>
		<p>These Terms are governed by and will be construed under the laws of the State of New York, without regard to the conflicts of laws provisions thereof. Any dispute arising from or relating to the subject matter of these Terms shall be finally settled in New York County, New York, in English, in accordance with the Streamlined Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with the Arbitration Rules and Procedures of JAMS. Judgment upon the award rendered by such arbitrator may be entered in any court of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate disputes, each party shall have the right to pursue injunctive or other equitable relief at any time, from any court of competent jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the United States Federal Courts located in the Southern District of New York.</p>
	</li>
	<li>
		<p><strong>Miscellaneous</strong></p>
		<p>You will be responsible for withholding, filing, and reporting all taxes, duties, and other governmental assessments associated with your activity in connection with the Services. The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder. If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable. You and Shooloo.org agree that these Terms are the complete and exclusive statement of the mutual understanding between you and Shooloo.org, and that it supersedes and cancels all previous written and oral agreements, communications, and other understandings relating to the subject matter of these Terms, and that all modifications to these Terms must be in a writing signed by both parties (except as otherwise provided herein). No agency, partnership, joint venture, or employment is created as a result of these Terms and you do not have any authority of any kind to bind Shooloo.org in any respect whatsoever. You and Shooloo.org agree there are no third party beneficiaries intended under this Agreement.</p>
	</li>
</ol>


