<% if activity.trackable %>
		added a rating on <%= activity.created_at.strftime("%b %d, %Y") %>
		to post  
		#<%= link_to activity.trackable.rated_post.id, new_post_comment_path(activity.trackable.rated_post) %> 
		written by 
		<%= link_to activity.trackable.rated_post.user.screen_name, posts_user_path(activity.trackable.rated_post.user) %>
		in <i><%= activity.trackable.rated_post.user.grade %></i>.
		<span class="btn-formtastic">
			<%= image_tag activity.trackable.rated_post.user.avatar.url (:small) %> 
		</span> 
<% else %>
	added a rating to your post and then deleted it.
<% end %>