<% if activity.trackable %>
	<span class='alert-heading'>
		added a <strong><%= link_to "COMMENT", new_post_comment_path(activity.trackable.commented_post) %></strong>  
		on <%= activity.created_at.strftime("%b %d, %Y") %> to post 
		(#<%= link_to activity.trackable.commented_post.id, new_post_comment_path(activity.trackable.commented_post) %>)	
	</span> 
	<br/>
	that you have published or commented.<br/>
	Respond to comments and revise <%= link_to "your post", new_post_comment_path(activity.trackable.commented_post) %>. <br/>
	Add comments to
	<%= link_to "#{activity.user.screen_name}'s posts", posts_user_path(activity.user) %>.
<% else %>
	<span class='alert-heading'>
		added then deleted a comment.
	</span>
<% end %>