<% if activity.trackable %>
	<span class='alert-heading'>
		added a <strong><%= link_to "COMMENT", lesson_comment_path(activity.trackable.commented_lesson) %></strong>  
		on <%= activity.created_at.strftime("%b %d, %Y") %> to Lesson Plan 
		(#<%= link_to activity.trackable.commented_lesson.id, lesson_comment_path(activity.trackable.commented_lesson) %>)	</span> 
	<i class='icon-comment icon-medium'></i><br/>
	that you have published or commented.
	Respond to comments and revise <%= link_to "your lesson", lesson_comment_path(activity.trackable.commented_lesson) %>. <br/>
	Add comments to
	<%= link_to "#{activity.user.screen_name}'s lessons", lessons_user_path(activity.user) %>.
<% else %>
	<span class='alert-heading'>
		added then deleted a comment.
	</span>
	<i class='icon-trash'></i>
<% end %>