<div>
	<%= render partial: 'posts/post_simple', locals: {post: @post} %>
</div>
<h2>Private Note to Myself</h2>
<%= form_for keep, url: url do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>
  	<%= f.hidden_field :kept_post_id, value: @post.id %>
    <%= f.cktext_area :note, rows: 5 %>
    <div class="right_align create">
  		<%= f.submit save, class: "btn btn-large btn-primary", disable_with: "Proccessing..." %>
  	</div>
<% end %>