<% provide(:title, "Alarms") %> 

<h1> All Alarms</h1>

<% @alarms.each do |alarm| %>    
  <%= div_for alarm do %>
    <%= link_to alarm.alarmer.first_name, posts_user_path(alarm.alarmer) %>
    <%= alarm.alarmer.last_name %>
    raised alarm on 
        <% unless alarm.alarmed_post_id.nil? %>
            post #
            <%#= link_to alarm.alarmed_post_id, alarm.alarmed_post %> 
            <%= link_to alarm.alarmed_post_id, new_post_comment_path(alarm.alarmed_post) %>
            written by
            <%= alarm.alarmed_post.user.first_name %>
            <%= alarm.alarmed_post.user.last_name %>
        <% else %>
            comment #
            <%= link_to alarm.alarmed_comment_id, new_post_comment_path(alarm.alarmed_comment.commented_post) %>
            written by
            <%= alarm.alarmed_comment.commenter.first_name %>
            <%= alarm.alarmed_comment.commenter.last_name %>
        <% end %>
        at <%= alarm.created_at %> 
  <% end %>
<% end %>