<% title 'Invisible Problems and Comments' %> 
<% description 'Problems and comments that are invisible to the public'%> 
<% noindex %>
<% nofollow %>

<h1> Alarms Raised on My Students' Posts and Comments</h1>
<ul class="users">
    <% @alarms.each do |alarm| %>   
        <% if current_user.admin? ||
            current_user.authorized_users.include?(alarm.alarmer) ||
            current_user == alarm.alarmer ||
            (current_user.authorized_users.include?(alarm.alarmed_post.user) if 
                !alarm.alarmed_post_id.nil?) ||
            (current_user.authorized_users.include?(alarm.alarmed_comment.commenter) if !alarm.alarmed_comment_id.nil?)  %>
            <li> 
                <%= link_to alarm.alarmer.full_name_us, posts_user_path(alarm.alarmer) %>
                raised alarm on 
                    <% if !alarm.alarmed_post_id.nil? %>
                        post 
                        #<%= link_to alarm.alarmed_post_id, post_comments_path(alarm.alarmed_post_id) %>
                        written by
                        <%= alarm.alarmed_post.user.full_name_us %>
                    <% else %>
                        comment 
                        #<%= link_to alarm.alarmed_comment_id, post_comments_path(alarm.alarmed_comment.commented_post) %>
                        written by
                        <%= link_to alarm.alarmed_comment.commenter.first_name %>
                        <%= alarm.alarmed_comment.commenter.last_name %>
                    <% end %>
                on <%= alarm.created_at.strftime("%b %d, %Y") %> 
            </li>
        <% end %> 
    <% end %>       
</ul>
<%= render partial: 'shared/teacher_buttons' %>
