<span class="no alert-heading">
	<% if activity.trackable %>
		<strong><%= link_to "ASSIGNED", responses_user_path(current_user) %></strong> you to
		<% if activity.trackable.assignment.assigned_post_id.nil? %>
			<%= link_to "create a new post", new_response_post_path(activity.trackable) %>
			on <%= activity.created_at.strftime("%b %d, %Y") %>.
			<strong><%= link_to "Use this form to submit your homework", new_response_post_path(activity.trackable) %></strong>.
		<% else %>
			<%= link_to "solve and critique post #{activity.trackable.assignment.assigned_post_id}", new_response_comment_path(activity.trackable) %>on <%= activity.created_at.strftime("%b %d, %Y") %>.
			<strong><%= link_to "Use this form to submit your homework", new_response_comment_path(activity.trackable) %></strong>.
		<% end %> 
	<% else %>
		added an assignment on <%= activity.created_at.strftime("%b %d, %Y") %> which has since been withdrawn it.
	<% end %>
</span>