<% if !post.nil? %> 
    <h1>New Assignment to Solve & Critique A Word Problem</h1>
    <div class="center alert-heading"> 
        Watch this 4-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to assignment homework</a></span>.
      </p>
      <div id="collapseVideo" class="accordion-body collapse">      
            <div class="accordion-toggle center-div">
                <% @video = Video.find(12) %>
            <%= render partial: 'videos/video_player', locals: {video: @video} %> 
        </div>
      </div>
    </div>     
    <div class="row alert-heading bottom-margin">
        <div class="image">
            <%= image_tag(post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{post.id}", title: "Shooloo Common Core Math Problem ##{post.id}")  %><br/>
            <% unless post.image_host.nil? %>
              <span class="image-host-large">Image courtesy of <%= post.image_host %>.
              </span><br/> 
            <% end %>
        </div>
        <p><strong>Question:</strong> <%= post.question.html_safe %></p>
        <p><strong>Answer:</strong> <%= post.answer.html_safe %></p>
    </div>
    <div class="alert-heading yes center row">
        <p >
        	Please ensure the following CCSS standard is applicable this word problem. <br/> It impacts the accuracy of your assignment and grading.
        </p>
    </div>
<% else %>
    <div class="negative-top">
        <h1>New Assignment to Create A Math Word Problem</h1>
        <div class="center alert-heading"> 
            Watch this 4-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to assign homework</a></span>.
          </p>
          <div id="collapseVideo" class="accordion-body collapse bottom-margin">      
                <div class="accordion-toggle center-div">
                    <% @video = Video.find(12) %>
                <%= render partial: 'videos/video_player', locals: {video: @video} %> 
            </div>
          </div>
        </div> 
    </div>  
<% end %>    
<%= semantic_form_for assignment, url: url, :html => {class: "form-horizontal-post-update", 'data-action' => 'update'} do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_assignment', object: f.object %>
    <%= f.inputs do %>
        <% unless post.nil? %>
            <%= f.input :assigned_post_id, as: :hidden, input_html: {value: post.id}, class: "hidden" %> 
        <% end %>
        <div class="span6">
            <%= f.input :start_date, as: :date_select, start_year: 2013, order: [:month, :day, :year], label: "Start date:" %> 
        </div> 
        <div class="span5 end-date">
            <%= f.input :end_date, as: :date_select, start_year: 2013, order: [:month, :day, :year], label: "End date:" %>
        </div>    
    	<%= render partial: 'shared/ccss', locals: {f: f} %>
        <p class="alert-heading yes center">
            List your instructions for this assignment.<br/> 
            <% if post.nil? %>
                For example: create a 3-step word problem about ratios; include a table in your solution.
            <% else %>
                For example: demonstrate your solution with a table; give at least 2 suggestions to make this post better.
            <% end%>
        </p> 
        <div class="margin-bottom"> 
            <%= f.input :instruction, as: :ckeditor %> 
        </div>
        <%= f.input :assignee_level, as: :select, collection: @grades, include_blank: true, label: "Assign to ALL my students in grade:" %>
        <div class="normal-font center yes">
            <p><strong>Alternatively, leave the above student grade selection blank</strong>, and choose individual students below instead.<br/><strong>Type part of your student's name into the box below</strong> and selection choices will show up automatically.</p>
        </div> 
        <%= f.input :assignees, as: :select, collection: assignees, label: "Assign individually:", include_blank: true, :member_label => Proc.new { |user| "#{user.last_name}, #{user.first_name} (Grade #{user.grade})" }, input_html: {class: "chosen-select"} %>
    <% end %>
    <%= f.actions do %>
       <%= f.action :submit, label: save, as: :button, button_html: { class: " btn btn-formtastic btn-large btn-primary", disable_with: "Proccessing..." } %>
    <% end %>
<% end %>