<% title "Create Assignment" %>
<% description "Create a new math assignment aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>

<h1> Create A New Assignment </h1>
    <% if @post.nil? %>
    <% else %>         
        <p>
          <strong>Question: </strong><%= @post.question.html_safe %>
        </p>
        <p>
          <strong>Answer: </strong><%= @post.answer.html_safe %>
        </p>

        <p class="alert-heading no center">
        	Please ensure the following I-can statememt is sbuitable for the above question. <br/> It impacts the accuracy of your assignment and grading.
        </p>
    <% end %>    
    <%= semantic_form_for @assignment, :html => {class: "form-horizontal-post-update", 'data-action' => 'update'} do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
        <%= f.inputs do %>
        	<%= f.input :level_id, as: :select, include_blank: true, label: "Suitable grade:", collection: Hash[Level.all.map{|level| [level.name, level.id]}]  %>
        	<%= f.input :domain_id, as: :select, include_blank: true, label: "Skills involved", collection: option_groups_from_collection_for_select(Level.order(:name), :domains, :name, :id, :name, f.object.domain_id)  %>  
        	<%= f.input :standard_id, as: :select, include_blank: true, label: "I-can Statement", collection: option_groups_from_collection_for_select(Domain.order(:name), :standards, :name, :id, :ICan, f.object.standard_id) %>
            <p class="alert-heading no center">
                List your instructions for this assignment.<br/> 
                <% if @post.nil? %>
                    For example: create a 3-step word problem about ratios; include a table in your solution.
                <% else %>
                    For example: demonstrate your solution with a table; give at least 2 suggestions to make this post better.
                <% end%>
            </p> 
            <div class="bottom-margin"> 
                <%= f.input :instruction, as: :ckeditor %> 
            </div>       
            <%= f.input :assignees, as: :check_boxes, collection: @assginees, label: "Assign to:", include_blank: false, :member_label => Proc.new { |user| "#{user.last_name}, #{user.first_name} (G#{user.grade})" } %>
            <% unless @post.nil? %>
                <%= f.input :assigned_post_id, as: :hidden, value: @post.id, class: "hidden" %> 
            <% end %>
        <% end %>
        <%= f.actions do %>
	       <%= f.action :submit, label: "Assign", as: :button, button_html: { class: " btn btn-formtastic btn-large btn-primary", disable_with: "Proccessing..." } %>
        <% end %>
    <% end %>
    


