<% title "Assignment Details" %>
<% description "Assignment details" %>
<% noindex %>
<% nofollow %>

<h1> Assignment Details </h1>
<div class="row">
	<div class="span7 well well-small">
		<table class="table-grade normal-font">
			<tr>
				<th>Standard:</th> 
				<td><%= link_to @assignment.standard.short, @assignment.standard.url, target: "_blank", confirm: "You are about to visit a site that is not part of Shooloo. Continue?"  %> -- 
					<%= @assignment.standard.description %></td>
			</tr>
			<tr> 
				<th>Instruction: </th>
				<td><%= @assignment.instruction.html_safe %></td>
			</tr>
			<tr>
				<th>Assigned: </th>
				<td>
					<% if !@assignment.assigned_post_id.nil? %>
						Solve problem #<%= link_to @assignment.assigned_post_id, post_comments_path(@assignment.assigned_post_id) %> 
					<% else %>
						Create a new post
					<% end %>
				</td>
			</tr>
			<tr>
				<th>Dates: </th>
				<td>
					starting on <%= @assignment.start_date %><br/>
					ending on <%= @assignment.end_date %>
				</td>
			</tr>
		</table>
	</div>

	<div class="span4 search-label chart-height">
		<%= render partial: 'shared/chart_grading', locals: {grade: @grades} %>
	</div>
</div>

<div class="margin-bottom">
	<i class="btn-formtastic"> Sorted by students' grade levels first and then by last names. </i>
	<table class="table-ccss" id='t1' width="100%">
		<tr>
			<th></th>
			<th colspan="2"> Student Grade & Name </th>
			<th> Weakness </th>
			<th> Submissions </th>
			<th> Grades </th>
			<th> Private Notes to Student </th>
		</tr>
		<% @responses.each do |r| %>
			<tr>
				<td class="center">
					<%= link_to "delete", r, method: :delete, data: {confirm: "Delete this student off this homework assignment?" } %>
				</td>
				<td class="center">
					<%= r.assignee.grade %>
				</td>
				<td>
					<%= link_to r.assignee.full_name_uk, report_card_user_path(r.assignee) %>
				</td>
				<td>
					<% if !r.scorecard.nil? %>					
						<div class="score-color" style="background-color: <%= r.color.code %>;">
							<%= r.color.weakness %>
						</div>
					<% end %>
				</td>
				<td>		
					<% if r.posts.any? %>
						<% r.posts.each do |post| %>						
							#<%= link_to post.id, post_comments_path(post) %> 
						<% end %>
					<% elsif r.comments.any? %>
						<% r.comments.each do |comment| %>						
							#<%= link_to comment.id, new_comment_grading_path(comment) %> 
						<% end %>
					<% end %>
				</td>
				<td>
					<% if r.posts.any? %>
						<% r.posts.each do |post| %>
							<% if !post.grading.nil? %>
								<div class="score-color search-label" style="background-color: <%=post.color.code %>">
									<%= link_to "#{post.mark.full_mark}", edit_grading_path(post.grading) %> 
								</div>
							<% end %>
						<% end %>
					<% elsif r.comments.any? %>
						<% r.comments.each do |comment| %>
							<% if !comment.grading.nil? %>
								<div class="score-color search-label" style="background-color: <%=comment.color.code %>">
									<%= link_to "#{comment.mark.full_mark}", edit_grading_path(comment.grading) %> 
								</div>
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td>
					<% if r.posts.any? %>
						<% r.posts.each do |post| %>
							<% if !post.grading.nil? %>
								<%= post.grading.note.html_safe %> |
							<% end %>
						<% end %>
					<% elsif r.comments.any? %>
						<% r.comments.each do |comment| %>
							<% if !comment.grading.nil? %>
								<%= comment.grading.note.html_safe %> |
							<% end %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
		<%= render partial: 'shared/scroll2' %>
	</table>
</div>

<div class="center">
	<%= link_to "Edit assignment", edit_assignment_path(@assignment), class: "btn btn-large btn-success" %>
	<%= link_to "New assignment", new_assignment_path, class: "btn btn-large btn-primary" %>
	<%= link_to "All assignments", assignments_user_path(current_user), class: "btn btn-large btn-primary" %>
	<%= link_to "Past-due assignments", past_due_assignments_user_path(current_user), class: "btn btn-large btn-primary" %>
	<%= link_to "All grades", grading_results_user_path(current_user), class: "btn btn-large btn-primary" %>
</div>
