
<% title "Assignment Details" %>
<% description "Assignment details" %>
<% noindex %>
<% nofollow %>

<h1> Assignment Details </h1>

<div class="span7 well well-small">
	<table class="table-grade normal-font">
		<tr>
			<th>Standard:</th> 
			<td><%= link_to @assignment.standard.short, @assignment.standard.url, target: "_blank", confirm: "You are about to visit a site that is not part of Shooloo. Continue?"  %> -- 
				<%= @assignment.standard.description %></td>
		</tr>
		<tr> 
			<th>Instruction: </th>
			<td><%= @assignment.instruction.html_safe %></td>
		</tr>
		<tr>
			<th>Assigned: </th>
			<td>
				<% if !@assignment.assigned_post_id.nil? %>
					Solve problem #<%= link_to @assignment.assigned_post_id, post_comments_path(@assignment.assigned_post_id) %> 
				<% else %>
					Create a new post
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Dates: </th>
			<td>
				starting on <%= @assignment.start_date %><br/>
				ending on <%= @assignment.end_date %>
			</td>
		</tr>
	</table>
</div>

<div class="span4 search-label">
	<%= render partial: 'shared/chart_grading', locals: {grade: @grades} %>
</div>

<div class="create">
	<table class="table-ccss">
		<tr>
			<th></th>
			<th> Student Name </th>
			<th> Screen Name </th>
			<th> Weakness </th>
			<th> Submissions </th>
			<th> Grades </th>
			<th> Private Notes to Student </th>
		</tr>
		<% @responses.each do |r| %>
			<tr>
				<td>
					<%= link_to "delete", r, method: :delete, data: {confirm: "Delete this student off this homework assignment?" } %>
				</td>
				<td>
					<%= r.assignee.last_name %>, <%= r.assignee.first_name %> 
				</td>
				<td>
					<%= link_to r.assignee.screen_name, posts_user_path(r.assignee) %>
				</td>
				<td>
					<% if !r.scorecard.nil? %>					
						<div class="score-color" style="background-color: <%= r.color.code %>;">
							<%= r.color.weakness %>
						</div>
					<% end %>
				</td>		
				<% if r.posts.any? %>
					<% r.posts.each do |post| %>
						<td>
							Post 						
							#<%= link_to post.id, post_comments_path(post) %> 
				
						</td>
						<% if !post.grading.nil? %>
							<td class="center">	
								<%= link_to "#{post.mark.full_mark}", edit_grading_path(post.grading) %> 
							</td>
							<td>
								<%= post.grading.note %> 
							</td>
						<% else %>
							<td></td>
							<td></td>
						<% end %>
					<% end %>	
				<% elsif r.comments.any? %>
					<% r.comments.each do |comment| %>
						<td>
							Comment 						
							#<%= link_to comment.id, new_comment_grading_path(comment) %> 
						</td>
						<% if !comment.grading.nil? %>
							<td class="center">
								<%= link_to "#{comment.mark.full_mark}", edit_grading_path(comment.grading) %>
							</td>
							<td>							
								<%= comment.grading.note %>
							</td>
						<% else %>	
							<td></td>
							<td></td>
						<% end %>
					<% end %>
				<% else %>
					<td></td>
					<td></td>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>

<div class="center">
		<%= link_to "Edit assignment", edit_assignment_path(@assignment), class: "btn btn-large btn-success" %>
		<%= link_to "All assignments", assignments_user_path(current_user), class: "btn btn-large btn-primary" %>

	</div>
