<% title "Assignment Details" %>
<% description "Assignment details" %>
<% noindex %>
<% nofollow %>

<h1> Assignment Details </h1>

<div class="well well-small margin-bottom normal-font" align="center">
	<table cellpadding="10">
		<tr>
			<th>Standard:</th> 
			<td><%= @assignment.standard.short %> -- 
				<%= @assignment.standard.description %></td>
		</tr>
		<tr> 
			<th>Instruction: </th>
			<td><%= @assignment.instruction.html_safe %></td>
		</tr>
		<tr>
			<th>Assigned: </th>
			<td>
				<% if !@assignment.assigned_post_id.nil? %>
					Solve problem #<%= link_to @assignment.assigned_post_id, post_comments_path(@assignment.assigned_post_id) %> 
				<% else %>
					Create a new post
				<% end %>
				starting on <%= @assignment.start_date %> and ending on <%= @assignment.end_date %>
			</td>
		</tr>
	</table>
</div>

<div align="center">
	<table border="2" cellpadding="10">
		<tr>
			<th></th>
			<th> Student </th>
			<th> Completion </th>
			<th> Grading </th>
			<th> Private Comments to Student </th>
		</tr>
		<% @responses.each do |r| %>
			<tr>
				<td>
					<%= link_to "delete", r, method: :delete, data: {confirm: "Delete this student off this homework assignment?" } %>
				</td>
				<td>
					<%= r.assignee.last_name %>, <%= r.assignee.first_name %> 
				</td>				
				<% if r.posts.any? %>
					<td>
						Post 
						<% r.posts.each do |post| %>
							#<%= link_to post.id, post_comments_path(post) %> 
						<% end %>
					</td>
					<td class="center">
						<% r.posts.each do |post| %>
							<%= link_to "#{post.gradings.find_by_grader_id(current_user.id).mark.full_mark}", edit_grading_path(post.gradings.find_by_grader_id(current_user.id))%> 
						<% end %>
					</td>
					<td>
						<% r.posts.each do |post| %>
							<%= post.gradings.find_by_grader_id(current_user.id).note %> 
						<% end %>
					</td>
				<% elsif r.comments.any? %>
					<td>
						Comment 
						<% r.comments.each do |comment| %>
							#<%= link_to comment.id, post_comments_path(comment.commented_post) %> 
						<% end %>
					</td>
					<td class="center">
						<% r.comments.each do |comment| %>
							<%= link_to "#{comment.gradings.find_by_grader_id(current_user.id).mark.full_mark}", edit_grading_path(comment.gradings.find_by_grader_id(current_user.id))%>
						<% end %>
					</td>
					<td>
						<% r.comments.each do |comment| %>
							<%= comment.gradings.find_by_grader_id(current_user.id).note %>
						<% end %>
					</td>
				<% else %>
					<td></td>
					<td></td>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
