<ol class="posts">
	<div class= "row">
		<div class="span1">
			<%= image_tag comment.commenter.avatar.url (:small) %> 
		</div>
		<div class="teacher-comment">
			<span>
				<% if current_user.in?(comment.commenter.authorizers) || current_user.admin? %>
					Comment #<%= comment.id %>: 
					(<%= comment.commenter.first_name %>
					<%= comment.commenter.last_name %>)
				<% end %>								
				<%= link_to comment.commenter.screen_name, posts_user_path(comment.commenter) %> 
				<span class="timestamp">- </span><% if !comment.commenter.grade.nil? %>grade <%= comment.commenter.grade %> <% end %><%= comment.commenter.role %><span class="timestamp"> -</span>
				<span class="timestamp"> commented on </span>
				<%= comment.created_at.strftime("%b %d, %Y") %>.	          
            	<% if comment.visible? %>
            		<% unless comment.commenter.role=="teacher" || comment.commenter.admin? %>
	            		<span class='search-label'>
	            			<%= render partial: 'alarms/alarm_comment', locals: {post: comment.commented_post, comment:comment} %>
	            		</span>
	            	<% end %>	
            		<span class='search-label'>	
            			<% unless current_user?(comment.commenter) %> 
	            			<%= render partial: 'likes/like_form_comment', locals: {like: @like, comment: comment} %>
	            		<% end %>
            		</span>
            		<span class='search-label'>	
            			<i class="icon-heart icon-medium"></i>
            			<span class="alert-heading" id="comment_likes_count-<%=comment.id%>">
            				<% if comment.likes_count.to_i >0 %>
	            				<%= link_to comment.likes_count, "#", "class" => "like_comment", "rel" => "tooltip", 
	            					"title" => "#{comment_liker_list(comment)} liked your comment." %>
	            			<% else %>
	            				<%= comment.likes.count %>		
	            			<% end %>
	            			</span>
            		</span>
            	<% else %>
            		<% if current_user.admin? || current_user.in?(comment.commenter.authorizers) %>
            			<span class='search-label'>	
            				<%= render partial: 'alarms/unalarm_comment', locals: {post: comment.commented_post, comment:comment} %>
            			</span>
            		<% end %>
            	<% end %><br/>	           			
				<span class="alert-heading">
					<% if current_user == comment.commenter || current_user.admin? %>
						<%= best_in_place comment, :content %><a href="#", class="edit", rel="popover", title="How to Edit Your Comment?", data-content="<ul class='popover-list'><li>Click on any word in this comment and you will be able to change it.</li><li>Click away and your changes will be saved automatically.</li></ul>"><i class="icon-pencil icon-medium" ></i></a>
					<% else %>
						<%= wrap(simple_format(comment.content)) %>
					<% end %>					
				</span>				
			</span>			
		</div>
	</div>  
</ol>

 
