<div class="span12">
  <%= semantic_form_for(comment, :html => {class: 'form-horizontal-comment' }) do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>
    <%= f.inputs do %>
    	<% if !@response.nil? %>
    		<%= f.input :response_id, value: @response.id, as: :hidden %>
    	<% end %>
      <%= f.input :content, label: "My answer is:", placeholder: "No words or alphabetic letters. Numbers only." %>
    <% end %>
    <%= f.actions do %>
      <div class="btn-formtastic">
    		<%= f.submit save, class: "btn btn-large btn-primary", disable_with: "Proccessing..." %>
      </div>
    <% end %>
  <% end %>
</div>