<ol class="posts">
	<div class= "row">
		<div class="span1">
			<%= image_tag comment.commenter.avatar.url (:small) %> 
		</div>
		<div class="teacher-comment">
			<span>
				<% if current_user.role == "teacher" || current_user.admin? %>
					Comment #<%= comment.id %>: 
				<% end %>
				<% if current_user.in?(comment.commenter.authorizers) || current_user.admin? %>
					(<%= comment.commenter.first_name %>
					<%= comment.commenter.last_name %>)
				<% end %>								
				<%= link_to comment.commenter.screen_name, posts_user_path(comment.commenter) %>
				<span class="timestamp">- </span><% if !comment.commenter.grade.nil? %>grade <%= comment.commenter.grade %> <% end %><%= comment.commenter.role %><span class="timestamp"> -</span> 				
				<span class="timestamp"> commented on </span>
				<%= comment.created_at.strftime("%b %d, %Y") %>.
				<% if current_user == comment.commenter || current_user.admin? %>
        			<span class='search-label'>
						<%= link_to raw('<i class="icon-pencil icon-white"></i> Edit'), edit_comment_path(comment), title: "Edit Comment", class: "btn btn-small btn-success" %>
	            	</span>
	            <% end %>	          
            	<% if comment.visible? %>
            		<% unless comment.commenter.role=="teacher" || comment.commenter.admin? || current_user == comment.commenter %>
	            		<span class='search-label'>
	            			<%= render partial: 'alarms/alarm_comment', locals: {post: comment.commented_post, comment:comment} %>
	            		</span>
	            	<% end %>	
            		<% unless current_user?(comment.commenter) %>
            			<span class='search-label'>	            			 
	            			<%= render partial: 'likes/like_form_comment', locals: {like: @like, comment: comment} %>
	            		</span>
	            	<% end %>
            		<% if !comment.response.nil? %>
            			<% if current_user.in?(comment.commenter.authorizers) %>
            				<% if !comment.grading.nil?%>
            					<%= link_to "Grade: #{comment.grading.mark.full_mark}", grading_path(comment.grading), class: "btn btn-large btn-info" %>
            				<% else %>
		            			<span class='search-label'>	            			 
			            			<%= link_to "Grade", new_comment_grading_path(comment), class: "btn btn-large btn-danger" %>
			            		</span>
			            	<% end %>
			            <% elsif current_user?(comment.commenter) && !comment.grading.nil? %>
			            	<%= link_to "Grade: #{comment.grading.mark.full_mark}", grading_path(comment.grading), class: "btn btn-large btn-info" %>
			            <% end %>
            		<% end %>
            		<span class='search-label'>	
            			<i class="icon-heart icon-medium"></i>
            			<span class="alert-heading" id="comment_likes_count-<%=comment.id%>">
            				<% if comment.likes_count.to_i >0 %>
	            				<%= link_to comment.likes_count, "#", "class" => "like_comment", "rel" => "tooltip", 
	            					"title" => "#{comment_liker_list(comment)} liked your comment." %>
	            			<% else %>
	            				<%= comment.likes.count %>		
	            			<% end %>
	            			</span>
            		</span>
            	<% else %>
            		<% if current_user.admin? || current_user.role=="teacher" %>
            			<span class='search-label'>	
            				<%= render partial: 'alarms/unalarm_comment', locals: {post: comment.commented_post, comment:comment} %>
            			</span>
            		<% end %>            		
            	<% end %>
            	<br/>	           			
				<span class="alert-heading">
					<%= comment.content.html_safe %>
				</span>				
			</span>			
		</div>
	</div>  
</ol>

 
