<ol class="posts">
	<div class= "row">
		<div class="span1">
			<%= image_tag comment.commenter.avatar.url (:small) %> 
		</div>
		<div style="margin: -.1em 0em 1em 7em;">
			<span style="float:right;"> 
				<% unless comment.photo_file_name.nil? %>   
				<%= link_to            \
					image_tag(comment.photo.url(:small)), 
					comment.photo.url(:large),
					:class=>'fancybox' %> 
				<% end %>
			</span>
			<span>								
				<%= link_to comment.commenter.screen_name, posts_user_path(comment.commenter) %> 
				<span class="timestamp"> in </span>
				<%= comment.commenter.grade %>
				<span class="timestamp"> commented on </span>
				<%= comment.created_at.strftime("%b %d, %Y") %>.
				<% if current_user?(comment.commenter) %> 
	            	<%= link_to "", comment, method: :delete,
	              data: { confirm: "Delete comment. Are you sure?" },
	              title: "Delete comment", class: "icon-trash" %>
	            <% end %>	          
            	<% if comment.visible? %>
            		<span class='search-label'>
            			<%= render partial: 'alarms/alarm_comment', locals: {post: comment.commented_post, comment:comment} %>
            		</span>
            		<span class='search-label'>	
            			<% unless current_user?(comment.commenter) %> 
	            			<%= render partial: 'likes/like_form_comment', locals: {like: @like, comment: comment} %>
	            		<% end %>
            		</span>
            		
	            		<span class='search-label'>	
	            			<i class="icon-heart icon-medium"></i>
	            			<span class="alert-heading" id="comment_likes_count-<%=comment.id%>">
	            				<% if comment.likes.count >0 %>
		            				<%= link_to comment.likes.count, "#", "class" => "like_comment", "rel" => "tooltip", 
		            					"title" => "#{comment_liker_list(comment)} liked your comment." %>
		            			<% else %>
		            				<%= comment.likes.count %>		
		            			<% end %>
		            			</span>
	            		</span>
	            
            	<% else %>
            		<% if current_user.admin? %>
            			<span class='search-label'>	
            				<%= render partial: 'alarms/unalarm_comment', locals: {post: comment.commented_post, comment:comment} %>
            			</span>
            		<% end %>
            	<% end %>	           			
				<%= wrap(simple_format(comment.content)) %>			
			</span>			
		</div>
	</div>  
</ol>

 
