<% title "Common Core Word Problem and Related Answers" %>
<% description "All comments on a common core math word problem" %>
<% noindex %>
<% nofollow %>

<%= render partial: 'posts/post_review' %> 

<% if !@comments.blank? %>
	<h2 class="center"> Comments </h2>	
	<ol class="posts">
		<% unless @comments.hidden.blank? %>
			<% @comments.hidden.each do |comment| %>
				<% if current_user == comment.commenter || current_user.admin? || current_user.role == "teacher" %>
					<%= render partial: 'comments/comment', locals: {comment: comment} %>
            	<% end %> 
            <% end %>	  
	  	<% end %>   		
		<%= render @comments.visible %>
		<%= will_paginate @comments.visible %>
	</ol>
<% end %>

<h2 class="center"> Post A New Comment</h2>
<%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>


