<% title "Common Core Word Problem and Related Answers" %>
<% description "All comments on a common core math word problem" %>
<% noindex %>
<% nofollow %>

<%= render partial: 'posts/post_review' %> 

<% if !@comments.blank? %>
	<h2> Comments </h2>	
	<ol class="posts">
		<% unless @comments.hidden.blank? %>
			<% @comments.hidden.each do |comment| %>
				<% if current_user == comment.commenter || current_user.admin? || current_user.role == "teacher" %>
					<%= render partial: 'comments/comment', locals: {comment: comment} %>
            	<% end %> 
            <% end %>	  
	  	<% end %>   		
		<%= render @comments.visible %>
	</ol>
<% end %>

<h2> Post A New Comment</h2>
<p class="center yes alert-heading"> 
	Please kindly tell the author if his/her queestion,  answer, and I-can statement are clear and correct. <br/>
	Watch  <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to make a winning comment</a>. Thank you!
</p>
<div id="collapseVideo" class="accordion-body collapse">    	
		<div class="accordion-toggle center-div">
			<% @video = Video.find(5) %>
		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
	</div>
</div>

<%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>


