<% if !@post.hstandard.nil? %>
  <% title "Common Core Math Word Problem ##{@post.id} in #{@post.level.name} #{@post.domain.core} #{@post.hstandard.short}" %>
<% elsif !@post.standard.nil?%>
  <% title "Common Core Math Word Problem ##{@post.id} in #{@post.level.name} #{@post.domain.core} #{@post.standard.short}" %>
<% else %>
  <% title "Common Core Math Word Problem ##{@post.id}: Draft Only" %>
<% end %>
<% if @correction.nil? %>
  <% description "#{@post.question.html_safe}" %>
<% else %>
  <% description "#{@correction.question.html_safe}" %>
<% end %>

<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="educationalFramework" content="Common Core State Standard">
  <%= render 'shared/meta' %>
  <% if !signed_in? %>
    <h1>Student-Authored Common Core Math Word Problem<br/> 
      in <%= @post.level.name %> / <%= @post.domain.core %> / 
      <% if @post.hstandard.nil?%>
        <%= @post.standard.short %>
      <% else %>
        <%= @post.hstandard.short %>
      <% end %>
      </h1>     
  <% end %>
  <div class="row">
    <% if signed_in? %>
      <% if !@response.nil? %>
      <%= render 'shared/homework_instruction' %>
      <% else %>
        <%= render partial: 'posts/post_banner', locals: {post: @post, like: @like, invite: @invite } %>
    </div>  
  </div>
      <% end %>
    <% end %>  
    <div class="row border">
      <div class="alert-heading" itemscope itemtype="http://schema.org/AlignmentObject"> 
        <meta itemprop="alignmentType" content="require">
        <% if !@post.standard.nil?%>
          <meta itemprop="targetName" content="<%= @post.standard.symbol %>">
          <meta itemprop="targetUrl" content="<%= @post.standard.url %>">
          <meta itemprop="targetDescription", content="<%= @post.standard.description %>"> 
        <% elsif !@post.hstandard.nil? %>
          <meta itemprop="targetName" content="<%= @post.hstandard.symbol %>">
          <meta itemprop="targetUrl" content="<%= @post.hstandard.url %>">
          <meta itemprop="targetDescription", content="<%= @post.hstandard.description %>"> 
        <% end %>
        <% if signed_in? %>
          <% if current_user.in?(@post.user.authorizers) && !@response.nil? %>
            <p><strong>Question</strong> <span class="timestamp">(original):</span> <%= @post.question.html_safe %></p>
            <p><strong>Answer</strong> <span class="timestamp">(original):</span> <%= @post.answer.html_safe %></p>
          <% else %>
            <p>
              <strong>Question</strong> 
              <% if !@correction.nil? %>
                <span class="timestamp">(corrected):</span>
                <%= @correction.question.html_safe %>
              <% else %>
                 <span class="timestamp">(original):</span> 
                 <%= @post.question.html_safe %>
              <% end %>
            </p>
            <p><strong>Answer</strong>: <span class="no">To see the answer and everyone else's comments, submit your own solution first.</span></p>
          <% end %>
          <% if !@post.level.nil? %>
            <p>
              <% if current_user.role == "student" && current_user.grade < 9 %>
                <strong>"I can": </strong> In <%= @post.domain.name %>, 
                <% if @post.hstandard.nil? %>
                  <%= @post.standard.ICan %>
                <% else %>
                  <%= @post.hstandard.ICan %>
                <% end %>
              <% else %>
                <strong>CCSS Standard:</strong>
                <% if @post.hstandard.nil? %>
                  <%= @post.standard.short %> -- <%= @post.standard.description %>
                <% else %>
                  <%= @post.hstandard.short %> -- <%= @post.hstandard.description %>
                <% end %>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <% if !@correction.nil? %>
            <p><strong>Question</strong> <span class="timestamp">(corrected):</span> <%= @correction.question.html_safe %></p>
          <% else %>
            <p><strong>Question</strong> <span class="timestamp">(original):</span> <%= @post.question.html_safe %></p>
          <% end %>
          <p><strong>Answer:</strong> <%= link_to "Find Out", post_comments_path(@post), class: "btn btn-medium btn-primary" %></p>
        <% end %>
      </div>
      <% if !@post.standard.nil? %>
        <p>
          <span class="alert-heading">
            <strong>Related Posts:</strong> 
          </span>
          <% @related_posts.each do |p| %>
            #<%= link_to p.id, post_comments_path(p) %> |
          <% end %>
          <div class="btn-formtastic negative-top"><%= will_paginate @related_posts %></div>
        </p>
      <% end %>
    </div>
  </div>
  <% if signed_in? %>
    <div class="row"> 
      <h2 class="center"> Post A New Comment</h2>
      <p class="center yes alert-heading"> 
      	Please kindly show your solution first and then the answer will be revealed to you. <br/>
      	Watch  <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to make a winning comment</a></span>. Thank you!
      </p>
      <div id="collapseVideo" class="accordion-body collapse">    	
      		<div class="accordion-toggle center-div">
      			<% @video = Video.find(5) %>
      		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
      	</div>
      </div>
      <%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>
    </div>
  <% end %>
</div>



