<% title "Common Core Math Word Problem ##{@post.id} in #{@post.level.name} #{@post.domain.core} #{@post.standard.short}" %>

<% if @response.nil? %>
  <div class="row border lesson-margin">     
    <%= render 'posts/post_student' %>
  </div>
<% elsif signed_in? %>
  <div class="row">
    <%= render 'shared/homework_instruction' %>
    <div class="image">
      <%= image_tag(@post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{@post.id}", title: "Shooloo Common Core Math Problem ##{@post.id}")  %><br/>
      <% unless @post.image_host.nil? %>
        <span class="image-host-large">Image courtesy of <%= @post.image_host %>.
        </span><br/> 
      <% end %>  
    </div>
    <div class="alert-heading">         
      <p><%= @post.question.html_safe %></p>
    </div>
  <div>  
  <div class="row"> 
    <h2> Post A New Comment</h2>
    <p class="center yes alert-heading"> 
    	Please kindly show your solution first and then the answer will be revealed to you. <br/>
    	Watch  <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to make a winning comment</a></span>. Thank you!
    </p>
    <div id="collapseVideo" class="accordion-body collapse">    	
    		<div class="accordion-toggle center-div">
    			<% @video = Video.find(5) %>
    		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
    	</div>
    </div>
    <%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>
  </div>
<% end %>



