<%= semantic_form_for user, :url => users_path, :html => { :multipart => true, :class => "form-horizontal-user" } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="user-signup-input">
		<%=f.inputs do %>
			<% if role_form == "teacher" %>
				<%= f.input :role, as: :hidden, value: "teacher", label: false %>
			<% else %>
				<%= f.input :role, as: :hidden, value: "student", label: false %>
				<%= f.input :birth_date, as: :date_select, end_year: Time.now.year-25, start_year: Time.now.year, order: [:month, :day, :year], label: "Birthday:" %> 
			<% end %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<span class="search-label">
				<%= f.input :screen_name, placeholder: "Must contain NO part of your real name" %>
			</span>
			<span class="question">
				<a href="#", class="question", rel="popover", title="Screen Name", data-content="Should not contain any part of your real name. Should be at least 6 characters long. Should Not contain any space or punctuation." %> 
					<i class="icon-question-sign icon-medium" ></i>
				</a>
			</span>
			<span class="search-label">
				<%= f.input :password, placeholder: "Must be at least 6 characters long" %>
			</span>
			<span class="question">
				<a href="#", class="question", rel="popover", title="Password", data-content="Must be at least 6 characters long. Should not contain any space or punctuation." %> 
					<i class="icon-question-sign icon-medium" ></i>
				</a>
			</span>
			<span class="search-label">
				<%= f.input :password_confirmation, placeholder: "Must be the same as password"  %> 
			</span>
			<span class="question">
				<a href="#", class="question", rel="popover", title="Password Confirmation", data-content="Must match password." %> 
					<i class="icon-question-sign icon-medium" ></i>
				</a>
			</span>	
			
			<span class="search-label">
				<%= f.input :personal_email, label: "Email"%>
			</span>
			<span class="question">
				<a href="#", class="question", rel="popover", title="Email", data-content="If you are a student and don't have an email, please put in your parent's email. Email will be used to reset your password if you forget it, confirm your registration status, and notify your activity alerts." %> 
					<i class="icon-question-sign icon-medium" ></i>
				</a>
			</span>		
			<div class='privacy'>	
				<%= f.input :privacy, as: :boolean, label: "I agree with the ".html_safe + link_to("Terms of Service", terms_path) +" and the ".html_safe + link_to("Privacy Statement", privacy_path) + ".".html_safe,  required: true %>
				<%= f.input :rules, label: "I agree with the ".html_safe + link_to("Rules of Conduct", rules_path) + ".".html_safe, as: :boolean, required: true %>	
			</div>	
		<% end %>
	</div>		
	<%= f.actions do %>
		<div class="user-signup-button">
			<%= f.action :submit, label: "Create My Account", as: :button, button_html: { class: "btn btn-large btn-primary", :disabled_with => 'Proccessing...' } %>
		</div>
	<% end %>		
<% end %>