<li>
	<div class="row">
		<div class="span1.5">	
  			<%= link_to image_tag(user.avatar.url(:thumb), alt: "Shooloo member #{user.screen_name}", title: "Shooloo member #{user.screen_name}"), posts_user_path(user) %>
		</div>
		<div class="btn-formtastic">
			<%= render partial: 'nudge_form', locals:{user: user} %>		
			<%= render partial: 'follow_form', locals:{user: user} %>
		</div>
		<div class="span5.5">    
		  <%= link_to user.screen_name, posts_user_path(user) %><br/>
		  <%= user.role %>
		  <% if !user.grade.nil? %>
		   in grade <%= user.grade %> 
		  <% end %><br/>
		  <a href="<%= following_user_path(user) %>">
		    <strong id="following" class="stat">
		      <%= user.followed_users.count %>
		    </strong></a>
		    following,
		  <a href="<%= followers_user_path(user) %>">
		    <strong id="followers" class="stat">
		      <%= user.followers.count %>
		    </strong></a>
		    followers <br/>
			published
				<a href="<%= posts_user_path(user) %>" >
				<%= pluralize(user.posts.count, "post") %></a>,
			rated
				<a href="<%= rated_posts_user_path(user) %>" >
				<%= pluralize(user.rated_posts.count, "post") %></a>,
			commented
				<a href="<%= commented_posts_user_path(user) %>" >
				<%= pluralize(user.commented_posts.count, "post") %></a>.
		</div >		
	</div>
  <% if current_user.admin? && !current_user?(user) %></br>
    <%= link_to "delete", user, method: :delete,
        data: { confirm: "You sure?" } %>,
    <%= user.first_name %>
	<%= user.last_name %>, 
	<%= user.email %>
  <% end %>
</li>