<ul class="users">
  	<li>
  		<div class='row'>
	  		<div class='span1'>
    			<%= link_to image_tag(user.avatar.url(:small), 
    				alt: "Shooloo member #{user.screen_name}", 
    				title: "Shooloo member #{user.screen_name}"), 
    				posts_user_path(user) %>	    			
    		</div>
    		<div class="span8">
	    		<span class="alert-heading">
	    			<%= link_to user.screen_name, posts_user_path(user) %>
		    		-- <%= user.role %>
		    		<% if !user.grade.nil? %>
		    		 in grade <%= user.grade %> 
		      		<% end %> --
		      	</span><br/>
	      		is <a href="<%= following_user_path(user) %>">
	      		following <%= pluralize(user.following_count, "member") %></a>,
	      		has <a href="<%= followers_user_path(user) %>">
	      		<%= pluralize(user.follower_count, "follower") %></a>, 
	      		received 
	      		<%= pluralize(user.reverse_gifts.where(sent: true).count, "gift") %>, 
			  	sent 
			  	<%= pluralize(user.gifts.where(sent: true).count, "gift")%>,<br/>
	      		published <a href="<%= posts_user_path(user) %>" >
				<%= pluralize(user.post_count, "post") %></a>, 
	      		added <a href="<%= rated_posts_user_path(user) %>" >
				<%= pluralize(user.rating_count, "rating") %></a>, 
	      		and made <a href="<%= commented_posts_user_path(user) %>" >
				<%= pluralize(user.comment_count, "comment") %></a>.
			</div>
			<div class='span3' >
				<span class='search-field'>
					<%= render partial: 'nudge_form', locals:{user: user} %>
				</span>
				<span class='search-label'>					
					<%= render partial: 'follow_form', locals:{user: user} %>
				</span>
			</div>
		</div>
		<div class='row'>
			<span class='follow-nudge'>	
      			<% if current_user.admin? && !user.admin? %><br/>
	      			<%= link_to "delete", user, method: :delete, data: 
	      				{confirm: "Are you sure?" }%>
	      			user #<%= user.id %>,
	  				<%= user.first_name %>
	  				<%= user.last_name %>, 
	  				Personal email: 
	  					<%= user.personal_email unless user.personal_email.nil? %>.
	  				Created on: 
	  					<%= user.created_at %>
	  				<%= link_to "Profile", edit_user_path(user) %>
	      		<% end %>
	      	</span>	
      	</div>	
  	</li>
</ul>	