<% title "Change Password" %> 
<% noindex %>
<% nofollow %>

<h1>Change Password</h1>

<div class="row">
  <div class="span4.5 offset3">
    <%= semantic_form_for @user, :url => update_password_user_path(@user), 
    	html: {method: :post, class: "form-horizontal-user" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.input :old_password, label: "Old password" %>
      <%= f.input :password, label: "New password", placeholder: "Minimum 6-character long. No space/punctuation" %>
      <%= f.input :password_confirmation, label: "Confirmation", placeholder: "Must be the same as password"  %> 
      <div><%= f.submit "Update Password", class: "btn btn-large btn-primary btn-formtastic" %>
      </div> 
    <% end %>
  </div>
</div>