<% title "#{@user.screen_name}'s Common Core I-Can Journal" %>
<% noindex %>
<% nofollow %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
    <section>
      <%= render 'shared/post_form' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'users/follow_nudge' %> 
    <h3 class="feed_item">
		Common Core Math I-Can Journal  
	</h3>
	<% unless @user.grade.nil? %>
		<ul class="users feed_item">
			<% @domains.each do |domain| %>
				<li><%= domain.name %></li>
				<ul>
					<% domain.standards.each do |standard| %>
						<li>
							<% if standard.posts.where(user_id: @user.id).any? %>
								<span class="yes">
									<%= standard.short %>: <%= standard.ICan %>
								</span> Post
								<% standard.posts.where(user_id: @user.id).each do |post| %>
									<%= link_to "##{post.id}", new_post_comment_path(post) %> /
								<% end %>
							<% else %>
								<span class="no">
									<%= standard.short %>: <%= standard.ICan %>
								</span>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</ul>
	<% end %>
	<% if @standards.any? %>
		<h4 class="feed_item"> I-Can Statements Not at <%= @user.screen_name %>'s Current Grade  </h4>
		<ul class="users feed_item">
			<% @standards.each do |standard| %>
				<li>			
					<span class="yes">			
						<strong><%= standard.short %>:</strong> <%= standard.ICan %>
					</span> 
					Post 
					<% standard.posts.where(user_id: @user.id).each do |post| %>
						<%= link_to "##{post.id}", new_post_comment_path(post) %> /
					<% end %>
					
				</li>
			<% end %>	
		</ul>
	<% else %>
		<p class="center" ><iframe width="500" height="375" src="http://www.schooltube.com/embed/e53df079c0524d9db120" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe></P> 
		<h1> Let's get moving!</h1>
		<p class='center'><img src="/attachments/moving.gif" alt="Shooloo Math Can Do" align="center"></p>
		<div class='about'>
			<p class='center'>Watch the video above and start publishing word problems now.</p>
		</div>	
	<% end %>
  </div>
</div>



