<% title "Assignments Past Due" %>
<% description "Assignments Past Due" %>
<% noindex %>
<% nofollow %>

<h1> Grading Results of ALL Assignments </h1>

<% if @past_assignments.any? %>
	<i class="center btn-formtastic"> Sorted by students' grade levels first and then by last names. </i>
	<table class="table-ccss normal-font margin-bottom" width="100%" id="t1">
		<tr>
			<th></th>
			<% @past_assignments.each do |a| %>
				<th class="center"> 
					<%= link_to a.standard.short, assignment_path(a) %><br/>
				</th>
			<% end %>
		</tr>
		<% @students.each do |s| %>
			<tr>
				<td><%= link_to s.full_name_uk, report_card_user_path(s) %> </td>
				<% @past_assignments.each do |a| %>
					<td class="center">
						<% if a.responses.map(&:assignee).include?(s) %>
							<% response=Response.find_by_assignee_id_and_assignment_id(s.id, a.id) %>
							<% if !response.scorecard.nil? %>					
								<div class="score-color" style="background-color: <%= response.color.code %>;">
									<% if response.max_mark != 0 %>
										<%= link_to response.max_mark, grading_path(response.max_grading) %>
									<% else %>
										<%= response.max_mark %>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end%>
		<%= render partial: 'shared/scroll' %>
	</table>
<% else %>
	<div class="center alert-heading"> 
        Watch this 4-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to grade homework</a></span>.
      </p>
      <div id="collapseVideo" class="accordion-body collapse">      
            <div class="accordion-toggle center-div">
                <% @video = Video.find(13) %>
            <%= render partial: 'videos/video_player', locals: {video: @video} %> 
        </div>
      </div>
    </div>     
	<div class="normal-font center margin-bottom">
		<p>If you have assigned your students homework, you will gain actionable insights like the following. </p>
		<%= render partial: 'static_pages/teacher_greeting' %>
		<p>Please note: all student names in the following demonstration are fictious.</p>
		<%= link_to image_tag("/attachments/grades.jpg", alt: "Shooloo Common Core Math Grading Results",
              title: "Shooloo Common Core Math Grading Results"), sample_assignment_path %> 
    </div>
<% end %>
<%= render partial: 'shared/teacher_buttons' %>