<% title 'Hidden Users' %>
<% description "List of Shooloo users that have not been approved of memberships" %>
<% noindex %>
<% nofollow %>

<h1>Hidden Users</h1>

<% if signed_in? && current_user.admin? %>
	<p>
	  Download:
	  <%= link_to "CSV", search_hidden_users_path(format: "csv") %> |
	  <%= link_to "Excel", search_hidden_users_path(format: "xls") %>
	</p>
<% end %>

<%= search_form_for @search_hidden, url: search_hidden_users_path, 
		method: :get do |f| %>
	<%= render partial: 'users/user_search', locals: {f: f} %>
<% end %>

<% @users_hidden_paginate.each do |user| %>
	<%= render partial: 'users/user_list', locals: {user: user} %>
<% end %>
<%= will_paginate @users_hidden_paginate %>