<% provide(:title, 'All Members') %>
<h1>All Members and Posts</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
    	<%= image_tag user.avatar.url (:thumb) %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      	| <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?" }%>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

