<% provide(:title, 'All Members') %>
<h1>All Shooloo Members</h1>

<%= search_form_for @search, url: search_users_path, 
		method: :post do |f| %>
	<% if current_user.admin? %>
		<p class="text_center"><span class="search-label">
			<%= f.label :first_name_cont, "First Name" %>
		</span>
		<span class="search-field">
			<%= f.text_field :first_name_cont %>
		</span>
		<span class="search-label">
			<%= f.label :last_name_cont, "Last Name" %>
		</span>
		<span class="search-field">
			<%= f.text_field :last_name_cont %>
		</span>
		<span class="search-label">
			<%= f.label :parent_email_cont, "Parent's email" %>
		</span>
		<span class="search-field">
			<%= f.text_field :parent_email_cont %>
		</span>	
		<span class="search-label">
			<%= f.label :personal_email_cont, "Personal email" %>
		</span>
		<span class="search-field">
			<%= f.text_field :personal_email_cont %>
		</span></p>	
	<% end %>			
	<p class="text_center"><span class="search-label">
		<%= f.label :role_cont, "Role" %> 
	</span>
	<span class="search-field">
		<%= f.select :role_cont, options: [nil, "student", "teacher", "parent", "tutor"]%>
	</span>	
	<span class="search-label">
		<%= f.label :grade_eq, "Grade" %> 
	</span>
	<span class="search-field">
		<%= f.select :grade_eq, options: [nil, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]%>
	</span>	
	<span class="search-label">
		<%= f.label :screen_name_cont, "Screen Name" %>
	</span>
	<span class="search-field">
		<%= f.text_field :screen_name_cont %>
	</span>	
	<span class="search-label">
		<%= f.submit "Search", class: "btn btn-small btn-default" %>
	</span></p>
<% end %>
<% @users.each do |user| %>
<ul class="users">
  	<li>
  		<div class='row'>
	  		<div class='span1'>
    			<%= link_to image_tag(user.avatar.url(:small), 
    				alt: "Shooloo member #{user.screen_name}", 
    				title: "Shooloo member #{user.screen_name}"), 
    				posts_user_path(user) %>	    			
    		</div>
    		<div class="span7">
	    		<span class="alert-heading">
	    			<%= link_to user.screen_name, posts_user_path(user) %>
		    		-- <%= user.role %>
		    		<% if !user.grade.nil? %>
		    		 in grade <%= user.grade %> 
		      		<% end %> --
		      	</span><br/>
	      		is <a href="<%= following_user_path(user) %>">
	      		following <%= user.followed_users.count %></a> members,
	      		has <a href="<%= followers_user_path(user) %>">
	      		<%= user.followers.count %> followers</a>, <br/>
	      		published <a href="<%= posts_user_path(user) %>" >
				<%= pluralize(user.posts.count, "post") %></a>, 
	      		rated <a href="<%= rated_posts_user_path(user) %>" >
				<%= pluralize(user.rated_posts.count, "post") %></a>, 
	      		and commented <a href="<%= commented_posts_user_path(user) %>" >
				<%= pluralize(user.commented_posts.count, "post") %></a>.<br/>
			</div>
			<div class="span1">
				<% if current_user.admin? %>
					<%#= user.reputation(7.days) %>
					<%#= user.reputation(30.days) %>
					<div class="row">
						<strong>POINTS</strong><br/>
					</div>
					<div>
						<span class="text_center"><%= user.reputation(90.days) %></span>
					</div>
				<% else %>
					&nbsp;
				<% end %>
			</div>
			<div class='span3' >
				<span class='search-field'>
					<%= render partial: 'nudge_form', locals:{user: user} %>
				</span>
				<span class='search-label'>					
					<%= render partial: 'follow_form', locals:{user: user} %>
				</span>
			</div>
		</div>
		<div class='row'>
			<span class='follow-nudge'>	
      			<% if current_user.admin? && !user.admin? %><br/>
	      			<%= link_to "delete", user, method: :delete, data: 
	      				{confirm: "Are you sure?" }%>
	      			user #<%= user.id %>,
	  				<%= user.first_name %>
	  				<%= user.last_name %>, 
	  				Parent Email: 
	  					<%= user.parent_email unless user.parent_email.nil? %>,
	  				Personal email: 
	  					<%= user.personal_email unless user.personal_email.nil? %>.
	      		<% end %>
	      	</span>	
      	</div>	
  	</li>
  </ul>	
<% end %>	      

<%= will_paginate @users %>