<% provide(:title, 'All Members') %>
<h1>All Shooloo Members<a href="#", class = "follow", rel = "popover", title = "How to Gain Friends?", data-content = "<ul class='popover-list'><li>Watch this <a href='<%= video_path(3) %>'>video tutorial</a> to get started.</li><li>The most active members are those who have received lots of gifts, made lots of comments, and published lots of posts.</li><li>Follow active members, and they will likely follow you back and pay attention to you.</li><li>Comment on active members' posts first, and they will likely comment on yours.</li><li>Nudge those members who have not published anything recently, and they will get an alert to spring them into action.</li><li>The more active you are, the higher your profile will rank, and the more friends you will gain.</li></ul>" ><img src="/attachments/secret_2.gif" alt="Shooloo Math Secret" align="center"></a></h1>

<% if signed_in? && current_user.admin? %>
	<p>
	  Download:
	  <%= link_to "CSV", users_path(format: "csv") %> |
	  <%= link_to "Excel", users_path(format: "xls") %>
	</p>
<% end %>

<%= search_form_for @search, url: search_users_path, 
		method: :get do |f| %>
	<%= render partial: 'users/user_search', locals: {f: f} %>
<% end %>

<% @users.each do |user| %>
	<%= render partial: 'users/user_list', locals: {user: user} %>
<% end %>
<%= will_paginate @users %>
