<% provide(:title, 'All Members') %>
<h1>All Shooloo Members</h1>

<%= search_form_for @search, url: search_users_path, method: :get do |f| %>
	<div class="row">
		<div class="span8 offset3" >
			<span class="search-label">
				<%= f.label :grade_cont, "Grade" %> 
			</span>
			<span class="search-field">
				<%= f.select :grade_cont, options: ["", "Kindergarten", "1st grade", "2nd grade", "3rd grade", "4th grade", "5th grade", "6th grade", "7th grade", "8th grade", "9th grade", "10th grade", "11th grade", "12 grade", "Teacher", "Parent", "Tutor"]%>
			</span>	
			<span class="search-label">
				<%= f.label :screen_name_cont, "Screen Name" %>
			</span>
			<span class="search-field">
				<%= f.text_field :screen_name_cont %>
			</span>	
			<span class="search-label">
				<%= f.submit "Search", class: "btn btn-small btn-default" %>
			</span>
		</div>
	</div>
<% end %>
	<% @users.each do |user| %>
	<ul class="users">
	  	<li>
	  		<div class='btn-formtastic'>
				<%= render partial: 'follow_form', locals:{user: user} %>
			</div>	
	  		<div class='avatar'>
    			<%= image_tag user.avatar.url (:small) %>
    		</div>
    		<%= link_to user.screen_name, posts_user_path(user) %> in  
      		<%= user.grade %> <br/>
      		is <a href="<%= following_user_path(user) %>">
      		following <%= user.followed_users.count %></a> members,
      		has <a href="<%= followers_user_path(user) %>">
      		<%= user.followers.count %> followers</a>, <br/>
      		published <a href="<%= posts_user_path(user) %>" >
			<%= pluralize(user.posts.count, "post") %></a>, 
      		rated <a href="<%= rated_posts_user_path(user) %>" >
			<%= pluralize(user.rated_posts.count, "post") %></a>, 
      		and commented <a href="<%= commented_posts_user_path(user) %>" >
			<%= pluralize(user.commented_posts.count, "post") %></a>.
      		<% if current_user.admin? %><br/>
      			<%= link_to "delete", user, method: :delete, data: 
      				{confirm: "Are you sure?" }%>
      			user #<%= user.id %>,
  				<%= user.first_name %>
  				<%= user.last_name %>, 
  				<%= user.email %>
      		<% end %>
      	</li>
      </ul>	
    <% end %>	      

<%= will_paginate @users %>