<% title "#{@user.screen_name} Saved Posts" %>
<% description "A list of Common Core math word problems saved by #{@user.screen_name}" %>
<% noindex %>
<% nofollow %>
<div class="row">
  <aside class="span4">
    <%= render partial: 'shared/aside', locals: {user: @user} %>
	</aside>
	<div class="span8">
    <h1 class="center">
      My Saved Posts (<%= @user.keeps.count %>)
    </h1>
    <%= render partial: 'posts/button' %>          
    <% if @keeps.count == 0 %>
      <% if current_user?(@user) %>
        <p class="alert-heading">You have not saved any math word problems
          <% if current_user.role == "teacher" %>
            for future homework assignments.Watch this 4-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to assignment homework</a></span>.
          <% else %>
            to solve in the future.
          <% end %> 
          Check out our vast repository of <%= link_to "Common Core math word problems", posts_path %> now!</P>
          <div id="collapseVideo" class="accordion-body collapse">      
            <div class="accordion-toggle">
              <% @video = Video.find(12) %>
              <%= render partial: 'videos/video_player', locals: {video: @video} %> 
            </div>
          </div>
      <% else %>
        <div class="box">
          <p><%= @user.screen_name %> has not saved any posts yet.</p> 
        </div>
      <% end %> 
    <% else %>      
      <ol class="posts"> 
        <% @keeps.each do |keep| %>        
          <li>
            <section>
              <div class="row feed-margin">
                <% post = keep.kept_post %>
                <% if current_user.in?(post.commenters) || current_user.admin? || current_user.in?(post.user.authorizers) %>
                  <% url = post_comments_path(post) %>
                <% else %>
                  <% url = new_post_comment_path(post) %>
                <% end %>
                <span class="wrap_long_string">
                  <strong>Post ID:</strong> #<%= link_to post.id, url %><br/>
                  <strong>Standard:</strong>
                  <% if post.hstandard.nil? %>
                    <%= post.standard.short %>
                  <% else %>
                    <%= post.hstandard.short %>
                  <% end %><br/>    
                  <strong>Note:</strong> <%= keep.note.html_safe %><br/>
                  <span class = "btn-formtastic">
                    <%= link_to "Edit note", edit_keep_path(keep) %> |
                    <%= link_to "Unfavorite", keep, method: :delete, data: 
                      {confirm: "Remove this post from your favorite folder?" }%>
                  </span>
                </span>
              </div>
            </section>
          </li>
        <% end %>
      </ol>
      <%#= will_paginate @kept_posts %>       
    <% end %> 
  </div>
</div>


