<% provide(:title, "My Abilities") %>

<h1> My Abilities </h1>
<div class='alert-heading'>
	<p>I CAN enjoy the following activities at Shooloo:</p>

	<ul class='abilities'>
		<%= render 'shared/all_able' %>
		<% if can? :crud, Rating %>
			<%= render 'shared/ref_yes' %>
		<% else %>
			<%= render 'shared/ref_no' %>
		<% end %>
		<% if can? :crud, Post %>
			<%= render 'shared/auth_yes' %>
		<% else %>
			<%= render 'shared/auth_no' %>
		<% end %>
		<% if current_user.role == "teacher" %>
			<% if can? :manage, Alarm %>
				<%= render 'shared/teacher_yes' %>
			<% else %>
				
			<% end %>
		<% end %>
	</ul>
</div>