<% provide(:title, "Change Password") %> 
<h1>Change Password</h1>

<div class="row">
  <div class="span4.5 offset3">
    <%= semantic_form_for current_user, :url => update_password_user_path(current_user), 
    	html: {method: :post, class: "form-horizontal-user" } do |f| %>
      <% if current_user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in current_user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :old_password, label: "Current password" %>
      <%= f.input :password, label: "New password", placeholder: "Must be at least 6 characters long with no space or punctuation" %>
      <%= f.input :password_confirmation, lable: "Confirm new password", placeholder: "Must be the same as password"  %> 
      <div><%= f.submit "Update Password", class: "btn btn-large btn-primary btn-formtastic" %>
      </div>
    <% end %>
  </div>
</div>