<% provide(:title, "#{@user.screen_name}_Published_Posts") %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
    <section>
      <%= render 'shared/post_form' %>
    </section>
	</aside>
	<div class="span8">
    <%= render 'users/follow_nudge' %> 
    <h3 class="feed_item">
      <%= @user.screen_name %>'s Published Posts (<%= @user.posts.count %>)
    </h3>           
  	<% if @user.posts.count == 0 %>
    <div class="box">
      <% if current_user?(@user) %>
        <%= render 'post_welcome' %>
      <% else %>
        <h1> How Boring<br/> this page seems!</h1>
        <p class='center'><img src="/attachments/bored.gif" alt="Shooloo Math Can Do" align="center"></p>
        <div class='about'>
        <p><%= @user.screen_name %> has not published any posts yet.</p> 
          <p><strong>Nudge</strong> <%= @user.screen_name %> into some action. Press the green button above that says "NUDGE".</p>
        </div>
      <% end %> 
    </div>
    <% else %>    	
  		<ol class="posts">      		
        <%= render partial: 'shared/feed_item', collection: @posts  %>
  		</ol>
  		<%= will_paginate @posts %>       
   	<% end %>
  </div>
</div>
