<% title "My Homework" %>
<% description "A list of my math homework aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>

<h1> My Homework </h1>
<% if @responses.any? %>
	<div align="center">
		<table class="table-ccss">
			<tr>
				<th> Start Date </th>
				<th> End Date </th>
				<th> Homework </th>
				<th> Instruction </th>
				<th> I-can Statement </th>
				<th> Completion </th>
				<th> Grade </th>
			</tr>
			<% @responses.each do |a| %>
				<tr>
					<td>
						<%= a.assignment.start_date %>
					</td>
					<td>
						<%= a.assignment.end_date %>
					</td>
					<td>
						<% if !a.assignment.assigned_post_id.nil? %>
							<%= link_to "Solve/critique a problem", new_response_comment_path(a) %>
						<% else %>
							<%= link_to "Create a new word problem", new_response_post_path(a) %>
						<% end %>
					</td>
					<td>
						<%= a.assignment.instruction.html_safe %>
					</td>
					<td>
						In <%= a.assignment.domain.name %>, 
						<% if a.assignment.hstandard.nil? %>
							<%= a.assignment.standard.ICan %>
						<% else %>
							<%= a.assignment.hstandard.ICan %>
						<% end %>
					</td>
					<td class="center">
						<% if a.posts.any? %>						
							<% a.posts.each do |post| %>
								Post #<%= link_to post.id, post_comments_path(post) %>
							<% end %>
						<% elsif a.comments.any? %>
							<% a.comments.each do |comment| %>
								Comment #<%= link_to comment.id, post_comments_path(comment.commented_post) %>
							<% end %>
						<% else %>
							<% if !a.assignment.assigned_post_id.nil? %>
								<%= link_to "Do it now!", new_response_comment_path(a), class: "no" %>
							<% else %>
								<%= link_to "Do it now!", new_response_post_path(a), class: "no" %>
							<% end %>
						<% end %>
					</td>
					<td class="center">
						<% if a.posts.any? %>
							<% a.posts.each do |post| %>
								<% if !post.grading.nil? %>
									<%= link_to "#{post.grading.mark.full_mark}", grading_path(post.grading)%> |
								<% end %>
							<% end %>
						<% elsif a.comments.any? %>
							<% a.comments.each do |comment| %>
								<% if !comment.grading.nil? %>
									<%= link_to "#{comment.grading.mark.full_mark}", grading_path(comment.grading)%> |
								<% end %>	
							<% end %>
						<% end %>
					</td> 	
				</tr>
			<% end %>
		</table>
	</div>
<% else %>
	<p>
		You don't have any homework assignments from your teacher.
	</p>
<% end %>