<% provide(:title, "Activity Alerts") %>
<h1 > My News Alerts </h1>
<% unless @my_activities.nil? %>           
  <% @my_activities.each do |activity| %>
    <%= div_for activity do %>
      <% unless activity.user.nil? %>
        <%= image_tag activity.user.avatar.url (:small) %>      
        <%= link_to activity.user.screen_name, activity.user %>
        in 
        <i><%= activity.user.grade %></i>
        <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
      <% else %>
        <% render text: "A user and his/her posts, comemnts and ratings have been deleted from this web site." %>  
      <% end %>
    <% end %>
  <% end %>
  <%= will_paginate @my_activities %>  
<% else %>
  You don't have any alerts.
<% end %> 
     
  	