<% provide(:title, "Activity Alerts") %>
<h1 > My News Alerts </h1>
<%= @test %>
<% if @my_activities.blank? %> 
<div class="about"> 
  <p> Welcome to Shooloo. You don't have any news yet.</p> 
  <p>  Go to Home and use the form there to publish your own math word problem first. Then comment on other members' posts, and they will get an alert to comment on your posts. Also when you follow other members, and they will get an alert and follow you back. </p>
  <p>Then you will enjoy news alerts every day. </p>
</div>
<% else %>        
  <% @my_activities.each do |activity| %>
    <% unless current_user?(activity.user) %> 
      <ul class="users">
        <li>  
          <div class='btn-formtastic'>
            <%= render partial: 'users/read_form', locals: {activity: activity} %>
          </div>    
          <% if activity.user.nil? %> 
             <%= render text: "A user who has commented or rated your posts or who has followed you has been deleted from this web site." %> 
          <% else %>          
            <% if activity.trackable_type == "Alarm" %>
              <span class='alert-heading'>
                  On <%= activity.created_at.strftime("%b %d, %Y") %>, an <strong>ALARM</strong> was raised on
              </span>                
            <% else %>
              <div class="avatar">
                <%= image_tag activity.user.avatar.url (:small) %>  
              </div>   
              <span class='alert-heading'>
                <%= link_to activity.user.screen_name, posts_user_path(activity.user) %>
                in <i><%= activity.user.grade %></i>
              </span>
            <% end %>
            <%= render "my_alerts/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>  
          <% end %>
        </li>        
      </ul>        
    <% end %>
  <% end %>   
<% end %> 
<%= will_paginate @my_activities %>

     
  	