<% title "Common Core Math Word Problems Rated by #{@user.screen_name}" %> 
<% description "List of common core math word problems rated by #{@user.screen_name}" %>
<% keywords 'Shooloo, common core, CCSS, math, word problem, student, real life, cooperative learning' %>

<div class="row">
  	<aside class="span4">
      <section>
        <%= render 'shared/user_info', user: @user %>
      </section>
      <section>
        <%= render 'shared/stats', user: @user %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>    
	  </aside>
	<div class="span8">
    <%= render 'users/follow_nudge' %> 
    <h3 class="feed_item center">
      <%= @user.screen_name %>'s Rated Posts (<%= @user.rated_posts.count %>)
    </h3>
    <%= render partial: 'posts/button' %>
  	<% if @user.rated_posts.any? %>      		      	
  		<ol class="posts">
    		<%= render partial: 'shared/feed_item', collection: @rated_posts, order: 'ratings.updated_at DESC' %>
  		</ol>
  		<%= will_paginate @rated_posts %>
    <% else %>          
      <div class="box">
        <% if current_user?(@user) %> 
          <h1> Let's get moving!</h1>
          <p class='center'><img src="/attachments/moving.gif" alt="Shooloo Math Can Do" align="center"></p>
          <div class='about'>
          <p>Go to the <%= link_to "All Posts", posts_path %> section and <strong>rate</strong> those posts you find interesting.</p>
          <p>Show your friends that you care!</p>
          </div>
        <% else %>
          <h1> Sigh...</h1>
          <p class='center'><img src="/attachments/bored_3.gif" alt="Shooloo Math Can Do" align="center"></p>
          <div class='about'>
          <p><%= @user.screen_name %> has not rated anyone's posts yet.</p> 
            <p><strong>Nudge</strong> <%= @user.screen_name %> into rating your posts. Press the green button above that says "NUDGE".</p>
          </div> 
        <% end %> 
      </div> 
 	  <% end %>
	</div>
</div>