<% provide(:title, @user.name) %>
<div class="row">
  	<aside class="span4">
     <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </section>
    <section>
      <h4>Create my own math problem.</h4>
        <%= render 'shared/post_form' %>
    </section>
	</aside>
	<div class="span8">
      <%= render 'follow_form' if signed_in? %>
    	<% if @user.posts.any? %>
      		<h4><%= @user.name %>'s Published Posts (<%= @user.posts.count %>)</h4>
      		<%= will_paginate @posts %>
      		<ol class="posts">
        		<%= render @posts %>
      		</ol>
      		<%= will_paginate @posts %>
     	<% end %>
  	</div>
</div>



	