<% provide(:title, @user.name) %>
<div class="row">
  	<aside class="span4">
      <div class="row">
        <div class="span1.5">
          <%= image_tag @user.avatar.url (:thumb) %>
        </div>
        <div class="span2">
          <h1 class="user_name"><%= @user.name %></h1>
          <span>
            Published
            <a href="<%= posts_user_path(@user) %>" >
              <%= pluralize(current_user.posts.count, "post") %></a>.
          </span>
          <span>
            Rated
            <a href="<%= rated_posts_user_path(@user) %>" >
            <%= pluralize(current_user.rated_posts.count, "post") %></a>.
          </span>
        </div>
      </div>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <h4>Create my own math problem.</h4>
        <%= render 'shared/post_form' %>
    </section>
	</aside>
	<div class="span8">
      <%= render 'follow_form' if signed_in? %>
      <h3 class="feed_item"><%= @user.name %>'s Published Posts (<%= @user.posts.count %>)</h3>           
    	<% if @user.posts.count == 0 %>
        <% if current_user?(@user) %> 
          <section class="prompt">
      		  <%= render text: "Jazz up with your profile with published posts of your own! Use the form on the left." %>
          </section> 
        <% else %>
           <section class="prompt">
            <%= @user.name %><%= render text: " has not published any posts yet." %>
          </section>
        <% end %> 
      <% else %>    	
    		<ol class="posts">      		
          <%= render partial: 'shared/feed_item', collection: @posts  %>
    		</ol>
    		<%= will_paginate @posts %>       
     	<% end %>
  	</div>
</div>




	