<% title @title %>
<% description @description %>
<% noindex %>
<% nofollow %>

<div class="row">
  <aside class="span4">
    <section>    
      <%= render 'shared/user_info', user: @user %>
    </section>    
    <section>
      <%= render 'shared/stats', user: @user %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to image_tag(user.avatar.url (:small), :alt => "Shooloo member #{user.screen_name}", :title => "Shooloo member #{user.screen_name}"), posts_user_path(user) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3 class="center"><%= @title %></h3>
    <%= render partial: 'posts/button' %>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% elsif @user == current_user %>
      <div class="normal-font">
        <div class="row">
          <div> 
              <% provide @video=Video.find(3) %>
              <%= render partial: 'videos/video_player', locals: {video: @video} %>
          </div>
        </div> 
        <p class="center">It feels so lonely not having any followers. </p>
        <p class='center'><img src="/attachments/cry.gif" alt="Shooloo Math Can Do"></p>
        <p class="center"> Watch the video above and learn how to get followers.</p> 
      </div>
    <% else %>
        <div class="welcome"> 
          <p class="center">You can become <%=@user.screen_name%>'s first follower!
          </p>
        </div>
    <% end %>
  </div>
</div>
