<% provide(:title, @user.name) %>
<div class="row">
	<setion>
		<h1><%= @user.name %></h1>
	</section>
	<div class="span9">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <%= will_paginate @posts %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>



	