
<% provide(:title, "Activity Alerts") %>
<h1 > My News Alerts </h1>
<% unless @my_activities.nil? %>           
  <% @my_activities.each do |activity| %>
    <%= div_for activity do %>
      <% unless activity.user.nil? %>
        <% unless current_user?(activity.user) %>
          <%= image_tag activity.user.avatar.url (:small) %>      
          <%= link_to activity.user.screen_name, activity.user %>
          in 
          <i><%= activity.user.grade %></i>
          <%= render "my_alerts/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
        <% end %>
      <% else %>
        <% render text: "A user who has commented or rated your posts has been deleted from this web site." %>  
      <% end %>
    <% end %>
  <% end %>
  <%= will_paginate @my_activities %>  
<% else %>
  You don't have any alerts.
<% end %> 
     
  	