<% provide(:title, @title) %>
<div class="row">
  	<aside class="span4">
      <section>
        <%= render 'shared/user_info', current_user: @user %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section class="left-panel">
        <%= render 'shared/post_form' %>
      </section>    
	  </aside>
	<div class="span8 right-panel">
      <%= render 'follow_form' if signed_in? %>
        <h3 class="feed_item"><%= @user.screen_name %>'s Rated Posts (<%= @user.rated_posts.count %>)</h3>
    	 <% if @user.rated_posts.any? %>      		      	
      		<ol class="posts">
        		<%= render partial: 'shared/feed_item', collection: @rated_posts, order: 'ratings.updated_at DESC' %>
      		</ol>
      		<%= will_paginate @rated_posts %>
        <% else %>          
          <section class="prompt">
            <%= render text: "Search posts in the Community section and show your friends that you care about what they have to say." %>
          </section> 
     	<% end %>
  	</div>
</div>