<% provide(:title, @user.name) %>
<div class="row">
  	<aside class="span4">
      <div class="row">
        <div class="span1.5">
          <%= image_tag @user.avatar.url (:thumb) %>
        </div>
        <div class="span2">
          <h1 style="text-align: left;"><%= @user.name %></h1>
        </div>
      </div>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <h4>Create my own math problem.</h4>
        <%= render 'shared/post_form' %>
    </section>
	</aside>
	<div class="span8">
      <%= render 'follow_form' if signed_in? %>
    	<% if @user.posts.any? %>
      		<h3 class="feed_item"><%= @user.name %>'s Published Posts (<%= @user.posts.count %>)</h3>
      		<%= will_paginate @posts %>
      		<ol class="posts">
        		<%= render @posts %>
      		</ol>
      		<%= will_paginate @posts %>
     	<% end %>
  	</div>
</div>




	