<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>    
      <%= render 'shared/user_info', user: @user %>
    </section>    
    <section>
      <%= render 'shared/stats', user: @user %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= image_tag user.avatar.url (:small) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
