<% provide(:title, "Activity Alerts") %>
<h1 > My News Alerts </h1>

<% if @my_activities.blank? %> 
  <div class='welcome'> 
    <p> Welcome back!</p>
    <p> I am sorry, but you don't have any news yet no one can find you in the <%= link_to "member list", users_path %>.</p>
    <p class='center'><img src="/attachments/cry.gif" alt="Shooloo Math Can Do"></p> 
    <p>  To make your profile appear in the member list, <%= link_to "obtain referrals", new_referral_path %> from your friends who are already members or from the Shooloo site admin. Better yet, to gain more abilities, <%= link_to "get authorization", new_authorization_path %> from your current teacher. Then you will be pleasantly surprised by news alerts that you've gained new followers, got praises from your friends, and many more fun activities. </p>
     <p class='center'><img src="/attachments/smile.gif" alt="Shooloo Math Can Do"></p>
  </div>
<% else %>        
  <% @my_activities.each do |activity| %>
    <% unless current_user?(activity.user) %> 
      <ul class="users">
        <li>  
          <div class='btn-formtastic'>
            <%= render partial: 'users/read_form', locals: {activity: activity} %>
          </div>    
          <% if activity.user.nil? %> 
             <%= render text: "A user who has commented or rated your posts or who has followed you has been deleted from this web site." %> 
          <% else %>          
            <% if activity.trackable_type == "Alarm" %>
              <span class='alert-heading'>
                  On <%= activity.created_at.strftime("%b %d, %Y") %>, an <strong>ALARM</strong> was raised on
              </span>                
            <% else %>
              <div class="avatar">
                <%= link_to image_tag(activity.user.avatar.url(:small), 
                  alt: "Shooloo member #{activity.user.screen_name}",
                  title: "Shooloo member #{activity.user.screen_name}"),
                  posts_user_path(activity.user)  %>  
              </div>   
              <span class='alert-heading'>
                <%= link_to activity.user.screen_name, posts_user_path(activity.user) %>
                in <i><%= activity.user.grade %></i>
              </span>
            <% end %>
            <%= render "my_alerts/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>  
          <% end %>
        </li>        
      </ul>        
    <% end %>
  <% end %>   
<% end %> 
<%= will_paginate @my_activities %>

     
  	