<% title "#{@user.screen_name}'s Students' Common Core Progress" %>
<% noindex %>
<% nofollow %>

<h1>
	My Students' Common Core Math I-Can Journals 
</h1>

<% if @user.authorized_users.any? %>
	<div align="center">
		<table border="2" cellpadding="10">
			<tr>
				<th>
					Grade
				</th>
				<th>
					Name
				</th>
				<th>
					Achieved Common Core Standards 
				</th>
			</tr>
			<% @students.each do |student| %>
				<tr>
					<td class="center">
						<%= student.grade %>
					</td>
					<td>
						<a href="<%= common_core_I_can_user_path(student) %>"><%= student.last_name %>, <%= student.first_name %></a>
					</td>
					<td>
						<% Standard.joins(:posts).where('posts.user_id' => student.id).uniq.order('standards.id DESC').each do |standard| %> 
							<%= standard.short %> /
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
<% else %>
    <div class="row">
	    <div class="span6 offset1"> 
	        <% provide @video=Video.find(2) %>
	        <%= render partial: 'videos/video_player', locals: {video: @video} %>
	    </div>
	</div>  
	<div class="row">	
	<div class="span8 offset2">
		<p class="about">You have not authorized any students to be a Shooloo member.</p>
		<p class="about">Watch the video above to learn how to quickly sign up all of your students without any effort.</p>
	</div>
	</div>	
<% end %>	