<% title "Teachaer Dashboard" %>
<% description "Teacher Dashboard" %>
<% noindex %>
<% nofollow %>

<h1> Teacher Dashboard </h1>

<% if @past_due_homeworks.any? || @ungraded_homeworks.any? %>
	<div class="well well-small bottom-margi">
		<% if @past_due_homeworks.any? %>
			<p class="alert-heading">
				<strong><%= link_to "Homework", assignments_user_path(current_user) %> Past Due: <%= @past_due_homeworks.count %></strong> from  
				<span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDue">these students</a></span>. Send them <%= link_to "reminders or remove", past_due_assignments_user_path(current_user) %> them off the assignments.
			</p>			
	        <div id="collapseDue" class="accordion-body collapse">        
	            <div class="accordion-toggle alert-heading bottom-margin">
					<% @past_due_students.each do |student| %>
						<%= link_to student.full_name_us, posts_user_path(student) %> |
					<% end %>
				</div>
			</div>
		<% end %>
		<% if @ungraded_homeworks.any? %>
			<p class="alert-heading">
				<strong><%= link_to "Homework", assignments_user_path(current_user) %> Waiting to Be Graded: <%= @ungraded_homeworks.count %></strong>.
				Grade <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseGrading">these homework submissions</a></span> now.
			</p>			
	        <div id="collapseGrading" class="accordion-body collapse">        
	            <div class="accordion-toggle alert-heading bottom-margin">
					<% @ungraded_homeworks.each do |h| %>
						<% if h.posts.any? %>
							<% h.posts.each do |p| %>
								Post #<%= link_to p.id, new_post_grading_path(p) %>
							<% end %>
						<% else %>
							<% h.comments.each do |c| %>
								Comment #<%= link_to c.id, new_comment_grading_path(c) %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div> 
		<% end %>
	</div>
<% end %>

<% if @past_homeworks.any? %>
	<div class="row">	
		<h2>Grading Results of the Recent Homework Assignments</h2>
		<% @past_homeworks.each do |h| %>
			<div class="span4 offset1 search-label">
				<div class="chart-standard">
					CCSS Standard: <%= link_to h.standard.short %>
				</div>
				<a href="/assignments/<%=h.id%>"><%= render partial: 'shared/chart_grading', locals: {grade: h.colors} %></a>
			</div>
		<% end %>
	</div>
<% end %>

<div class="center">
	<%= link_to "New assignment", new_assignment_path, class: "btn btn-large btn-primary" %>
	<%= link_to "All assignments", assignments_user_path(current_user), class: "btn btn-large btn-primary" %>
	<%= link_to "All grades", grading_results_user_path(current_user), class: "btn btn-large btn-primary" %>
</div>


