<% title "Teachaer Dashboard" %>
<% description "Teacher Dashboard" %>
<% noindex %>
<% nofollow %>

<h1> Teacher Dashboard </h1>
<div class="center alert-heading"> 
  	Watch this 1-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to gain actionable insights</a></span>.
  </p>
  <div id="collapseVideo" class="accordion-body collapse">    	
  		<div class="accordion-toggle center-div">
  			<% @video = Video.find(14) %>
  		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
  	</div>
  </div>
</div>

<% if @user.authorized_users.blank? || @user.assignments.blank? %>
	<div class="normal-font center margin-bottom">
		<p>If you have assigned your students homework, you will gain actionable insights like the following. </p>
		<%= render partial: 'static_pages/teacher_greeting' %>
		<%= link_to image_tag("/attachments/dashboard_crop.jpg", alt: "Shooloo Common Core Math Teacher's Dashboard", title: "Shooloo Common Core Math Teacher's Dashboard"), sample_assignment_path %> 
    </div>
<% else %>
	<% if @past_due_homeworks.any? || @ungraded_posts.any? || 
		@ungraded_comments.any? || 
		@no_post_students.any? || @ungraded_students.any? || 
		@below_grade_students.any? || @no_login_students.any? %>
		<div class="well well-small bottom-margi">
			<% if @ungraded_posts.any? %>
				<p class="alert-heading">
					<strong><%= link_to "Assigned Posts", assignments_user_path(current_user) %> Waiting to Be Graded: <%= @ungraded_posts.count %></strong>.
		        	(<% @ungraded_posts.each do |p| %>
						#<%= link_to p.id, new_post_grading_path(p) %>
					<% end %>)
				</p>
			<% end %>
			<% if @ungraded_comments.any? %>
				<p class="alert-heading">
					<strong><%= link_to "Assigned Comments", assignments_user_path(current_user) %> Waiting to Be Graded: <%= @ungraded_comments.count %></strong>.
					(<% @ungraded_comments.each do |c| %>
						#<%= link_to c.id, new_comment_grading_path(c) %>
					<% end %>)
				</p>
			<% end %>
			<% if @past_due_homeworks.any? %>
				<p class="alert-heading">
					<strong><%= link_to "Homework", assignments_user_path(current_user) %> Past Due: <%= @past_due_homeworks.count %></strong> from  
					<span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDue">these <%= @past_due_students.count %> students</a></span>. Send them <%= link_to "reminders or remove", past_due_assignments_user_path(current_user) %> them off the assignments.
				</p>			
		        <div id="collapseDue" class="accordion-body collapse">        
		            <div class="accordion-toggle alert-heading bottom-margin">
						<% @past_due_students.each do |student| %>
							<%= link_to student.full_name_us, posts_user_path(student) %> |
						<% end %>
					</div>
				</div>
			<% end %>
			<% if @no_post_students.any? %>
				<p class="alert-heading">
					<strong>Students who have never published any posts: <%= @no_post_students.count %></strong>.
					<span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNoPost">Find out who they are</a></span> now.
				</p>			
		        <div id="collapseNoPost" class="accordion-body collapse">        
		            <div class="accordion-toggle alert-heading bottom-margin">
						<% @no_post_students.each do |s| %>
							<%= link_to s.full_name_us, posts_user_path(s) %> (G<%= s.grade %>) |
						<% end %>
					</div>
				</div> 
			<% end %>
			<% if @ungraded_students.any? %>
				<p class="alert-heading">
					<strong>Students who have never been graded: <%= @ungraded_students.count %></strong>.
					Grade <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseUngraded">their posts</a></span> now.
				</p>			
		        <div id="collapseUngraded" class="accordion-body collapse">        
		            <div class="accordion-toggle alert-heading bottom-margin">
						<% @ungraded_students.each do |s| %>
							<%= link_to s.full_name_us, posts_user_path(s) %> |
						<% end %>
					</div>
				</div> 
			<% end %>
			<% if @below_grade_students.any? %>
				<p class="alert-heading">
					<strong>Students whose graded posts are all below grade: <%= @below_grade_students.count %></strong>.
					<span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseBelow">Find out who they are</a></span> now.
				</p>			
		        <div id="collapseBelow" class="accordion-body collapse">        
		            <div class="accordion-toggle alert-heading bottom-margin">
						<% @below_grade_students.each do |s| %>
							<%= link_to s.full_name_us, report_card_user_path(s) %> |
						<% end %>
					</div>
				</div> 
			<% end %>
			<% if @no_login_students.any? %>
				 <p class="alert-heading">
					<strong>Students who have not logged in for two week: <%= @no_login_students.count %></strong>.
					<span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNoLogin">They </a></span>may have forgotten their passwords. You can <%= link_to "reset their passwords", authorizations_path %>.
				</p>			
		        <div id="collapseNoLogin" class="accordion-body collapse">        
		            <div class="accordion-toggle alert-heading bottom-margin">
						<% @no_login_students.each do |s| %>
							<%= link_to s.full_name_us, posts_user_path(s) %> |
						<% end %>
					</div>
				</div> 
			<% end %>
		</div>
	<% end %>
	<% if @past_homeworks.any? %>
		<div class="row">	
			<h2>Grading Results of the Recent Homework Assignments</h2>
			<% @past_homeworks.each do |h| %>
				<div class="span4 offset1 search-label">
					<div class="chart-standard">
						CCSS Standard: <%= link_to h.standard.short %>
					</div>
					<a href="/assignments/<%=h.id%>"><%= render partial: 'shared/chart_grading', locals: {grade: h.colors} %></a>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<%= render partial: 'shared/teacher_buttons' %>


