<% title "Video Tutorial: #{@video.title}" %> 
<% description "#{@video.description}" %>
<% keywords %w["#{@video.tags}".split(",")] %>
<div class="row" itemscope itemtype="http://schema.org/CreativeWork">
	<%= render 'shared/meta' %>
	<div class="span8" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
		<h1 itemprop="caption"><%= @video.title %></h1>
		<meta itemprop="embedUrl" content="<%= @video.player_loc %>">
		<meta itemprop="encodingFormat" content="mpeg4">
		<meta itemprop="thumbnailUrl" content=#{"https://fun.shooloo.org"+"<%= @video.thumbnail.url %>"}>
		<meta itemprop="productionCompany" content="Shooloo Inc.">
		<meta itemprop="duration" content="<%= @video.duration %>">
		<meta itemprop="videoFrameSize" content="500x375">
		<meta itemprop="videoQuality" content="high">
		<p class="center"><iframe width="500" height="375" src="<%= @video.player_loc %>" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe></p>
		<% if !@video.practice_id.nil? %>
			<%= render partial: 'video_practice', locals: {video: @video} %>
		<% end %>
		<% if !@video.standard_id.nil? %>
			<%= render partial: 'video_standard', locals: {video: @video} %>
		<% end %>	
		<p>
			<strong>Keywords:</strong> 
			<span itemprop="keywords"><%= @video.tags %></span>
		</p>		
		<p>
			<strong>Description:</strong> 
			<span itemprop="description"><%= @video.description %></span>
		</p>
		<% unless @video.content.blank? %>
			<h4>Details</h4>
			<p><%= @video.content %></p>
		<% end %>
		<% if signed_in? && current_user.admin? %>
			<br/>			
				<%= link_to "EDIT", edit_video_path(@video) %>
				<%= link_to "DELETE", @video, method: :delete, data: {confirm: "Are you sure?" } %>
				<%= link_to "NEW", new_video_path %>
		<% end %>
	</div>
	<div class="span3 video-border-left">
		<h3> Related Videos </h3>
		<% if @similar_videos.count > 0 %>
			<% @similar_videos.each do |video| %>
				<ul class="users">
	  				<li itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
	  					<meta itemprop="thumbnailUrl" content=#{"https://fun.shooloo.org" + "<%= video.thumbnail.url %>"}>
	  					<p class="text_center">
	  						<%= link_to image_tag(video.thumbnail.url(:small), 
			    				alt: "Shooloo Tutorial: #{video.title}", 
			    				title: "Shooloo Tutorial: #{video.title}"), 
			    				video_path(video) %>
			    		</p>			    		
	    				<p itemprop="caption"><strong><%= link_to video.title, video_path(video) %></strong></p>
	    				<p><strong>Length: </strong><%= video.length %></p>
		    			<meta itemprop="duration" content="<%= video.duration %>">
		    			<% if !video.practice_id.nil? %>
							<%= render partial: 'video_practice', locals: {video: video} %>
						<% end %>
						<% if !video.standard_id.nil? %>
							<%= render partial: 'video_standard', locals: {video: video} %>
						<% end %>	
	  				</li>
	  			</ul>
	  		<% end %>
	  	<% end %>
	</div>
</div>