<div class="feed_content normal-font">
	<p><strong>
		<%= link_to "Learn How to Win Prizes from", contest_path, target: '_blank' %> 
	</strong></p>
</div>
<div class="span2">
	<p class="margin-bottom"><a href="/contest" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?"><%= image_tag("/attachments/logo_kind_small.jpg") %></a></p>
	<p class="margin-bottom"><a href="/contest" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?"><%= image_tag("/attachments/logo_pretzel_small") %></a></p>
	<p class="margin-bottom"><a href="/contest" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?"><%= image_tag("/attachments/logo_pop.png") %></a></p>
	<p class="margin-bottom"><a href="/contest" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?"><%= image_tag("/attachments/logo_quinn_small.png") %></a></p>
	<p class="margin-bottom"><a href="/contest" target="_blank" confirm="You are about to visit a site that is not part of Shooloo. Continue?"><%= image_tag("/attachments/logo_collar.jpg") %></a></p>
</div>