<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <span class="user">
      <%= link_to feed_item.user.screen_name, feed_item.user %>
    </span> 
    <span class="timestamp">
      posted <%= time_ago_in_words(feed_item.created_at) %> ago
    </span> 
    for 
    <span class="timestamp"><%= feed_item.grade %></span>.         
    <section class="feed_content">
      <div class="row">
        <section class="feed_item">
          <span class="image">
            <%= image_tag feed_item.photo.url (:medium) %>                       
          </span>           
          <%= wrap(simple_format(feed_item.question)) %>                    
        </section>
      </div>
      <div class="row well well-small">
        <span class="span4">
          <% if current_user?(feed_item.user) %>          
            <%= render partial: 'shared/rating_overview', locals: { local_object: feed_item } %>
          <% else %>           
            <strong>Total Number of Ratings: <%= feed_item.raters.count %> 
            </strong>            
          <% end %>
        </span> 
        <span style="float: right;">        
          <% if current_user?(feed_item.user) %> 
            <%= link_to "Delete My Post", feed_item, method: :delete,
              data: { confirm: "Are you sure? Once your post is deleted, all of its related ratings and scores will be erased, too." },
              title: feed_item.question, class: "btn btn-small btn-default" %>
            <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
          <% else %> 
            <% if feed_item.ratings.find_by_rater_id(current_user.id) %>
              <%= link_to "Delete My Rating", feed_item.ratings.find_by_rater_id(current_user.id), method: :delete,
              data: { confirm: "Are you sure?" }
                %> 
              <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
            <% else %>       
              <%= render partial: 'posts/rating_form', locals: { local_object: feed_item } %>
            <% end %>
          <% end %>        
        </span>
      </div>
    </section>
  </li>
</div>

