<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <div class="row well well-small">
      <% if feed_item.state == "draft" %>
        <span class="no">
          <% if feed_item.alarms.any? %>
            This post has been alarmed as having <%= link_to "inappropriate content", rules_path %>. Please change it and re-submit it for review.
          <% else %>
            This draft is not finished and has not been submitted for publication.
          <% end %>
        </span>
      <% elsif feed_item.state == "submitted" %>
        <span>
          This post has been submitted for review. You will get an alert when it is published.
        </span>
      <% else %>
        <%= render partial: 'posts/post_user', locals: {post: feed_item} %>
        <span class="btn-formtastic">
          <%= render partial: 'posts/post_stats', locals: {post: feed_item} %>
        </span>
      <% end %>
    </div>
    <section class="feed_content">
      <div class="row">
        <section class="feed-margin">
          <span class="image">
            <% if feed_item.state.in?(["draft", "submitted"]) %>
              <%= link_to image_tag(feed_item.photo.url (:medium), 
                alt: "Shooloo Common Core Math Problem ##{feed_item.id}", 
                title: "Shooloo Common Core Math Problem ##{feed_item.id}"),
                post_draft_path(feed_item)  %>
            <% else %>
              <%= link_to image_tag(feed_item.photo.url (:medium), 
                alt: "Shooloo Common Core Math Problem ##{feed_item.id}", 
                title: "Shooloo Common Core Math Problem ##{feed_item.id}"),
                new_post_comment_path(feed_item)  %>
            <% end %><br/> 
            <% unless feed_item.image_host.nil? %>
              <span class="image_host">Image courtesy of <%= feed_item.image_host %>.
              </span>
            <% end %>                      
          </span>  
          <span class="wrap_long_string">  
            <% if feed_item.correction.nil? %>    
              <%= feed_item.question.html_safe %>
            <% else %>
              <%= feed_item.correction.question.html_safe %>
            <% end %>
          </span>                    
        </section>
      </div>
      <div>
        <div class="btn-formtastic bottom-margin">
          <%=render partial: 'posts/post_buttons', locals: {post: feed_item, like: @like, invite: @invite} %>
        </div>
      </div>
    </section>
  </li>
</div>

