<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <div class="row well well-small">
      <span class="user">
        <%= link_to feed_item.user.screen_name, feed_item.user %>
      </span> 
      <span class="timestamp">updated</span>    
      <%= time_ago_in_words(feed_item.updated_at) %> ago 
      <span class="timestamp">for</span> 
      <%= feed_item.grade %> 
      <span class="timestamp">in </span> 
      <%= feed_item.category %>.
      <!--<span>
        <strong><%= pluralize(feed_item.raters.count, "rating") %></strong>
      </span> -->
      <span class="btn-formtastic">
        <i class="icon-star"></i>
        <%= feed_item.ratings_count %>
        <%#= feed_item.raters.count %>
        <i class="icon-thumbs-up"></i>
        <%= feed_item.overall_true_count %>
        <%#= feed_item.ratings.where(overall_rating: true).count %>
      </span>
    </div>       
    <section class="feed_content">
      <div class="row">
        <section class="feed_item">
          <span class="image">
            <%= image_tag feed_item.photo.url (:medium) %><br/> 
            <span class="image_host">Image courtesy of <%= feed_item.image_host %>.
            </span>                      
          </span>           
          <%= wrap(simple_format(feed_item.question)) %>                    
        </section>
      </div>
      <div>
        <span class="btn-formtastic">        
          <% if current_user?(feed_item.user) %> 
            <%= link_to "", feed_item, method: :delete,
              data: { confirm: "Delete post. Are you sure?" },
              title: "Delete Post", class: "icon-trash" %>
            <%= link_to " ", edit_post_path(feed_item), title: "Edit Post", class: "icon-edit" %>
            <%#= render partial: 'posts/edit_post', locals: { local_object: feed_item } %>
            <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
          <% else %> 
            <% if feed_item.ratings.find_by_rater_id(current_user.id) %>
              <%= link_to "", feed_item.ratings.find_by_rater_id(current_user.id), method: :delete, title: "Delete Rating", class: "icon-trash icon-large", data: { confirm: "Delete rating. Are you sure?" } %> 
              <%= link_to "", edit_post_rating_path(feed_item, feed_item.rating_by(current_user)), title: "Edit Rating", class: "icon-edit" %>
              <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
            <% else %>              
                <%= link_to "Answer?", new_post_rating_path(feed_item), class: "btn btn-small btn-warning" %>     
              <%#= render partial: 'posts/rating_form', locals: { local_object: feed_item } %>
            <% end %>
          <% end %>        
        </span>
      </div>
    </section>
  </li>
</div>

