<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <div class="row well well-small">
      <%= render partial: 'posts/post_user', locals: {post: feed_item} %>
      <span class="btn-formtastic">
        <%= render partial: 'posts/post_stats', locals: {post: feed_item} %>
      </span>
    </div>       
    <section class="feed_content">
      <div class="row">
        <section class="feed_item">
          <span class="image">
            <%= link_to image_tag(feed_item.photo.url (:medium), 
              alt: "Shooloo Common Core Math Problem ##{feed_item.id}", 
              title: "Shooloo Common Core Math Problem ##{feed_item.id}"),
              new_post_comment_path(feed_item)  %><br/> 
            <% unless feed_item.image_host.nil? %>
              <span class="image_host">Image courtesy of <%= feed_item.image_host %>.
              </span>
            <% end %>                      
          </span>  
          <span class="wrap_long_string">      
            <%= simple_format(feed_item.question) %>
          </span>                    
        </section>
      </div>
      <div>
        <span class="btn-formtastic">
          <span class='search-label'> 
           <%= render partial: 'alarms/alarm', locals: {post: feed_item} %>
          </span>       
          <% if current_user?(feed_item.user) %>
            <%= link_to raw('<i class="icon-trash"></i> Post'), feed_item, method: :delete, data: { confirm: "You will LOSE a lot of points if you delete this post. Continue?" },
              title: "Delete Post", class: "btn btn-small btn-default" %>
            <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
            <%= link_to raw('<i class="icon-pencil icon-white"></i> Post'), edit_post_path(feed_item), title: "Edit Post", class: "btn btn-small btn-success" %>            
          <% else %> 
            <% if feed_item.ratings.find_by_rater_id(current_user.id) %>
              <%= link_to raw('<i class="icon-trash"></i> Rating'), feed_item.ratings.find_by_rater_id(current_user.id), method: :delete, title: "Delete Rating", class: "btn btn-small btn-default", data: { confirm: "You will LOSE some points if you delete this rating. Continue?" } %> 
              <%= link_to raw('<i class="icon-pencil"></i> Rating'), edit_post_rating_path(feed_item, feed_item.rating_by(current_user)), title: "Edit Rating", class: "btn btn-small btn-default" %>
              <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
            <% else %>              
                <%= link_to raw('<i class="icon-star"></i> Rate'), new_post_rating_path(feed_item), class: "btn btn-small btn-default" %>     
            <% end %>
            <span class='search-label'> 
              <%= render partial: 'likes/like_form', locals: {post: feed_item, like: @like} %>
            </span>  
          <% end %>
          <span class='search-label'>  
            <%= render partial: 'invites/invite_form', locals: {post: feed_item, invite: @invite} %>
          </span>
          <span class='search-label'> 
            <%= link_to raw('<i class="icon-comment icon-white"></i> Comment'), new_post_comment_path(feed_item), class: "btn btn-small btn-success" %> 
          </span>  
          <% if current_user.admin? %>
            <%#= link_to "Teacher Edits ", edit_post_path(feed_item), title: "Edit Post", class: "btn btn-small btn-danger" %>
            <%#= render partial: 'shared/teacher_grade', locals: { local_object: feed_item } %>
          <% end %>                
        </span>
      </div>
    </section>
  </li>
</div>

