<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <div class="row well well-small">
      <span class="user">
        <%= link_to feed_item.user.screen_name, posts_user_path(feed_item.user) %>
      </span> 
      <span class="timestamp">in</span>    
      <%= feed_item.user.grade %>
      <span class="timestamp">updated on </span>    
      <%= feed_item.updated_at.strftime("%b %d, %Y") %> 
      <span class="timestamp">for</span> 
      <%= feed_item.grade %> 
      <span class="timestamp">in </span> 
      <%= feed_item.category %>.
      <span class="btn-formtastic">
        <i class="icon-star"></i>
        <%= feed_item.ratings_count %>
        <i class="icon-thumbs-up"></i>
        <%= feed_item.overall_true_count %>
        <i class="icon-comment"></i>
        <%= feed_item.comments_count %>
      </span>
    </div>       
    <section class="feed_content">
      <div class="row">
        <section class="feed_item">
          <span class="image">
            <%= image_tag feed_item.photo.url (:medium) %><br/> 
            <% unless feed_item.image_host.nil? %>
              <span class="image_host">Image courtesy of <%= feed_item.image_host %>.
              </span>
            <% end %>                      
          </span>           
          <%= wrap(simple_format(feed_item.question)) %>                    
        </section>
      </div>
      <div>
        <span class="btn-formtastic">
          <span style="display: inline-block;"> 
           <%= render partial: 'alarms/alarm', locals: {post: feed_item} %>
          </span>       
          <% if current_user?(feed_item.user) %> 
            <%= link_to "Delete post", feed_item, method: :delete,
              data: { confirm: "Delete post. Are you sure?" },
              title: "Delete Post", class: "btn btn-small btn-default" %>
            <%= link_to "Edit post ", edit_post_path(feed_item), title: "Edit Post", class: "btn btn-small btn-default" %>
            <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
          <% else %> 
            <% if feed_item.ratings.find_by_rater_id(current_user.id) %>
              <%= link_to "Delete rating", feed_item.ratings.find_by_rater_id(current_user.id), method: :delete, title: "Delete Rating", class: "btn btn-small btn-default", data: { confirm: "Delete rating. Are you sure?" } %> 
              <%= link_to "Edit rating", edit_post_rating_path(feed_item, feed_item.rating_by(current_user)), title: "Edit Rating", class: "btn btn-small btn-default" %>
              <%= render partial: 'shared/rating_show_avg', locals: { local_object: feed_item } %>
            <% else %>              
                <%= link_to "Check answer", new_post_rating_path(feed_item), class: "btn btn-small btn-default" %>     
            <% end %>
            <span class='search-label'> 
              <%= render partial: 'likes/like_form', locals: {post: feed_item, like: @like} %>
            </span>  
          <% end %> 
          <%= link_to "Comment", new_post_comment_path(feed_item), class: "btn btn-small btn-success" %> 
          <% if current_user.admin? %>
            <%#= link_to "Teacher Edits ", edit_post_path(feed_item), title: "Edit Post", class: "btn btn-small btn-danger" %>
            <%#= render partial: 'shared/teacher_grade', locals: { local_object: feed_item } %>
          <% end %>                
        </span>
      </div>
    </section>
  </li>
</div>

