<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>, 
    <span class="timestamp">
      posted <%= time_ago_in_words(feed_item.created_at) %> ago.</i>
    </span>
    <% if current_user?(feed_item.user) %>
      <%= link_to "DELETE", feed_item, method: :delete,
            data: { confirm: "Are you sure? Once your post is deleted, all of its related ratings and scores will be erased, too." },
            title: feed_item.question %>
    <% end %>
  </span></br>
  <table>
      <td >
        <%= image_tag feed_item.photo.url (:medium) %>
      </td>
      <td>
        <p>
          <strong>Question: </strong> 
          <%= feed_item.question %>
        </p>
        <p>
          <strong>Answer: </strong>
          <%= feed_item.answer %>
        </p> 
        <p>
          <strong>Suitalbe Grade: </strong>
          <%= feed_item.grade %>
        </p>
      </td>
    </table>
</li>
</br>