<div class="feed_item">
  <li id="<%= feed_item.id %>">
    <div class="row well well-small">
      <%= render partial: 'posts/post_user', locals: {post: feed_item} %>
      <span class="btn-formtastic">
        <%= render partial: 'posts/post_stats', locals: {post: feed_item} %>
      </span>
    </div>       
    <section class="feed_content">
      <div class="row">
        <section class="feed_item">
          <span class="image">
            <%= link_to image_tag(feed_item.photo.url (:medium), 
              alt: "Shooloo Common Core Math Problem ##{feed_item.id}", 
              title: "Shooloo Common Core Math Problem ##{feed_item.id}"),
              new_post_comment_path(feed_item)  %><br/> 
            <% unless feed_item.image_host.nil? %>
              <span class="image_host">Image courtesy of <%= feed_item.image_host %>.
              </span>
            <% end %>                      
          </span>  
          <span class="wrap_long_string">      
            <%= feed_item.question.html_safe %>
          </span>                    
        </section>
      </div>
      <div>
        <div class="btn-formtastic bottom-margin">
          <%=render partial: 'posts/post_buttons', locals: {post: feed_item, like: @like, invite: @invite} %>
        </div>
      </div>
    </section>
  </li>
</div>

