<div class="well well-small margin-bottom normal-font" align="center">
	<table class="table-lesson">
		<tr>
			<th>Assigned: </th>
			<td>
				<% if !@response.assignment.assigned_post_id.nil? %>
					Solve/critique a word problem 
				<% else %>
					Create a new post
				<% end %>
				starting on <%= @response.assignment.start_date %> <strong>ending on <%= @response.assignment.end_date %></strong>
			</td>
		</tr>
		<tr> 
			<th>Instruction: </th>
			<td><%= @response.assignment.instruction.html_safe %></td>
		</tr>
		<tr>
			<th>I-can:</th> 
			<td>In <%= @response.assignment.domain.name %>, 
				<% if @response.assignment.hstandard.nil? %>
					<%= @response.assignment.standard.ICan %>
				<% else %>
					<%= @response.assignment.hstandard.ICan %>
				<% end %>
			</td>
		</tr>
	</table>
</div>