<div class="welcome">	
	<h1>
		Welcome to Shooloo!
	</h1>
	<p class='center'><img src="/attachments/Chinese_smile.gif" alt="Shooloo Math Can Do" align="center"></p>

	<p>You can now see the lists of <%= link_to "all posts", posts_path %> and <%= link_to "all users", users_path %>.</p>

	<p>To <strong>enjoy all previlidges</strong>, including being able to publish your own math problems and/or add comments, you need to <strong><%= link_to "get authorization", new_authorization_path %></strong> from your current math teacher first.</p>

	<p>Alternatively, if you want to <strong>get followers</strong>, rate other members' posts, or let others find out, then please <strong><%= link_to "get referral", new_referral_path %></strong> from or friend or relative of yours is already an authorized member.</p>

	<p>Check out <strong><%= link_to "all the fun", my_abilities_path %></strong>  you will be able to enjoy once you become an authorized member!</p>
</div>