<h4>Create my own <%= link_to "math problem", "#", "id" => "tips", "rel" => "popover", "title" => "Features of A Great Question", "data-content" => "The more steps it takes to solve your problem, the higher rating you will get. Your answer should include both numbers and units. Do not include any copyrighted materials." %>.</h4>

<%= form_for @post, :url => posts_path, :html => { :multipart => true, onsubmit: "$('input[type=submit]', this).attr('disabled','disabled')", 'data-action' => 'create'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :question, "Question:" %>
    <%= f.text_area :question %>

    <%= f.label :answer, "Answer:" %>
    <%= f.text_field :answer %>    
  </div> 
  <div class="field">
    <%= f.label :level_id, "This question is suitable for students in:" %>
    <%= f.collection_select :level_id, Level.order(:number), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :domain_id, "This question requires skills in:" %>
    <%= f.grouped_collection_select :domain_id, Level.order(:name), :domains, :name, :id, :name, prompt: "" %>
  </div>
  <div class="field">
    <%= f.label :standard_id, "To solve this problem, I CAN:" %>
    <%= f.grouped_collection_select :standard_id, Domain.order(:name), :standards, :name, :id, :ICan, include_blank: true %>
  </div>  
  <div class="field">
    <%= f.label :subject_id, "This question is about the following subject:" %>
    <%= f.collection_select :subject_id, Subject.order('name ASC'), :id, :name, include_blank: true %>
    <%= f.label :photo, "Upload a photo from your computer:" %>    
    <%= f.file_field :photo %>
    <span class="center"> or </span>
    <%= f.label :photo_remote_url, "Paste in the url of a photo from the web:" %>
    <%= f.text_field :photo_remote_url %>
  </div> 

  <%= f.submit "Save", class: "btn btn-large btn-primary"%>
<% end %>

