<% if user.role == "editor" %>
<% elsif user.role == "student" %>
	<div class="stats">
		<span>
			<p><strong>
				<a href="#", class="follow", rel="popover", title="What Is Publication Credit?", data-content="<ul class='popover-list'><li>If your post is at or above your grade level according to the Common Core State Standard,  you will get 20 points.</li></ul>" %>Publication Credit Balance</a>
			</strong></p>
			<p><%= pluralize(user.pubcred, "point") %></p>
		</span>
	</div>
	<div class="stats">
		<span>			
			<p><strong>
				<a href="#", class="post", rel="popover", title="What Contest?", data-content="<ul class='popover-list'><li>You can participate in the Shooloo Health-Eating Math Story Contest from May to August 2014.</li><li>You may win up to $200 worth of healthy snacks.</li><li>For details, check out <a href='/contest'>contest</a>.</li></ul>" %>Contest</a>
			</strong></p>
			<p><%= pluralize(user.point.competition, "entry") %></p>
		</span>
		<span>
			<p><strong>
				<a href="#", class="post", rel="popover", title="Why Are My Posts Disqualified?", data-content="<ul class='popover-list'><li>If the posts you've entered into the contest do not meet our criteria, they become disqualified.</li><li>For qualification criteria, check out <a href='/contest'>contest</a> and <a href='/attachments/contest_checklist.pdf' target='_blank'>download a checklist</a>.</li></ul>" %>Disqualified</a>
			</strong></p>
			<p><%= pluralize(user.point.disqualified, "post") %></p>
		</span>
		<span>
			<p><strong>
				<a href="#", class="post", rel="popover", title="How to Qualify?", data-content="Make sure your post <ul class='popover-list'><li>is about health-eating,</li><li>is at or above your grade level,</li><li>has two or more steps,</li><li>has the correct and complete answer, and</li><li>is free of grammatical or spelling errors.</li></ul>For qualification criteria, check out <a href='/contest'>contest</a> and <a href='/attachments/contest_checklist.pdf' target='_blank'>download a checklist</a>." %>Qualified</a>
			</strong></p>
			<p><%= pluralize(user.point.qualified, "post")%></p>
		</span>
	</div>
<% else %>
	<!-- <div class="stats">
		<span>
			<p><strong>
				<a href="#", class="follow", rel="popover", title="What Is Publication Credit?", data-content="<ul class='popover-list'><li>Teachers are NOT bound by publication credit and CAN publish as many posts as they want.</li><li>Students can publish posts only if they have publication credits.</li><li>Each student gets 100 credits initially to submit posts. All Student posts are reviewed by our editors before publication.</li><li>If the post is at or above the author's grade level according to the Common Core State Standard,  he/she will get 20 points.</li><li>If the post is below his/her grade level, he/she will lose certain points.</li><li>For every grade that the post is below his/her grade level, 10 points are deducted from his/her credit balance.</li><li>When his/her balance drops to 0, he/she can no longer publish any posts.</li></ul>" %>Publication Credit Balance</a>
			</strong></p>
			<p><%= pluralize(user.pubcred, "point") %></p>
		</span>
	</div> -->
	<% if user.role.in?(["teacher", "tutor", "other"]) %>
		<strong>
			<%= link_to "My Own Progress in Contest", contest_path, target: "_blank" %>
		</strong><br/>
		<div class="stats">
			<span>			
				<p>
					<a href="#", class="post", rel="popover", title="What Are Advocacy Points?", data-content="<ul class='popover-list'><li>Teachers with the highest Advocacy points can win up to $500 of prizes in the Advocate category.</li><li>If you refer a fellow educator to Shooloo and he/she signs up using your email address as referral, you will get 10 points.</li><li>When he/she <a href='/user_imports/new/'>imports his student roster</a> into Shooloo, you will get another 30 points.</li><li>For details, check out <a href='/contest'>contest</a>.</li></ul>">Advocacy</a>
				</p>
				<p><%= pluralize(user.point.advocacy, "point") %></p>
			</span>
			<span>
				<p>
					<a href="#", class="post", rel="popover", title="What Are Inspiration Points?", data-content="<ul class='popover-list'><li>Teachers with the highest Inspiration and Education points combined can win up to $500 of prizes in the Teacher Expert category.</li><li>For every  and <a href='/attachments/contest_checklist.pdf' target='_blank'>qualified</a> post your students have entered into the Healthy Eating Math Story Contest, you will get 10 Inspiration points.</li><li>For details, check out <a href='/contest'>contest</a>.</li></ul>">Inspiration</a>
				</p>
				<p><%= pluralize(user.point.inspiration, "point") %></p>
			</span>
			<span>
				<p>
					<a href="#", class="post", rel="popover", title="What Are Education Points?", data-content="<ul class='popover-list'><li>Teachers with the highest Inspiration and Education points combined can win up to $500 of prizes in the Teacher Expert category.</li><li>For every post that you have entered into the Healthy Eating Math Story Contest, you will get 20 Education points.</li><li>For details, check out <a href='/contest'>contest</a>.</li></ul>">Education</a>
				</p>
				<p><%= pluralize(user.point.education, "point")%></p>
			</span>
		</div>
		<strong>
			<%= link_to "My Students' Progress in Contest", contest_path, target: "_blank" %>
		</strong><br/>
	<% elsif user.role=="parent" %>
		<strong>
			<%= link_to "My Children' Progress in Contest", contest_path, target: "_blank" %>
		</strong><br/>
	<% end %>
	<div class="stats">		
		<span>			
			<p>
				<a href="#", class="post", rel="popover", title="What Counts as Student Entry? ", data-content="<ul class='popover-list'><li>Each time your students enter a post into the health-eating math story contest, the number here is updated.</li><li>Your students can enter as many posts into the contest as they want, as long as they have sufficient publication credits left.</li><li>For details, check out <a href='/contest'>contest</a>.</li></ul>">Entered</a>
			</p>
			<p><%= pluralize(user.student_contest.entry_total, "post") %></p>
		</span>
		<span>
			<p>
				<a href="#", class="post", rel="popover", title="Why Are Entries Disqualified?", data-content="<ul class='popover-list'><li>We review and check if each contest entry meets our <a href='/contest#qualification' target = '_blank'>qualification criteria</a>.</li><li>Disqualified entries do not earn you any Inspiration point.</li><li>For details, check out <a href='/contest'>contest</a> and <a href='/attachments/contest_checklist.pdf' target='_blank'>download a checklist</a>.</li></ul>">Disqualified</a>
			</p>
			<p><%= pluralize(user.student_contest.disqualified_total, "post")%></p>
		</span>
		<span>
			<p>
				<a href="#", class="post", rel="popover", title="How Can Entries Qualify?", data-content="<ul class='popover-list'><li>We review and check if each contest entry meets our <a href='/contest#qualification' target = '_blank'>qualification criteria</a>.</li><li>Every qualified student entry earns you 10 Inspiration points.</li><li>For details, check out <a href='/contest'>contest</a> and <a href='/attachments/contest_checklist.pdf' target='_blank'>download a checklist</a>.</li></ul>">Qualified</a>
			</p>
			<p><%= pluralize(user.student_contest.qualified_total, "post") %></p>
		</span>
	</div>
<% end %>