
<% my_modal = "myModal-#{local_object.id}" %>

  <%= link_to raw('<i class="icon-star"></i> Results'), "##{my_modal}", 
        "data-toggle" => "modal", 
        role: "button", 
        class: "btn btn-small btn-default", 
        title: "Rating Results" %>

  <div id="<%=my_modal%>" class="modal-rating modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="row">   
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <span class="modal-image">
        <%= image_tag(local_object.photo.url(:small), alt: "Shooloo Common Core Math") %><br/> 
          Image courtesy of<br>
          <%= local_object.image_host %>.                     
      </span>
      <p>
        <span class="rating"><strong>Overall rating: </strong></span>
        <table class="table grade">
          <tr>
            <td> Excellent Work </td>
            <td> Needs Improvments </td>
            <td> <strong>Total Ratings</strong></td>             
          </tr>
          <tr>
            <td> <%= local_object.overall_true_count %> 
              <%#= local_object.ratings.where(overall_rating: true).count %> 
            </td>
            <td> <%= local_object.overall_false_count %> 
              <%#= local_object.ratings.where(overall_rating: false).count %> 
            </td>
            <td> <strong> <%= local_object.ratings_count %>
              <%#= local_object.ratings.count %>
            </strong> </td>
          </tr>
        </table>      
      </p>
      <p>
        <span class="rating"><strong>Grade suitability: </strong></span>
        <table class="table grade">
          <tr>
            <td> Below Grade </td>
            <td> Just Rgiht </td>
            <td> Above Grade </td>           
          </tr>
          <tr>
            <td> <%= local_object.grade_below_count %> 
              <%#= local_object.ratings.where(grade_suitability: 1).count %> 
            </td>
            <td> <%= local_object.grade_right_count %>
              <%#= local_object.ratings.where(grade_suitability: 2).count %> 
            </td>
            <td> <%= local_object.grade_above_count %>
              <%#= local_object.ratings.where(grade_suitability: 3).count %> 
            </td>            
          </tr>          
        </table>      
      </p>      
      <p>
        <span class="rating"><strong>Answer<br />correctness: </strong></span>
        <table class="table">
          <tr>
            <td> Right Answer</td>
            <td> Wrong Answer </td>
            <td> I Don't Know </td>
            <td> Not Enough Info </td>            
          </tr>
          <tr>
            <td> <%= local_object.answer_correctness_1_count %> 
              <%#= local_object.ratings.where(answer_correctness: 1).count %>
            </td>
            <td> <%= local_object.answer_correctness_2_count %>
              <%#= local_object.ratings.where(answer_correctness: 2).count %> 
            </td>
            <td> <%= local_object.answer_correctness_3_count %>
              <%#= local_object.ratings.where(answer_correctness: 3).count %> 
            </td>
            <td> <%= local_object.answer_correctness_4_count %>
              <%#= local_object.ratings.where(answer_correctness: 4).count %> 
            </td>
          </tr>          
        </table>      
      </p>
      <p>
        <span class="rating"><strong>Number of steps <br />to solve problem: </strong></span>
        <table class="table">
          <tr>
            <td> 1 step</td>
            <td> 2 steps </td>
            <td> 3 steps </td>
            <td> 4 steps</td>
            <td> 5 steps</td>
            <td> >5 steps</td>             
          </tr>
          <tr>
            <td> <%= local_object.steps_1_count %>
              <%#= local_object.ratings.where(steps: 1).count %> 
            </td>
            <td> <%= local_object.steps_2_count %>
              <%#= local_object.ratings.where(steps: 2).count %> 
            </td>
            <td> <%= local_object.steps_3_count %>
              <%#= local_object.ratings.where(steps: 3).count %> 
            </td>
            <td> <%= local_object.steps_4_count %>
              <%#= local_object.ratings.where(steps: 4).count %> 
            </td>
            <td> <%= local_object.steps_5_count %>
              <%#= local_object.ratings.where(steps: 5).count %> 
            </td>
            <td> <%= local_object.steps_6_count %>
              <%#= local_object.ratings.where(steps: 6).count %> 
            </td>
          </tr>          
        </table>      
      </p>
      <p>
        <span class="rating"><strong>Math operations: </strong></span>
        <table class="table math">
          <tr>            
            <td> Whole Number </td> 
            <td> Decimal Point </td>
            <td> Fraction </td> 
            <td> Percentage </td>
            <td> Negative Number </td>                    
          </tr>
          <tr>
            <td> <%= local_object.operation_whole_count %>
              <%#= local_object.operations.where(name: "whole number").count %> </td> 
            <td> <%= local_object.operation_decimal_count %>
              <%#= local_object.operations.where(name: "decimal point").count %>
            </td> 
            <td> <%= local_object.operation_fraction_count %>
              <%#= local_object.operations.where(name: "fraction").count %> 
            </td> 
            <td> <%= local_object.operation_percentage_count %>
              <%#= local_object.operations.where(name: "percentage").count %> 
            </td> 
            <td> <%= local_object.operation_negative_count %>
              <%#= local_object.operations.where(name: "negative number").count %> 
            </td>     
          </tr>          
        </table> 
        <table class="table operation">
          <tr> 
            <td> Addition </td>
            <td> Substraction </td>
            <td> Multiplication </td>  
            <td> Division </td>             
          </tr>
          <tr>   
            <td> <%= local_object.operation_addition_count %>
              <%#= local_object.operations.where(name: "addition").count %> 
            </td>
            <td> <%= local_object.operation_substraction_count %>
              <%#= local_object.operations.where(name: "substraction").count %>
            </td>
            <td> <%= local_object.operation_multiplication_count %>
              <%#= local_object.operations.where(name: "multiplication").count %> 
            </td>
            <td> <%= local_object.operation_division_count %>
              <%#= local_object.operations.where(name: "division").count %> 
            </td>           
          </tr>          
        </table>           
      </p>
       <p>
        <span class="rating"><strong>Suggested<br/>improvements:</strong>
        </span>
        <table class="table math">
          <tr>
            <td> Vocabulary </td>
            <td> Grammar </td>
            <td> Structure </td>  
            <td> Concept Clarity </td> 
            <td> Originality </td>                     
          </tr>
          <tr>  
            <td> <%= local_object.vocabulary_count %>
              <%#= local_object.improvements.where(name: "vocabulary").count %> 
            </td>
            <td> <%= local_object.grammar_count %>
              <%#= local_object.improvements.where(name: "grammer").count %>  
            </td>
            <td> <%= local_object.structure_count %>
              <%#= local_object.improvements.where(name: "structure").count %> 
            </td>
            <td> <%= local_object.clarity_count %>
              <%#= local_object.improvements.where(name: "concept clarity").count %> 
            </td>  
            <td> <%= local_object.originality_count %>
              <%#= local_object.improvements.where(name: "originality").count %>
            </td>                      
          </tr>          
        </table>
      </p> 
      <p>
        <span class="rating"><strong>Red flags:</strong></span>
        <table class="table operation">
          <tr>
            <td> Plagerized Content </td>
            <td> Offensive Content </td>
            <td> Offensive Image </td>                                 
          </tr>
          <tr>
            <td> <%= local_object.plagerism_count %>
              <%#= local_object.flags.where(name: "plagerized content").count %> 
            </td>
            <td> <%= local_object.content_count %>
              <%#= local_object.flags.where(name: "offensive content").count %>  
            </td>
            <td> <%= local_object.image_count %>
              <%#= local_object.flags.where(name: "offensive image").count %> 
            </td>                      
          </tr>          
        </table>
      </p>    
    </div>   
    <button class="btn" data-dismiss="modal" aria-hidden="true" style="float: right;">Close</button>  
  </div>

