
<% my_modal = "myModal-#{local_object.id}" %>

  <%= link_to raw('<i class="icon-star"></i> Results'), "##{my_modal}", 
        "data-toggle" => "modal", 
        role: "button", 
        class: "btn btn-small btn-default", 
        title: "Rating Results" %>

  <div id="<%=my_modal%>" class="modal-rating modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="row">   
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <span class="modal-image">
        <%= image_tag(local_object.photo.url(:small), alt: "Shooloo Common Core Math") %><br/> 
          Image courtesy of<br>
          <%= local_object.image_host %>.                     
      </span>
      <p>
        <span class="rating"><strong>Overall rating: </strong></span>
        <table class="table grade">
          <tr>
            <td> Excellent Work </td>
            <td> Needs Improvments </td>
            <td> <strong>Total Ratings</strong></td>             
          </tr>
          <tr>
            <td> <%= local_object.overall_true_count %> 
            </td>
            <td> <%= local_object.overall_false_count %> 
            </td>
            <td> <strong> <%= local_object.ratings_count %>
            </strong> </td>
          </tr>
        </table>      
      </p>
      <p>
        <span class="rating"><strong>"I can" suitability: </strong></span>
        <table class="table grade">
          <tr>
            <td> Just Rgiht </td>
            <td> Wrong Grade </td>            
            <td> Wrong Skill </td>
            <td> Wrong I-can </td>           
          </tr>
          <tr>
            <td><%= local_object.ccss_right_count %></td>
            <td> <%= local_object.ccss_wrong_grade_count %></td>
            <td> <%= local_object.ccss_wrong_skill_count %></td>
            <td><%= local_object.ccss_wrong_ican_count %></td>            
          </tr>          
        </table>      
      </p>      
      <p>
        <span class="rating"><strong>Answer<br />correctness: </strong></span>
        <table class="table">
          <tr>
            <td> Right Answer</td>
            <td> Wrong Answer </td>
            <td> I Don't Know </td>
            <td> Not Enough Info </td>            
          </tr>
          <tr>
            <td><%= local_object.answer_correctness_1_count %></td>
            <td><%= local_object.answer_correctness_2_count %></td>
            <td><%= local_object.answer_correctness_3_count %></td>
            <td><%= local_object.answer_correctness_4_count %></td>
          </tr>          
        </table>      
      </p>
      <p>
        <span class="rating"><strong>Number of steps <br />to solve problem: </strong></span>
        <table class="table">
          <tr>
            <td> 1 step</td>
            <td> 2 steps </td>
            <td> 3 steps </td>
            <td> 4 steps</td>
            <td> 5 steps</td>
            <td> >5 steps</td>             
          </tr>
          <tr>
            <td><%= local_object.steps_1_count %></td>
            <td><%= local_object.steps_2_count %></td>
            <td><%= local_object.steps_3_count %></td>
            <td><%= local_object.steps_4_count %></td>
            <td> <%= local_object.steps_5_count %></td>
            <td> <%= local_object.steps_6_count %></td>
          </tr>          
        </table>      
      </p> 
      <p>
        <span class="rating"><strong>Suggested<br/>improvements:</strong>
        </span>
        <table class="table math">
          <tr>
            <td> Vocabulary </td>
            <td> Grammar </td>
            <td> Structure </td>  
            <td> Concept Clarity </td> 
            <td> Originality </td>                     
          </tr>
          <tr>  
            <td><%= local_object.vocabulary_count %></td>
            <td><%= local_object.grammar_count %></td>
            <td><%= local_object.structure_count %></td>
            <td><%= local_object.clarity_count %></td>  
            <td><%= local_object.originality_count %></td>
          </tr>          
        </table>
      </p>     
    </div>   
    <button class="btn" data-dismiss="modal" aria-hidden="true" style="float: right;">Close</button>  
  </div>

