<span class="no">
	<li>
		<strong>Being found by other members:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>		
	<li>
		<strong>Follow others and get followers:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>
	<li>
		<strong>Nudge others into doing something:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>
	<li>
		<strong>Like others'posts and comments:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>
	<li>
		<strong>Rate others' posts:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>
	<li>
		<strong>Raise alarms:</strong>
		<%= render 'shared/cannot_refer' %>
	</li>
</span>