<div class="row">
	<div class="span1.5">
		<%= image_tag current_user.avatar.url (:thumb) %>
	</div>
	<div class="span2">
		<h1 class="user_name">
		  <%= current_user.name %>
		</h1>
		<span>
		  <%= link_to "view my profile", current_user %>
		</span>
		<span>
			Published
			<a href="<%= posts_user_path(current_user) %>" >
		  	<%= pluralize(current_user.posts.count, "post") %></a>.
		</span>
		<span>
			Rated
			<a href="<%= rated_posts_user_path(current_user) %>" >
			<%= pluralize(current_user.rated_posts.count, "post") %></a>.
		</span>
	</div>
</div>

