<div class="row">
	<div class="span1.5">
		<%= image_tag current_user.avatar.url (:thumb) %>
	</div>
	<div class="span2">
		<h1 class="user_name">
		  <%= wrap(current_user.screen_name) %>
		</h1>
		<br/>
		<span>
			<% published_posts= pluralize(current_user.posts.count, "post") %>
			Published			
		  	<%= link_to "#{published_posts}", current_user %></a>.
		</span>
		<span>
			Rated
			<a href="<%= rated_posts_user_path(current_user) %>" >
			<%= pluralize(current_user.rated_posts.count, "post") %></a>.
		</span>
	</div>
</div>

