<% provide(:title, "Receiving Gifts") %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
	</aside>
	<div class="span8">    
    <% if current_user.reverse_gifts.where(week: Time.now.strftime('%W'), 
        year: Time.now.strftime('%Y'), sent: true).any? %>
      <h3> Gifts Received This Week</h3>  
    <% end %>
    <h3> Gifts About to Receive</h3>
    <% if @scores.any? %>       
      <ul class="users">
        <% @scores.order('weekly_tally DESC').each do |s| %>
        <li>
          <div class="span1">
            <%= link_to image_tag(s.beneficiary.avatar.url (:small), :alt => "Shooloo member #{s.beneficiary.screen_name}", :title => "Shooloo member #{s.beneficiary.screen_name}"), posts_user_path(s.beneficiary) %>
          </div>
          <div class="span6">
            <% if s.beneficiary.gifts.where(receiver_id: current_user.id, 
              week: Time.now.strftime('%W'), year: Time.now.strftime('%Y'), sent: nil).any? %>
              <p><strong>Congrats! You have become a fan of <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %>.</strong></p> 
              <p>If don't receive a gift within a day, remind <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %> to log in and send you the gift.</p>
            <% elsif s.beneficiary.gifts.where(receiver_id: current_user.id, 
              week: Time.now.strftime('%W'), year: Time.now.strftime('%Y'), sent: true).any? %>
              <p><strong>Hooray! Gift received!</strong></p> 
            <% else %>  
              <p>Your progress towards getting a gift from  
              <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %> 
              this week: </p>
              <div class="progress progress-success">
                <div class="bar" style="float: left; width: 0%;" data-percentage="<%=s.progress%>">
                </div>
              </div> 
            <% end %>
          </div>                
        </li>
        <% end %>
      </ul>
    <% else %>
      <p>I am sorry, but you will not get any gift this week because you have not done anything. </p>
      <p> Comment on your friends' posts. Publish your own posts. The more you do, the more points you will get, and the more likely you will get a gift. </p> 
    <% end %> 
  </div>
</div>