<% provide(:title, "Giving Gifts") %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
	</aside>
	<div class="span8">    
    <% if @gifts_unsent.any? %>      
      <%= render partial: 'events/gift_choices', 
            locals: {choices_visible: @choices_visible, gifts_unsent: @gifts_unsent} %>
    <% end %>
    <div class="user_avatars">
    <h3> Members Becoming Your Fans of the Week:</h3>
      <% if @reverse_scores.any? %>
        <%= render partial: 'events/fans', 
              locals: {reverse_scores: @reverse_scores} %>
      <% else %>
        <%= render partial: 'events/welcome', 
              locals: {user: @user} %>
      <% end %>
    </div> 
  </div>
</div>
