<% title 'Receiving Gifts' %>
<% description 'Shooloo member receives gifts from friends' %> 
<% noindex %>
<% nofollow %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
    <% if @received_gifts.any? %>      
      <div class="giver">
        Received <strong><%= current_user.gift_received_count %> gifts</strong> from the following<br/>
        <strong><%= @givers.count %> members</strong>:
      </div>         
      <div class="user_avatars">
          <% @givers.each do |giver| %>
          <%= link_to image_tag(giver.avatar.url (:small), :alt => "Shooloo member #{giver.screen_name}", :title => "Shooloo member #{giver.screen_name}"), posts_user_path(giver) %>
        <% end %>
      </div>      
    <% end %>
	</aside>
	<div class="span8">    
    <% if @received_gifts_14_days.any? %>
      <h3> Gifts Received in the Past 14 Days</h3>       
      <ul class="gifts">
        <% @received_gifts_14_days.each do |gift| %>
          <li>
            <%= link_to            \
                  image_tag(gift.choice.image.url(:small)), 
                  gift.choice.image.url(:large),
                  :class=>'fancybox' %><br/>
            <span class="image_host">
              from: <%= gift.giver.screen_name %>
            </span>
          </li>      
        <% end %>
      </ul> 
    <% end %>
    <h3> Gifts to Receive This Week</h3>
    <div class="box">
      <i><strong>Hint:</strong> comment, rate and like your friends posts, and you will earn points towards getting a gift from them.</i>
    </div>
    <% if @scores.any? %>       
      <ul class="users">
        <% @scores.each do |s| %>
        <li>
          <div class="span1">
            <%= link_to image_tag(s.beneficiary.avatar.url (:small), :alt => "Shooloo member #{s.beneficiary.screen_name}", :title => "Shooloo member #{s.beneficiary.screen_name}"), posts_user_path(s.beneficiary) %>
          </div>
          <div class="span6">
            <% if s.beneficiary.gifts.where(receiver_id: current_user.id, 
              week: Time.now.strftime('%W'), year: Time.now.strftime('%Y'), sent: nil).any? %>
              <p><strong>Congrats! You have become a fan of <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %>.</strong></p> 
              <p>If don't receive a gift within a day, remind <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %> to log in and send you the gift.</p>
            <% elsif s.beneficiary.gifts.where(receiver_id: current_user.id, 
              week: Time.now.strftime('%W'), year: Time.now.strftime('%Y'), sent: true).any? %>
              <p><strong>Hooray! Gift received from <%=s.beneficiary.screen_name %>!</strong> See panel above.</p> 
            <% else %>  
              <p>Your progress towards getting a gift from  
              <%= link_to s.beneficiary.screen_name, posts_user_path(s.beneficiary) %> 
              this week: </p>
              <div class="progress progress-success">
                <div class="bar" style="float: left; width: 0%;" data-percentage="<%=s.progress%>">
                </div>
              </div> 
            <% end %>
          </div>                
        </li>
        <% end %>
      </ul>
    <% else %>
      <div class="giver">
        <p>It feels so lonely not receiving gifts from anyone. </p>
         <p class='center'><img src="/attachments/cry.gif" alt="Shooloo Math Can Do"></p>
        <p> Comment, rate, and like your friends' posts. The more attention you give to your friends, the more points you will get, and the more likely you will receive a gift. </p> 
      </div>  
    <% end %> 
  </div>
</div>