<% title 'Giving Gifts' %>
<% description 'Shooloo member gives gifts to friends' %> 
<% noindex %>
<% nofollow %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info', user: @user %>
    </section>
    <section>
      <%= render 'shared/stats', user: @user %>
    </section>
    <% if @sent_gifts.any? %>      
      <div class="giver">
        Sent <strong><%= current_user.gift_sent_count %> gifts</strong> to the following<br/> 
        <strong><%= @receivers.count %> members</strong>:
      </div>         
      <div class="user_avatars">
          <% @receivers.each do |receiver| %>
          <%= link_to image_tag(receiver.avatar.url (:small), :alt => "Shooloo member #{receiver.screen_name}", :title => "Shooloo member #{receiver.screen_name}"), posts_user_path(receiver) %>
        <% end %>
      </div>      
    <% end %>
	</aside>
	<div class="span8">    
    <% if @gifts_unsent.any? %>      
      <%= render partial: 'events/gift_choices', 
            locals: {choices_visible: @choices_visible, gifts_unsent: @gifts_unsent} %>
    <% end %>
    <div class="user_avatars">
    <h3> Members Becoming Your Fans of the Week:</h3>
      <% if @reverse_scores.any? %>
        <%= render partial: 'events/fans', 
              locals: {reverse_scores: @reverse_scores} %>
      <% else %>
        <%= render partial: 'events/welcome', 
              locals: {user: @user} %>
      <% end %>
    </div> 
  </div>
</div>
