<% title "Who Introduced You to Shooloo?" %>
<% description "Find the person who introduced you and you will be authorized to access all premium content of Shooloo right away." %>
<% noindex %>
<% nofollow %>

<h1>Who Referred You to Shooloo?</h1>
<p class='center'><img src="/attachments/high-five.gif" alt="Shooloo Math Can Do"></p> 

<p class="alert-heading center">
	Input the email address of the Shooloo member who referred you, and BOTH of you will get<br/> 10 points toward getting an Advocate Teacher Prize!
</p>
<div class="row">
	<div class="span6 offset3">
		<%= form_for @introduction do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
		  	<%= f.hidden_field :introducee_id, value: current_user.id %>
			  	<div class="span2 search-label">
			  		<%= f.label :introducer_email, "Referrer's Email", class: "alert-heading" %>
			  	</div>
			  	<div class="search-label">
				  <%= f.text_field :introducer_email %>
				</div><br/>
				<div class="span2 search-label">
			  		<%= f.label :invitation_code, class: "alert-heading" %>
			  	</div>
			  	<div class="search-label">
				  <%= f.text_field :invitation_code %>
				</div><br/>
			<div class="span3 offset3">
				<%= link_to "Skip", edit_user_path(current_user), class: "btn btn-large", confirm: "Redirected to complete your profile information and then request authorization from the admin. Continue?" %>
		  		<%= f.submit "Submit", class: "btn btn-large btn-primary", disable_with: "Proccessing..." %>
		  	</div>
		<% end %>
	</div>
</div>



