<% if activity.trackable %>
	<span class='alert-heading'>
		<strong><%= link_to "PUBLISHED", new_post_comment_path(activity.trackable) %></strong> 		
		a new post 
		(#<%= link_to activity.trackable.id, new_post_comment_path(activity.trackable) %>) 
		on <%= activity.created_at.strftime("%b %d, %Y") %>
	</span> 
	<i class='icon-music icon-large'></i><br/>	
	under your nudge. Comment or rate 
	<%= link_to "#{activity.user.screen_name}'s post", new_post_comment_path(activity.trackable) %>.
	<br/>	
	Show <%= link_to "#{activity.user.screen_name}", posts_user_path(activity.user) %> how pleased you are.
<% else %>
	<span class='alert-heading'>
		deleted a post. 
	</span>
	<i class='icon-trash'></i>
<% end %>