<% if activity.trackable %>
	<span class='alert-heading'>
		<strong><%= link_to "UPDATED", new_post_comment_path(activity.trackable) %></strong> post		
		(#<%= link_to activity.trackable.id, new_post_comment_path(activity.trackable) %>)  
		on <%= activity.created_at.strftime("%b %d, %Y") %>
	</span> 
	<br/>
	that you have commented or rated. Add more comments or revise your rating to <%= link_to "this post", new_post_comment_path(activity.trackable) %>. <br/>
	Check out
	<%= link_to "#{activity.user.screen_name}'s other posts", posts_user_path(activity.user) %>.
<% else %>
	<span class='alert-heading'>
		deleted a post you have commented or rated.
	</span>
<% end %>