<%= link_to "invite fellow educators", "#invitemail", "data-toggle" => "modal" %>
<div id="invitemail" class="modal-rating modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= semantic_form_for @invitemail, remote: true, :validate => true, :url => invitemails_path, :html => {class: "form-horizontal-mail"} do |f| %>
    <div class="modal-body">   
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <%= render 'shared/error_messages', object: f.object %>
      <%=f.inputs do %> 
        <%= f.input :to %>
        <%= f.input :subject, :input_html => {value: "Join me in the Healthy Eating Math Story Competition! "} %>
        <%= f.input :body, label: "Message", :input_html => {value: "Greetings! My students and I are participating in a math story competition about healthy eating, and I think your students would benefit from it as well. We can both win prizes of healthy snacks and beverages for our entire class of students!\r\n\r\nTo participate, sign up at https://fun.shooloo.org. When asked for referral, put in my email address #{current_user.personal_email} and invitation code 'healthy2014', and you will obtain immediate authorization to participate in the competition.\r\n\r\nBest wishes," } %>
      <% end %>
      <%= f.actions do %>
        <span class="search-label btn-formtastic">
          <span>&nbsp;&nbsp;</span><%= f.action :submit, label: "Send", as: :button, button_html: { class: "btn btn-formtastic btn-medium btn-primary", disable_with: "Proccessing..."} %>
        </span>
        <span class="search-label btn-formtastic">
          <button class="btn" data-dismiss="modal" aria-hidden="true" style="float: right;">Close</button>
        </span>
      <% end %>
    </div> 
  <% end %>
</div>

