<% title "Send Invites" %>
<% description "Invite teacher friends to join and win prizes for your entire class!" %>
<% noindex %>
<% nofollow %>

<% if current_user.role == "student" %>
  <h1>Invite My Friends/Family to Join Shooloo</h1>
  <p class="center">Invite your friends/family who are <strong>NOT Shooloo members</strong> to join.<br/>When they sign up using your email address, both of you will earn points towards winning cool prizes!</p>
  <%= semantic_form_for @invitemail, :url => invitemails_path, :html => {class: "form-horizontal-mail"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%=f.inputs do %> 
      <%= f.input :to, placeholder: "You can put in multiple email addresses seperated by comma" %>
      <%= f.input :subject, :input_html => {value: "Invitation from #{current_user.full_name_us}"} %>
      <%= f.input :body, label: "Message", :input_html => {value: "Hi, there. I've been having a lot fun publishing my own math problems on Shooloo.org. Join me and see if you can solve these problems I've created! Check out https://fun.shooloo.org.\r\n\r\nWhen you sign up at https://fun.shooloo.org/signup/, put in my email address '#{current_user.personal_email}' and invitation code 'healthy2014' as your referral, and both of us may win up to $200 worth of prizes. Check out details at https://fun.shooloo.org/contest/.\r\n\r\nBest wishes,\r\n\r\n#{current_user.full_name_us}" } %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Send", as: :button, button_html: { class: "btn btn-formtastic btn-medium btn-primary", disable_with: "Proccessing..."} %>
    <% end %>
  <% end %>

<% else %>
  <h1>Invite Fellow Educators</h1>
  <p class="center timestamp"> 
    When your fellow teacher joins Shooloo, both of you will earn 10 points towards getting an Advocacy Prize.<br/> When he/she imports his/her student roster into Shooloo, both of you will earn another 30 points!
  </P>
  <%= semantic_form_for @invitemail, :url => invitemails_path, :html => {class: "form-horizontal-mail"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%=f.inputs do %> 
      <%= f.input :to, placeholder: "You can put in multiple email addresses seperated by comma" %>
      <%= f.input :subject, :input_html => {value: "Invitation from #{current_user.full_name_us}"} %>
      <%= f.input :body, label: "Message", :input_html => {value: "Greetings! I've found this great eLearning site called Shooloo.org. It has over 4,000 math word problems created by students and teachers. Every problem is aligned with the Common Core State Standard. Check it out at https://fun.shooloo.org.\r\n\r\nWhen you sign up, put in my email address '#{current_user.personal_email}' and invitation code 'healthy2014', and both of us may win up to $500 worth of prizes. If your students participate in the Shooloo Healthy-Eating Math Story Contest, both you and your students may win prizes. Check out details at https://fun.shooloo.org/contest/.\r\n\r\nBest wishes,\r\n\r\n#{current_user.full_name_us}" } %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Send", as: :button, button_html: { class: "btn btn-formtastic btn-medium btn-primary", disable_with: "Proccessing..."} %>
    <% end %>
  <% end %>
<% end %>