<% title "Send Invites" %>
<% description "Invite teacher friends to join and win prizes for your entire class!" %>
<% noindex %>
<% nofollow %>

<% if current_user.role == "student" %>
  <h1>Invite My Teacher</h1>
  <%= semantic_form_for @invitemail, :url => invitemails_path, :html => {class: "form-horizontal-mail"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%=f.inputs do %> 
      <%= f.input :to, placeholder: "You can put in multiple email addresses seperated by comma" %>
      <%= f.input :subject, :input_html => {value: "Invitation from #{current_user.full_name_us}"} %>
      <%= f.input :body, label: "Message", :input_html => {value: "Hi, . I've found this great eLearning site called Shooloo. It has thousands of math word problems created by students and teachers. Every problem is aligned with the Common Core State Standard. Check it out at https://fun.shooloo.org.\r\n\r\nI want to join Shooloo but I need your authorization. If you sign up now, you may win up to $500 worth of prizes. If I participate in the Shooloo Healthy-Eating Math Story Contest, both you and I may win prizes. Check out details at https://fun.shooloo.org/contest/.\r\n\r\nBest wishes," } %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Send", as: :button, button_html: { class: "btn btn-formtastic btn-medium btn-primary", disable_with: "Proccessing..."} %>
    <% end %>
  <% end %>

<% else %>
  <h1>Invite Fellow Educators</h1>
  <p class="center timestamp"> 
    When your fellow teacher joins Shooloo, both of you will earn 10 points towards getting an Advocacy Prize.<br/> When he/she imports his/her student roster into Shooloo, both of you will earn another 30 points!
  </P>
  <%= semantic_form_for @invitemail, :url => invitemails_path, :html => {class: "form-horizontal-mail"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%=f.inputs do %> 
      <%= f.input :to, placeholder: "You can put in multiple email addresses seperated by comma" %>
      <%= f.input :subject, :input_html => {value: "Invitation from #{current_user.full_name_us}"} %>
      <%= f.input :body, label: "Message", :input_html => {value: "Hi, . I've found this great eLearning site called Shooloo. It has thousands of math word problems created by students and teachers. Every problem is aligned with the Common Core State Standard. Check it out at https://fun.shooloo.org.\r\n\r\nIf you sign up and create accounts for your students now, you may win up to $500 worth of prizes. If your students participate in the Shooloo Healthy-Eating Math Story Contest, both you and your students may win prizes. Check out details at https://fun.shooloo.org/contest/.\r\n\r\nTo obtain immediate authorization when you sign up, put in my email address #{current_user.personal_email} and invitation code 'healthy2014'.\r\n\r\nBest wishes," } %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Send", as: :button, button_html: { class: "btn btn-formtastic btn-medium btn-primary", disable_with: "Proccessing..."} %>
    <% end %>
  <% end %>
<% end %>