<% referral=current_user.reverse_referrals.find_by_referred_id(user.id) %>

<p>
	Request received on <%= referral.created_at.strftime("%b %d, %Y") %>.
</p>
<% if can? :update, referral %>
	<div id="ref_grant_<= @ref_check.id %>">	
		<% if referral.approval == "pending" %>
			<%= render partial: 'referrals/ref_review', 
				locals: {referral: referral, user: user, ref_check: @ref_check} %>
		<% else %>
			<%= render partial: 'referrals/ref_grant_result', 
					locals: {referral: referral, user: user, 
						ref_check: @ref_check} %>				
		<% end %>
	</div>
<% else %>
	<p>You don't have the power to grant referrals yet.</p>
	<p> 
		<% if current_user.role == "teacher" %>
			<%= link_to "Obtain referral", new_referral_path %> from another teacher who is Shooloo member or from the Shooloo administrator.
		<% else %>
			<%= link_to "Obtain authorization", new_authorization_path %> from your current math teacher first.
		<% end %>
	</p>
<% end %>