<div class='span5'>    					
	<p>Do you know <span class='refer'><%= user.first_name %> <%= user.last_name %></span>?</p> 
	<p>Is this person really a <span class='refer'><%= user.role %>
		<% if !user.grade.nil? %>
			in grade <%= user.grade %>
		<% end %></span>?</p>
	<p>Is the screen name <span class='refer'><%= user.screen_name %></span> appropriate?</p>
	<p>Is this person's <span class='refer'>avatar image</span> appropriate?</p>		 	
</div>
<div class='span4 form-horizontal-refer'>
	<%= semantic_form_for(referral.ref_checks.build(referral_id: referral.id), remote: true, data:{type: :js}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class='row'>
			<div class='span2'>
				<%= f.inputs do %>				
					<%=f.hidden_field :referral_id %>
					<%= f.input :name_true, as: :radio, collection: [["Yes", true], ["No", false]], required: true %>
					<%= f.input :role_true, as: :radio, collection: [["Yes", true], ["No", false]], required: true %>
					<%= f.input :screen_name_appropriate, as: :radio, collection: [["Yes", true], ["No", false]], required: true %>
					<%= f.input :avatar_appropriate, as: :radio, collection: [["Yes", true], ["No", false]], required: true %>
				<% end %>					
			</div>
			<div class='span1 ref-submit'>
				<%= f.actions do %>				
					<%= f.action :submit, label: "Submit", as: :button, button_html: { class: " btn btn-formtastic btn-medium btn-primary", :disabled_with => 'Wait...' } %>				
				<% end %>
			</div>			
		</div>
	<% end %>
</div>
