<% referral=current_user.reverse_referrals.find_by_referred_id(user) %>

<p>
	Request received on <%= referral.created_at.strftime("%b %d, %Y") %>.
</p>
<% if can? :update, referral %>
		<% if referral.approval == "pending" %>
			<%= render partial: 'referrals/ref_review', 
				locals: {referral: referral, user: user} %>
		<% elsif referral.approval == "accepted" %>
			<%= render partial: 'referrals/ref_grant_accept', 
					locals: {referral: referral, user: user} %>
		<% elsif referral.approval == "declined" %>	
			<%= render partial: 'referrals/ref_grant_decline',
					locals: {referral: referral, user: user} %>
		<% end %>			
	</span>	
<% else %>
	<p>You don't have the power to grant referrals yet.</p>
	<p> 
		<% if current_user.role == "teacher" %>
			<%= link_to "Obtain referral", new_referral_path %> from another teacher who is Shooloo member or from the Shooloo administrator.
		<% else %>
			<%= link_to "Obtain authorization", new_authorization_path %> from your current math teacher first.
		<% end %>
	</p>
<% end %>