<% provide provide(:title, "Request Referral") %>

<h1>Request Referral</h1>

<p class='center'><img src="/attachments/laptop.gif" alt="Shooloo Math Can Do"></p> 
<div class="about">
	<p>To follow other Shooloo members and get follower of your own, get referrals from Shooloom members whom you personally know. Make sure <strong>your first and last names</strong> are spelled correctly in <%= link_to "your profile", edit_user_path(current_user) %>; otherwise your friends won't be able to recognize you or give you referrals. Once you get referred, you will gain the power to <%= link_to "add ratings", 'posts_path' %> to other members' posts as well.</p>

	<p>Find my friend among Shooloo members:</P>
</div>
<%= search_form_for @referrer, url: search_referrals_path, method: :post do |f| %>
	<div class="row">
		<div class="span8 offset3" >
			<span>
				<span class="search-label">
					<%= f.label :first_name_cont, "First Name" %> 
				</span>
				<span class="search-field">
					<%= f.text_field :first_name_cont %>
				</span>	
				<span class="search-label">
					<%= f.label :last_name_cont, "Last Name" %>
				</span>
				<span class="search-field">
					<%= f.text_field :last_name_cont %>
				</span>				
			</span>	
			<span class="search-label">
				<%= f.submit "Search", class: "btn btn-small btn-default" %>
			</span>
		</div>
	</div>
<% end %>
<div class='about'>
	<% unless @referrers == @authorized_users %>
		<div class = "auth">
			<% if @referrers.count ==0 %>
				<p>I am sorry, but we can't find your friend among our members. You may request authorization from your teacher instead. An authorized member can enjoy even more fun than a referred member!</p>
			<% else %>
				<p> Found the following member: </p>
				<% @referrers.each do |user| %>
					<ul class="posts">
			  			<li>
			  				<div class='row'>	  		
			    				<div class="span3 offset1">
				    				<%= user.first_name %>
				  					<%= user.last_name %>
								</div>
								<div class="span7" >
									<%= render partial: 'referrals/referral', locals: {user: user} %>
								</div>
							</div>
					  	</li>
					</ul>	
				<% end %> 
			<% end %>
		</div>
	<% end %>
</div>
<div class="about">
	<p><strong>If you are a teacher</strong>, <%= link_to "get verification", '#' %> from the Shooloo administrator first so that your students can find you in the member database. Afterwards, ask your students to sign up and request your authorization. Once at least <%= link_to "15 students have requested", '#' %> your authorization, you yourself will become an authorized teacher and gain the power to <%= link_to "grant authorization", '#' %> to others as well as many other powers far beyond what a student can get. </p>
</div>
