<% provide provide(:title, "Request Referral") %>

<h1>Request Referral</h1>
<p class='center'><img src="/attachments/laptop.gif" alt="Shooloo Math Can Do"></p>
<% if current_user.role == "teacher" %>
	<div class="about">
		<p>As a teacher, you have the power to <strong>authorize</strong>your students to publish their own posts and comments.</p>

		<p>First, get referral from the Shooloo administrator or from other teachers whom you know and who are already Shooloo members. Make sure all of your personal information in <%=link_to "your profile", edit_user_path(current_user) %> is correct in order to expedite the referral process. Once you get referred, your name will appear in the <%= link_to "member list", users_path %> and your students will be able to find you. You will also be able to <%= link_to "follow", posts_user_path(User.find(2)) %> other members and rate their posts. However, you won't be able to publish your own posts or comments until you've gained the power to authorize your students. </p>
	</div>
	<div class='box'>
		<div class='about'>
			<p>Find teachers whom I know among Shooloo members and request referral:</P>
		</div>
		<%= search_form_for @teacher_referrer, url: search_referrals_path, method: :post do |f| %>
			<div class="row">
				<div class="span8 offset3" >
					<span>
						<span class="search-label">
							<%= f.label :first_name_cont, "First Name" %> 
						</span>
						<span class="search-field">
							<%= f.text_field :first_name_cont %>
						</span>	
						<span class="search-label">
							<%= f.label :last_name_cont, "Last Name" %>
						</span>
						<span class="search-field">
							<%= f.text_field :last_name_cont %>
						</span>				
					</span>	
					<span class="search-label">
						<%= f.submit "Search", class: "btn btn-medium btn-primary" %>
					</span>
				</div>
			</div>
		<% end %>
		<div class='about'>
			<% unless @teacher_referrers == @teachers %>
				<div class = "auth">
					<% if @teacher_referrers.count ==0 %>
						<p>I am sorry, but we can't find that teacher among our members. Find another teacher or ask a referral from the Shooloo administrator instead.</p>
					<% else %>
						<p> Found the following member: </p>
						<% @teacher_referrers.each do |user| %>
							<ul class="posts">
					  			<li>
					  				<div class='row'>	  		
					    				<div class="span3 offset1">
						    				<%= user.first_name %>
						  					<%= user.last_name %>
										</div>
										<div class="span2" >
											<%= render partial: 'referrals/referral', locals: {user: user} %>
										</div>
									</div>
							  	</li>
							</ul>	
						<% end %> 
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="line"></div>
		<div class='row'>	  		
			<div class="span7">
				<div class="about">
				Alternatively, request referral from the Shooloo administrator:
				</div>
			</div> 
			<div class="span3" >
				<%= render partial: 'referrals/referral', 
					locals: {user: @user} %>
			</div>
		</div>
	</div>		
	<div class="about">
		<p> After you've obtained your referral, ask your students to sign up and request your authorization. Once at least <%= link_to "15 students have requested", authorizations_path %> your authorization, you yourself will become an authorized teacher and gain the power to <%= link_to "grant authorization", authorizations_path %> to others as well as many other powers far beyond what a student can get. </p>
	</div>
<% else %> 
	<div class="about">
		<p>To follow other Shooloo members and get follower of your own, get referrals from Shooloom members whom you personally know. Make sure <strong>your first and last names</strong> are spelled correctly in <%= link_to "your profile", edit_user_path(current_user) %>; otherwise your friends won't be able to recognize you or give you referrals. Once you get referred, you will gain the power to <%= link_to "add ratings", 'posts_path' %> to other members' posts as well.</p>

		<p>Find my friend among Shooloo members:</P>
	</div>
	<%= search_form_for @referrer, url: search_referrals_path, method: :post do |f| %>
		<div class="row">
			<div class="span8 offset3" >
				<span>
					<span class="search-label">
						<%= f.label :first_name_cont, "First Name" %> 
					</span>
					<span class="search-field">
						<%= f.text_field :first_name_cont %>
					</span>	
					<span class="search-label">
						<%= f.label :last_name_cont, "Last Name" %>
					</span>
					<span class="search-field">
						<%= f.text_field :last_name_cont %>
					</span>				
				</span>	
				<span class="search-label">
					<%= f.submit "Search", class: "btn btn-small btn-default" %>
				</span>
			</div>
		</div>
	<% end %>
	<div class='about'>
		<% unless @referrers == @authorized_users %>
			<div class = "auth">
				<% if @referrers.count ==0 %>
					<p>I am sorry, but we can't find your friend among our members. You may request authorization from your teacher instead. An authorized member can enjoy even more fun than a referred member!</p>
				<% else %>
					<p> Found the following member: </p>
					<% @referrers.each do |user| %>
						<ul class="posts">
				  			<li>
				  				<div class='row'>	  		
				    				<div class="span3 offset1">
					    				<%= user.first_name %>
					  					<%= user.last_name %>
									</div>
									<div class="span7" >
										<%= render partial: 'referrals/referral', locals: {user: user} %>
									</div>
								</div>
						  	</li>
						</ul>	
					<% end %> 
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
