<%= link_to "Lesson", lesson_comment_path(lesson) %>
#<%= lesson.id %>:
<span class="user">
  <%= link_to lesson.user.screen_name, posts_user_path(lesson.user) %>
  <% if signed_in? && current_user.admin? %>
	(<%= lesson.user.first_name %> <%= lesson.user.last_name %>)
	<span class="timestamp">-</span>
	<% if !lesson.user.grade.nil? %>
		grade <%= lesson.user.grade %> 
	<% end %>
	<%= lesson.user.role %>
	<span class="timestamp">-</span>
  <% end %>
<span class="timestamp">created</span>
<span class="timestamp">on </span>    
<%= lesson.created_at.strftime("%b %d, %Y") %>




