<%= semantic_form_for lesson, :url => url, :html => { :multipart => true, onsubmit: "$('input[type=submit]', this).attr('disabled','disabled')", class: "form-horizontal-post-update "} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.inputs do %>
    <%= render partial: 'shared/ccss', locals: {f: f} %> 
    <%= f.input :practice_id, as: :select, include_blank: true, label: "CCSS Practice", collection: Hash[Practice.all.map{|practice| [practice.name, practice.id]}]  %>
    <%= f.input :post_a_id, label: "First post id" %>
    <%= f.input :post_b_id, label: "Second post id" %>
    <%= f.input :file, as: :file, label: "Upload your lesson plan:" %> 
    <%= f.input :description, as: :ckeditor %>
  <% end %>
  <%= f.actions do %>
    <div class="create">
      <%= f.action :submit, label: "Save", as: :button, button_html: { class: " btn btn-formtastic btn-large btn-primary" } %>
    </div>
  <% end %>
<% end %>