<div class="center create">
	<img src="/attachments/laptop.gif" height="5" alt="Shooloo Math Can Do">
	<% if current_user.role == "teacher" %>
		<% if current_user.authorized_users.any? %>
			<%= link_to "Create A New Homework Assignment Now!", new_assignment_path, class: "btn btn-large btn-success" %>
		<% elsif current_user.authorizations.where(approval: "accepted").any? %>
			<%= link_to "Import My Student Roster Now!", new_user_import_path, class: "btn btn-large btn-success" %>
		<% elsif !current_user.state.nil? && current_user.state.complete? %>
			<%= link_to "Check Out Common Core Math Word Problems Now!", posts_path, class: "btn btn-large btn-success" %>
		<% else %>
			<%= link_to "Complete My Profile Now!", edit_user_path(current_user), class: "btn btn-large btn-success" %>
		<% end %>
	<% else %>
		<%= link_to "Create My Own Math Story Now!", new_post_path, class: "btn btn-large btn-info" %>
	<% end %>
</div>