<div class="row">   
  <div class="post_review_user_info">
    <div class="btn-formtastic alert-heading">
      <% if current_user.role == "student" %> 
        <% if current_user?(@post.user) && !@post.grading.nil? %>
          <div class="grading-result">
            <%= render partial: 'posts/grading', locals: {grading: @post.grading} %>
          </div>
        <% else %>
          <div class="span4 teacher-banner">
            <%= link_to "Create your own math story", new_post_path %> today and impress your friends!
          </div>
        <% end %>  
      <% else %>
        <% if current_user.in?(@post.user.authorizers) %>
          <% if !@post.grading.nil? %>
            <div class="grading-result">
              <%= render partial: 'posts/grading', locals: {grading: @post.grading} %>
              <% if !@post.response.nil? %>
                <div class="center">
                  <%= link_to "Related Assignment", assignment_path(@post.response.assignment) %>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= link_to "Grade this post!", new_post_grading_path(@post), class: "btn btn-large btn-danger" %>
          <% end %>
        <% else %>
          <% if current_user?(@post.user) && !@post.grading.nil? %>
            <div class="grading-result">
              <%= render partial: 'posts/grading', locals: {grading: @post.grading} %>
            </div>
          <% else %>
            <div class="span4 teacher-banner">
              Watch <%= link_to "videos", videos_path %> on how to <%= link_to "make a game out of word problems", video_path(10) %> and <%= link_to "teach problem solving in 3 steps", video_path(7) %>.
            </div>
          <% end %>
        <% end %>  
      <% end %> 
    </div>  
    <%= render partial: 'posts/post_user', locals: {post: @post} %>
    <% if !@post.visible? %>   
      <% if current_user.admin? || current_user.role == "teacher" %>
        <div class="btn-formtastic">
          <%= render partial: 'alarms/unalarm', locals: {post: @post} %>
        </div>
      <% end %>
    <% end %>     
    <%= render partial: 'posts/post_stats', locals: {post: @post} %>
  </div>
</div>
<div class="row border lesson-margin">     
  <div class="image">
    <%= image_tag(@post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{@post.id}", title: "Shooloo Common Core Math Problem ##{@post.id}")  %><br/>
    <% unless @post.image_host.nil? %>
      <span class="image-host-large">Image courtesy of <%= @post.image_host %>.
      </span><br/> 
    <% end %>
    <div class="row button-width bottom-margin">
     <br/><%= render partial: 'posts/post_buttons', locals: {post: @post, like: @like, invite: @invite } %><br/>
    </div>  
  </div>
  <div class="alert-heading">         
    <p>
      <strong>Question: </strong><%= @post.question.html_safe %>
    </p>
    <p>
      <strong>Answer: </strong><%= @post.answer.html_safe %>
    </p>
    <% unless @post.level.nil? %>
      <p>
        <strong>"I can" statement: </strong> In <%= @post.domain.name %>, <%= @post.standard.ICan %>
      </p>
    <% end %>
  </div>
</div>
