<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="This question is created by a student in grades 3--8. Log in or sign up to find out its answer, member comments, and related Common Core State Standard.">
  <%= render 'shared/meta' %>
  <div class="image" >
    <%= image_tag(@post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{@post.id}", title: "Shooloo Common Core Math Problem ##{@post.id}")  %><br/>
    <% unless @post.image_host.nil? %>
      <span class="image-host-large">Image courtesy of <%= @post.image_host %>.
      </span><br/> 
    <% end %>
    <% if signed_in? %>
      <div class="row bottom-margin">
       <br/><%= render partial: 'posts/post_buttons', locals: {post: @post, like: @like, invite: @invite } %><br/>
      </div>  
    <% end %>
  </div>
  <div class="alert-heading" itemscope itemtype="http://schema.org/AlignmentObject"> 
    <meta itemprop="alignmentType" content="require">
    <meta itemprop="targetName" content="<%= @post.standard.symbol %>">
    <meta itemprop="targetUrl" content="<%= @post.standard.url %>">
    <meta itemprop="targetDescription", content="<%= @post.standard.description %>">       
    <p>
      <strong>Question: </strong><%= @post.question.html_safe %>
    </p>
    <% if signed_in? %>
      <p class="no">To see the answer and everyone else's comments, submit your own solution first.</p>
      <% if !@post.level.nil? %>
        <p>
          <strong>"I can" statement: </strong> In <%= @post.domain.name %>, <%= @post.standard.ICan %>
        </p>
      <% end %>
    <% else %>
      <p class="no">
        This question is created by a student in grades 3--8. <%= link_to "Log in", signin_path %> or <%= link_to "sign up", signup_path %> to find out its answer, member comments, and related <span itemprop="educationalFramework">Common Core State Standard</span>.<br/>
        Teachers, find out <%= link_to "how to teach Common Core math with student-authored word problems", video_path(8) %> in this <%= link_to "4-minute video", video_path (8) %>.
      </p>
    <% end %>
  </div>
</div>