<span class="timestamp">
	<% unless post.level.nil? %>
		<span itemprop="educationalAlignment" content="Common Core State Standard" itemscope itemtype="http://schema.org/AlignmentObject">
			<meta itemprop="alignmentType", content="require"> 
			<meta class="timestamp" itemprop="educationalFramework" content="Common Core State Standard">
			<strong>Level <%= post.level.number %></strong>
			<% if post.hstandard.nil? %> 
				(<%= post.standard.short %>)
				<span itemprop="targetName" content="<%= post.standard.symbol %>"></span>
			    <span itemprop="targetUrl" content="<%= post.standard.url %>"></span>
			    <span itemprop="targetDescription", content="<%= post.standard.description %>"></span>
			<% else %>
				(<%= post.hstandard.short %>)
				<span itemprop="targetName" content="<%= post.hstandard.symbol %>"></span>
			    <span itemprop="targetUrl" content="<%= post.hstandard.url %>"></span>
			    <span itemprop="targetDescription", content="<%= post.hstandard.description %>"></span>
			<% end %>
		</span>
	<% end %>
	Post #<%= link_to post.id, new_post_comment_path(post)%>
  	created by 
  	<% if !post.user.grade.nil? %>
  		grade <%= post.user.grade %> 
  	<% end %>
  	<%= post.user.role %> <%= link_to post.user.screen_name, posts_user_path(post.user) %>
 	on <%= post.created_at.strftime("%b %d, %Y") %>
 	<% if post.qualified == "yes" %>
	 	(<strong>qualified</strong>)
	<% else %>
		<% if post.state=="verified" %>
			(<strong>verified</strong>)
		<% elsif post.state.in?(["published", "revised"]) %>
			(<strong>unverified</strong>)
		<% else %>
			(<strong>unverified</strong>) 
		<% end %>
	<% end %>	
<% if signed_in? && (current_user.admin? || current_user.in?(post.user.authorizers)) %>
	<br/>
	<% if !post.steps.nil? %>
		# of steps: 
		<% if post.steps < 3 %>
			<%= post.steps %>
		<% else %>
			3 or more steps 
		<% end %>
	<% end %>
	| <span class="timestamp">Real name:</span> <%= post.user.full_name_us %> 
	<% if !post.correction.nil? %>
		| <span class="timestamp">editted by:</span> <%= post.correction.editor.first_name %>
	<% end %>
<% end %>



  
