<p class="center yes alert-heading"> 
	Join our math story <%= link_to "contest", contest_path %> and win up to 
	<% if current_user.role == "student" %>
		$200 
	<% else %>
		$500
	<% end %>
	worth of <a href="/contest#awards">prizes</a>!<br/>
	Watch <%= link_to "videos", videos_path %> on how to create a winning math story with pictures, tables, and many more.	
</p>

<%= semantic_form_for post, :validate => true, :url => url, :html => { :multipart => true, class: "form-horizontal-post-update", 'data-action' => 'update' }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
	<%=f.inputs do %> 
		<%= f.input :competition, label: "Healthy-Eating Math Story Contest", as: :radio, collection: [["Yes! Enter my post into the healthy-eating math story contest.", 1],["No. My post is not about healthy eating.", 0]] %>
        <div class="create">
        	<%# if current_user.admin? %>
        		<%#= f.input :question, as: :ckeditor, input_html: {ckeditor: {toolbar: "admin" }} %>
        	<%# else %>
        		<%= f.input :question, as: :ckeditor %>
        	<%# end %>
        </div>
        <div class="create">
	    	<%= f.input :answer, as: :ckeditor %> 
	    </div> 
	    <% if current_user.role.in?(["teacher", "tutor"]) %>  
		    <%= f.input :level_id, as: :select, include_blank: true, label: "Suitable grade:", collection: Hash[Level.all.map{|level| [level.name, level.id]}]  %>
	    	<%= f.input :domain_id, as: :select, include_blank: true, label: "Skills involved", collection: option_groups_from_collection_for_select(Level.order(:name), :domains, :name, :id, :name, f.object.domain_id)  %>  
	    	<%= f.input :standard_id, as: :select, include_blank: true, label: "I-can Statement", collection: option_groups_from_collection_for_select(Domain.order(:name), :standards, :name, :id, :ICan, f.object.standard_id) %> 
    	<% end %>
    	<%= f.input :subject_id, as: :select, include_blank: true, label: "Subject", collection: Hash[Subject.order('name ASC').map{|s| [s.name, s.id]}] %>
	    <%= f.input :photo, as: :file, label: "Photo upload" %> 	  
	    <%= f.input :photo_remote_url, label: "Photo web address", 
	    	hint: (f.object.new_record? || f.object.photo.nil?)?
			f.template.content_tag(:span, "No photo yet") : 
			f.template.image_tag(f.object.photo.url(:thumb)) %>
		<p class="center yes alert-heading"> 
			Trouble with pictures? Watch this 1-minute video on <%= link_to "how to add a picture", video_path(9) %>. 
		</p>
	<% end %>
	<%= f.actions do %>	
		<div class="btn-formtastic">		
	    	<span class="search-label">
	    	<%= f.action :submit, label: "Preview & Save as draft", as: :button, button_html: {value: "save", class: "btn btn-large btn-warning", disable_with: "saving as draft..."} %>
	    	</span>
	    	<span class="search-label">
	    		<%= render partial: submission, locals: {f: f} %>
		    </span>
		</div>
  	<% end %> 
<% end %>
