<div class="row">   
  <div class="post_review_user_info">
    <div class="btn-formtastic alert-heading">
      <% if current_user.role == "student" %> 
        <div class="span4 teacher-banner">
          <%= link_to "Create your own math story", new_post_path %> today and impress your friends!
        </div>
      <% else %>
        <div class="span4 teacher-banner">
          Watch <%= link_to "videos", videos_path %> on how to <%= link_to "make a game out of word problems", video_path(10) %> and <%= link_to "teach problem solving in 3 steps", video_path(7) %>.
        </div>
      <% end %> 
    </div>  
    <%= render partial: 'posts/post_user', locals: {post: @post} %>
    <%= render partial: 'posts/post_stats', locals: {post: @post} %>
  </div>
</div>
<div class="row border lesson-margin">     
  <div class="image">
    <%= image_tag(@post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{@post.id}", title: "Shooloo Common Core Math Problem ##{@post.id}")  %><br/>
    <% unless @post.image_host.nil? %>
      <span class="image-host-large">Image courtesy of <%= @post.image_host %>.
      </span><br/> 
    <% end %>
    <div class="row button-width bottom-margin">
     <br/><%= render partial: 'posts/post_buttons', locals: {post: @post, like: @like, invite: @invite } %><br/>
    </div>  
  </div>
  <div class="alert-heading">         
    <% if !@correction.nil? %>
      <% if current_user.role == "teacher" || current_user.admin? || 
        current_user?(@post.user) %>
        <p><strong>Comparison:</strong> <%= link_to "original vs. corrected versions", correction_path(@correction) %>
      <% end %> 
      <p>
        <strong>Question</strong> <span class="timestamp">(corrected):</span>
        <%= @correction.question.html_safe %>
      </p>
      <p><strong>Answer</strong> <span class="timestamp">(corrected):</span> <%= @correction.answer.html_safe %></p>
    <% else %>
      <p><strong>Question</strong> <span class="timestamp">(original):</span> <%= @post.question.html_safe %></p>
      <p><strong>Answer</strong> <span class="timestamp">(original):</span> <%= @post.answer.html_safe %>
    </p>
    <% end %>   
    <% unless @post.level.nil? %>
      <p>
        <% if current_user.role == "student" %>
          <% if @post.hstandard.nil? && !@post.standard.nil?%> 
            <strong>"I can" statement: </strong> In <%= @post.domain.name %>, <%= @post.standard.ICan %> 
          <% elsif !@post.hstandard.nil? %>
            <strong>"I can" statement: </strong> In <%= @post.domain.name %>, <%= @post.hstandard.ICan %> 
          <% end %>
        <% else %>
          <% if @post.hstandard.nil? && !@post.standard.nil? %> 
            <strong>CCSS:</strong> <%= @post.standard.full_description %> 
          <% elsif !@post.hstandard.nil? %>
            <strong>CCSS:</strong> <%= @post.hstandard.full_description %> 
          <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
  <% if @related_posts.any? %>
    <p>
      <span class="alert-heading">
        <strong>Related Posts in the Same CCSS Standard:</strong> 
      </span>
      <% @related_posts.each do |p| %>
        #<%= link_to p.id, post_comments_path(p) %> |
      <% end %>
      <div class="btn-formtastic negative-top"><%= will_paginate @related_posts %></div>
    </p>
  <% end %>
</div>
