<p class="center yes alert-heading"> 
	Join our math story <%= link_to "contest", contest_path %> and win up to 
	<% if current_user.role == "student" %>
		$200 
	<% else %>
		$500
	<% end %>
	worth of <a href="/contest#awards">prizes</a>!<br/>
	Watch <%= link_to "videos", videos_path %> on how to create a winning math story with pictures, tables, and many more.	
</p>

<%= semantic_form_for post, :url => url, :html => { :multipart => true, class: "form-horizontal-post-update", 'data-action' => 'update' }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
	<%=f.inputs do %> 
        <div class="create">
        	<%# if current_user.admin? %>
        		<%#= f.input :question, as: :ckeditor, input_html: {ckeditor: {toolbar: "admin" }} %>
        	<%# else %>
        		<%= f.input :question, as: :ckeditor, input_html: {ckeditor: {height: 100}} %>
        	<%# end %>
        </div>
        <div class="create">
	    	<%= f.input :answer, as: :ckeditor, input_html: {ckeditor: {height: 100}} %> 
	    </div> 
	    <% if current_user.role.in?(["teacher", "tutor"]) %> 
	    	<%= f.input :steps, as: :select, label: "This problem is", include_blank: true, collection: [["1-step", 1],["2-step", 2], ["multistep (3 or more steps)", 3] ]  %>
		    <%= render partial: 'shared/ccss', locals: {f: f} %>
    	<% end %>
    	<%= f.input :subject_id, as: :select, include_blank: true, label: "Subject", collection: Hash[Subject.order('name ASC').map{|s| [s.name, s.id]}] %>
    	<%= f.input :competition, label: link_to("Healthy-Eating Math Story Contest", contest_path), as: :radio, collection: [["Yes! Enter my post into the healthy-eating math story contest", 1],["No. My post is not about healthy eating.", 0]] %>
	<% end %>
	<%= f.actions do %>	
		<div class="btn-formtastic">
			<% if post.state == "draft" %>		
		    	<span class="search-label">
		    	<%= f.action :submit, label: "Save as draft", as: :button, button_html: {value: "save", class: "btn btn-large btn-warning", disable_with: "saving as draft..."} %>
		    	</span>
		    <% end %>
	    	<span class="search-label">
	    		<%= render partial: submission, locals: {f: f} %>
		    </span>
		</div>
  	<% end %> 
<% end %>
