<i class="icon-heart "></i>
<span id="post_likes_count-<%=post.id%>" %>
	<% if post.likes_count.to_i >0 %>
		<%= link_to post.likes_count, "#", "class" => "like", "rel" => "tooltip", 
			"title" => "#{liker_list(post)} liked your post." %> 		
	<% end %>
</span> |

<i class="icon-star"></i>
<% if post.ratings_count.to_i >0 %>
	<%= link_to post.ratings_count, "#", "class" => "rate", "rel" => "tooltip", 
		"title" => "#{rater_list(post)} rated your post." %>
<% end %>
<i class="icon-thumbs-up"></i>
<%= post.overall_true_count %> |

<i class="icon-comment"></i>
<% if post.comments_count.to_i >0 %>
	<%= link_to post.comments_count, "#", "class" => "comment", "rel" => "tooltip", "title" => "#{commenter_list(post)} commented on your post." %>
<% end %>


