<span class="user">
  <%= link_to post.user.screen_name, posts_user_path(post.user) %>
</span> 
<span class="timestamp">- </span><% if !post.user.grade.nil? %>grade <%= post.user.grade %> <% end %><%= post.user.role %><span class="timestamp"> -</span>
<span class="timestamp">updated on </span>    
<%= post.updated_at.strftime("%b %d, %Y") %>
<% unless post.subject.nil? %>
	<span class="timestamp">in subject </span> 
	<%= post.subject.name %>
<% end %>
<% unless post.level.nil? %>
	<span itemprop="educationalAlignment" content="Common Core State Standard" itemscope itemtype="http://schema.org/AlignmentObject">
	<br/><span class="timestamp"><span itemprop="alignmentType">require</span>d by</span> 
	<%= post.level.name %>
	<span class="timestamp" itemprop="educationalFramework">Common Core</span>
	<%= post.domain.core %>
	<span class="timestamp"> -</span> 
	<%= post.standard.short %>
	<span itemprop="targetName" content="<%= post.standard.symbol %>"></span>
    <span itemprop="targetUrl" content="<%= post.standard.url %>"></span>
    <span itemprop="targetDescription", content="<%= post.standard.description %>"></span>
  </span>
<% end %>

<% if signed_in? && current_user.admin? %>
	<br/><span class="timestamp">Real name:</span> <%= post.user.first_name %> <%= post.user.last_name %>,
	<% unless post.quality.nil? %>
		<span class="timestamp">Quality:</span> <%= post.quality.name %> 
	<% end %>
<% end %>
<span class="timestamp"> for</span> 
grade <%= post.grade %> 
<span class="timestamp">in category </span> 
<%= post.category %>


  
