<% title 'Math Word Problems Authored by Students Aligned with CCSS' %>
<% description 'Over 4,000 math word problems authored by students aligned with CCSS. Sign in for advanced search.' %>

<div itemscope itemtype="http://schema.org/CreativeWork">
  <%= render 'shared/meta' %>
  <h1> Common Core Word Problems</h1>
  <% if !signed_in? %>
	<div class="top-message">
		<p><%= link_to "Join Shooloo", signup_path %> to access thousands of student-authored math word problems!</p>
	</div>
  <% else %>	
		<% if current_user.authorizations.blank? %>		
			<% if current_user.role == "teacher" %>
				<p>Find out how to <%= link_to "make a game out of word problems", video_path(11) %>. Watch this 4-minute <%= link_to "video", video_path(11) %></p>  
			<% end %>
			<p>Complete <%= link_to "your profile", edit_user_path(current_user) %> and then <%= link_to "Get authorization", new_authorization_path %> to read details of the math stories!</p>
		<% end %>
	<% end %>
	<%= search_form_for @search, url: search_posts_path, method: :get do |f| %>	
		<% if signed_in? && current_user.authorizations.any? %>
			<div class="row center bottom-margin">
				<span class="search-label">
					<%= f.label :domain_core_cont, "CCSS Domain" %>
				</span>
				<span class="search-field">
					<%= f.text_field :domain_core_cont %>
				</span>	
				<span class="search-label">
					<%= f.label :standard_short_cont, "CCSS Standard" %>
				</span>
				<span class="search-field">
					<%= f.text_field :standard_short_cont %>
				</span>	
				<span class="search-label">
					<%= f.label :hstandard_short_cont, "High School Standard" %>
				</span>
				<span class="search-field">
					<%= f.text_field :hstandard_short_cont %>
				</span>								
			</div>			
		<% end %>
		<div class="row center">
			<span class="search-label">
				<%= f.label :id_eq, "Post #" %>
			</span>
			<span class="search-field">
				<%= f.text_field :id_eq %>
			</span>	
			<span class="search-label">
				<%= f.label :level_name_cont, "Grade" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :level_name_cont, Level.order(:number), :name, :name, include_blank: true %>
			</span>
			<span class="search-label">
				<%= f.label :subject_name_cont, "Subject" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :subject_name_cont, Subject.order(:name), :name, :name, include_blank: true  %>
			</span>
			<span class="search-label">
				<%= f.label :question_cont, "Keywords" %>
			</span>
			<span class="search-field">
				<%= f.text_field :question_cont %>
			</span>	
			<span class="search-label">
				<%= f.label :steps_eq, "Complexity" %>
			</span>
			<span class="search-field">
				<%= f.select :steps_eq, [["", nil], ["0-step problem", 0], ["1-step problem", 1], ["2-step problem", 2], ["3-or-more-step problem", 3]] %>
			</span>
			<span class="search-label">
				<%= f.submit "Search", class: "btn btn-small btn-primary" %>
			</span>
		</div>	
	<% end %>
	<%= will_paginate @posts %>
	<ul class="users">
		<% @posts.each do |post| %>
			<li>
				<div class="row">		
					<div class="span1.5">
						<%= link_to image_tag('/attachments/shooloo_logo_small.png', 
							alt: "Shooloo Common Core Math Problem", 
							title: "Shooloo Common Core Math Problem"), 
							new_post_comment_path(post)
							 %>	
					</div>
					<div class="span10">
						<section>
							<%= render partial: 'posts/post_user', locals: {post: post} %>
							<%= render partial: 'posts/post_stats', locals: {post: post} %>	
				    	</section> 
				  		<section class="feed_content normal-font">
				  			<% if signed_in? %>
					  			<span class="btn-formtastic">
									<%= render(partial: 'likes/like_form', locals: {like: @like, post: post }) unless current_user?(post.user) %>
								</span>
				          	<% end %>
				  			<% if post.correction.nil? %>
				  				<% content = post.question %>	
				  			<% else %>
				  				<% content = post.correction.question %>
				  			<% end %>
				  			<% if !signed_in? %>
				  				<% url = new_post_comment_path(post) %>
				  			<% else %>
				  				<% if current_user?(post.user) || current_user.admin? %>
				  					<% url = post_comments_path(post) %>
				  				<% else %>
				  					<% url = new_post_comment_path(post) %>
				  				<% end %>
				  			<% end %>
				  			<%= link_to truncate_html(content.html_safe, :length => 100, 
				  				:omission => "...", word_boundary: /\S/), url %>         	  
				  		</section>
				  		 
				  	</div>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @posts %>
</div>	

