<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Join Shooloo to access over 1,000 student-authored math word problems aligned with the Common Core State Standard and completed with I-can statements.">
  <%= render 'shared/meta' %>

	<h1> Common Core Word Problems<a href="#", class="follow", rel="popover", title="How to Comment on Posts", data-content="<ul class='popover-list'><li>Watch this <a href='<%= video_path(5) %>'>video tutorial</a></li><li>Click the green LIKE button if you want the author to know that you've read the post.</li><li>Click the link <i>read more</i> to make a comemnt.</li><li>The more posts you comment, the more attention you will get from others.</li></ul>"><img src="/attachments/secret_2.gif" alt="Shooloo Math Secret"></i></a> </h1>
	
	<%= search_form_for @search, url: search_posts_path, method: :get do |f| %>		
		<% if !signed_in? %>
			<div class="row center auth about">
				<%= link_to "Join Shooloo", signup_path %> to search over 1,000 math word problems<br/> by Common Core State Standards and by "I can" statements!
			</div>		
		<% else %>	
			<% if current_user.authorizations.blank? %>			
				<div class="row center box about">
					<%= link_to "Get authorization", new_authorization_path %> to search problems by Common Core State Standards and by "I can" statements.
				</div>
			<% else %>
				<div class="row center bottom-margin">
					<span class="search-label">
						<%= f.label :standard_ICan_cont, "I Can" %>
					</span>
					<span class="search-field">
						<%= f.text_field :standard_ICan_cont %>
					</span>	
					<span class="search-label">
						<%= f.label :domain_core_cont, "CCSS Domain" %>
					</span>
					<span class="search-field">
						<%= f.text_field :domain_core_cont %>
					</span>	
					<span class="search-label">
						<%= f.label :standard_short_cont, "CCSS Standard" %>
					</span>
					<span class="search-field">
						<%= f.text_field :standard_short_cont %>
					</span>	
					<span class="search-label">
						<%= f.label :standard_description_cont, "CCSS Description" %>
					</span>
					<span class="search-field">
						<%= f.text_field :standard_description_cont %>
					</span>								
				</div>
			<% end %>
		<% end %>
		<div class="row center">
			<span class="search-label">
				<%= f.label :id_eq, "Post #" %>
			</span>
			<span class="search-field">
				<%= f.text_field :id_eq %>
			</span>	
			<span class="search-label">
				<%= f.label :level_name_cont, "Grade" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :level_name_cont, Level.order(:number), :name, :name, include_blank: true %>
			</span>
			<span class="search-label">
				<%= f.label :subject_name_cont, "Subject" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :subject_name_cont, Subject.order(:name), :name, :name, include_blank: true  %>
			</span>
			<span class="search-label">
				<%= f.label :question_cont, "Keywords" %>
			</span>
			<span class="search-field">
				<%= f.text_field :question_cont %>
			</span>	
			<% if signed_in? && ((current_user.role=="teacher" && current_user.authorizations.any?) || current_user.admin?) %>
				<span class="search-label">
					<%= f.label :quality_name_cont, "Quality" %>
				</span>
				<span class="search-field">
					<%= f.collection_select :quality_name_cont, Quality.order(:id), :name, :name, include_blank: true %>
				</span>
			<% end %>		
			<span class="search-label">
				<%= f.submit "Search", class: "btn btn-small btn-primary" %>
			</span>
		</div>	
	<% end %>
	<%= will_paginate @posts %>
	<ul class="users">
		<% @posts.each do |post| %>
			<li>
				<div class="row">		
					<div class="span1.5">
						<%= link_to image_tag(post.photo.url (:thumb), 
							alt: "Shooloo Common Core Math Problem ##{post.id}", 
							title: "Shooloo Common Core Math Problem ##{post.id}"), 
							new_post_comment_path(post)
							 %>	
					</div>
					<div class="span10">
						<% if signed_in? %>
							<span class="btn-formtastic"> 
								<%= render(partial: 'likes/like_form', locals: {like: @like, post: post }) unless current_user?(post.user) %>	
							</span>
						<% end %>	
						<section>
							<%= render partial: 'posts/post_user', locals: {post: post} %>			      	
					        <%= render partial: 'posts/post_stats', locals: {post: post} %>			        		      	
				    	</section> 
				  		<section class="feed_content">			  			
				  			<%= truncate_html post.question.html_safe, :length => 100, 
				  				:omission => "...", word_boundary: /\S/ %>
				  			<% if signed_in? %>			  		
					  			<% if current_user?(post.user) || current_user.admin? %>
			        				<%= link_to "Edit post ", edit_post_path(post), title: "Edit Post" %> |
			        				<%= link_to "Read more", new_post_comment_path(post) %> 
				          		<% elsif current_user.role == "parent" %> 
				              		<%= link_to "Read more", new_post_rating_path(post)  %>
				          		<% else %>				
				          			<%= link_to "Read more", new_post_comment_path(post) %>
				          		<% end %> 
				          		<% if current_user.admin? || current_user.role == "teacher" %>
						           | <%= link_to "Class View", post_teacher_view_path(post) %> 
						        <% end %> 		
				          	<% end %>	          	  
				  		</section>
				  	</div>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @posts %>
</div>	

