<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Join Shooloo to access thousands of math word problems created by students and aligned with the Common Core State Standards.">
  <%= render 'shared/meta' %>
  <h1> Common Core Word Problems</h1>
  <% if !signed_in? %>
	<div class="top-message">
		<p><%= link_to "Join Shooloo", signup_path %> to access thousands of student-authored math word problems!</p>
	</div>
  <% else %>	
		<% if current_user.authorizations.blank? %>		
			<% if current_user.role == "teacher" %>
				<p>Find out how to <%= link_to "make a game out of word problems", video_path(11) %>. Watch this 4-minute <%= link_to "video", video_path(11) %></p>  
			<% end %>
			<p>Complete <%= link_to "your profile", edit_user_path(current_user) %> and then <%= link_to "Get authorization", new_authorization_path %> to read details of the math stories!</p>
		<%# else %>
			<%# if current_user.role == "teacher" || current_user.admin? %>
				<!-- <p>Watch video tutorials on how to<br/> <%= link_to "make a game out of word problems", video_path(11) %>, <%= link_to "teach problem-solving in 3 steps", video_path(8) %>, and <%= link_to "teach attention to precision", video_path(6) %>.</p> -->
			<%# else %>
				<!-- <p>Watch video on how to <%= link_to "create an enchanting word problem", video_path(4) %>.</p> -->
			<%# end %>
		<% end %>
	<% end %>
	<%= search_form_for @search, url: search_posts_path, method: :get do |f| %>	
		<% if signed_in? && current_user.authorizations.any? %>
			<div class="row center bottom-margin">
				<span class="search-label">
					<%= f.label :domain_core_cont, "CCSS Domain" %>
				</span>
				<span class="search-field">
					<%= f.text_field :domain_core_cont %>
				</span>	
				<span class="search-label">
					<%= f.label :standard_short_cont, "CCSS Standard" %>
				</span>
				<span class="search-field">
					<%= f.text_field :standard_short_cont %>
				</span>	
				<span class="search-label">
					<%= f.label :hstandard_short_cont, "High School Standard" %>
				</span>
				<span class="search-field">
					<%= f.text_field :hstandard_short_cont %>
				</span>								
			</div>			
		<% end %>
		<div class="row center">
			<span class="search-label">
				<%= f.label :id_eq, "Post #" %>
			</span>
			<span class="search-field">
				<%= f.text_field :id_eq %>
			</span>	
			<span class="search-label">
				<%= f.label :level_name_cont, "Grade" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :level_name_cont, Level.order(:number), :name, :name, include_blank: true %>
			</span>
			<span class="search-label">
				<%= f.label :subject_name_cont, "Subject" %>
			</span>
			<span class="search-field">
				<%= f.collection_select :subject_name_cont, Subject.order(:name), :name, :name, include_blank: true  %>
			</span>
			<span class="search-label">
				<%= f.label :question_cont, "Keywords" %>
			</span>
			<span class="search-field">
				<%= f.text_field :question_cont %>
			</span>	
			<span class="search-label">
				<%= f.label :steps_eq, "Complexity" %>
			</span>
			<span class="search-field">
				<%= f.select :steps_eq, [["", nil],["1-step problem", 1], ["2-step problem", 2], ["3-or-more-step problem", 3]] %>
			</span>
			<span class="search-label">
				<%= f.submit "Search", class: "btn btn-small btn-primary" %>
			</span>
		</div>	
	<% end %>
	<%= will_paginate @posts %>
	<ul class="users">
		<% @posts.each do |post| %>
			<li>
				<div class="row">		
					<div class="span1.5">
						<%= link_to image_tag(post.photo.url (:thumb), 
							alt: "Shooloo Common Core Math Problem ##{post.id}", 
							title: "Shooloo Common Core Math Problem ##{post.id}"), 
							new_post_comment_path(post)
							 %>	
					</div>
					<div class="span10">
						<% if signed_in? %>
							<span class="btn-formtastic"> 
								<%= render(partial: 'likes/like_form', locals: {like: @like, post: post }) unless current_user?(post.user) %>	
							</span>
						<% end %>	
						<section>
							<%= render partial: 'posts/post_user', locals: {post: post} %>			      	
					        <%= render partial: 'posts/post_stats', locals: {post: post} %>			        		      	
				    	</section> 
				  		<section class="feed_content">			  			
				  			<%= truncate_html post.question.html_safe, :length => 100, 
				  				:omission => "...", word_boundary: /\S/ %>
				  			<% if !signed_in? %>
				  				<%= link_to "Read more", new_post_comment_path(post)  %>
				  			<% else %>	
					  			<% if current_user?(post.user) || current_user.admin? %>
			        				<%= link_to "Edit post ", edit_post_path(post), title: "Edit Post" %> |
			        				<%= link_to "Read more", post_comments_path(post) %> 
				          		<% elsif current_user.role == "student" %> 
				              		<%= link_to "Read more", new_post_comment_path(post)  %>
				          		<% else %>				
				          			<%= link_to "Read more", post_comments_path(post) %>
				          		<% end %> 
				          		<% if current_user.admin? || current_user.role == "teacher" %>
						           | <%= link_to "Class View", post_teacher_view_path(post) %> 
						        <% end %> 		
				          	<% end %>	          	  
				  		</section>
				  	</div>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @posts %>
</div>	

