<% title "Teacher View of Post ##{@post.id}" %> 
<% noindex %>
<% nofollow %>

<div class="row border lesson-margin"> 
  <div> 
    <% if @post.correction.nil? %>
      <% post = @post %>
    <% else %>
      <% post = @post.correction %>
    <% end %>

    <div class="teacher-view"><%= post.question.html_safe %></div>
    <div class="accorion-heading">
    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    		<p><strong>Answer: </strong></p>
    	</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">    	
  		<div class="accordion-toggle teacher-view">    				
  			<p><%= post.answer.html_safe %><p>
  		</div>		   		
    </div>
    <% unless post.level.nil? %>
	    <div class="accorion-heading">
	    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	      		<p><strong>"I can" statement: </strong></p>
	      	</a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">	    	
			  <div class="accordion-toggle teacher-view">  
    			<p>In <%= post.domain.name %>,
            <% if post.hstandard.nil? %> 
              <%= post.standard.ICan %> (<%= post.standard.short %>)
            <% else %>
              <%= post.hstandard.ICan %> (<%= post.hstandard.short %>)
            <% end %>
          </p>
    		</div>	   
	    </div>
    <% end %>
  </div>
</div>

<% if !@comments.blank? %>
	<div class="accorion-heading">
    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseComments">
			<h3 class="center"> Comments </h3>
		</a>
	</div>
	<div id="collapseComments" class="accordion-body collapse">    
		<div class="accordion-toggle"> 
			<ul class="users">
        <% @comments.each do |comment| %>
          <%= render partial: 'lessons/comment', locals: {comment: comment} %>
        <% end %>				
			</ul>
		</div>		
	</div>
<% end %>

<h2 class="center"> Post A New Comment</h2>
<%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>


