<table class="table-ccss" >
	<tr>
		<th>Standard</th>
		<th>Common Core State Standard Description</th>
		<th>I-Can Statement</th>
		<th>Problems</th>
	</tr>
	<% @domains.each do |d| %>
		<tr>
			<td colspan="4"><i><%= d.core %></i> </td>				
			<% d.standards.order('id ASC').each do |s| %>
				<tr itemscope itemtype="http://schema.org/AlignmentObject">			
					<td>
						<span itemprop="educationalFramework" content="Common Core State Standard"></span>
						<span itemprop="targetName" content="<%= s.symbol %>"></span>
						<span itemprop="targetUrl" content="<%= s.url %>"></span>
						<strong><%= s.short %></strong>
					</td>
					<td itemprop="targetDescription">
						<%= s.description %>
					</td>
					<td>
						<%= s.ICan %>
					</td>
					<td>
						<% s.posts.each do |p| %>
							#<%= link_to p.id, new_post_comment_path(p) %> /
						<% end %>
					</td>
				</tr>
			<% end %>			
		</tr>	
	<% end %>
</table>