<div itemscope itemtype="http://schema.org/CreativeWork">
	<span itemprop="description" content="Shooloo's I-Can statements and word problems aligned with the Common Core State Standards for 1st-grade math."></span>
	<span itemprop="keywords" content="Shooloo, Common Core, math, word problem, I can, 1st grade, grade 1"></span>
	<%= render 'standards/heading' %>
	<ul class="nav nav-tabs">
		<li><%= link_to "Overview", standards_path %></li>
		<li><%= link_to "Kindergarten", grade_k_path %></li>
		<li class="active"><%= link_to "1st Grade", grade_1_path  %></li>
		<li><%= link_to "2nd Grade", grade_2_path  %></li>
		<li><%= link_to "3rd Grade", grade_3_path  %></li>
		<li><%= link_to "4th Grade", grade_4_path  %></li>
		<li><%= link_to "5th Grade", grade_5_path  %></li>
		<li><%= link_to "6th Grade", grade_6_path  %></li>
		<li><%= link_to "7th Grade", grade_7_path  %></li>
		<li><%= link_to "8th Grade", grade_8_path  %></li>
	</ul>
	<h3> 1st Grade </h3>
	<%= render 'standards/ccss' %>
</div>