<div itemscope itemtype="http://schema.org/CreativeWork">
	<meta itemprop="description" content="Shooloo's I-Can statements and word problems aligned with the Common Core State Standards for 4th-grade math.">
	<%= render 'shared/meta' %>
	<meta itemprop="keywords" content="I can">
	<meta itemprop="keywords" content="4th grade">
	<meta itemprop="keywords" content="grade 4">
	<%= render 'standards/heading' %>
	<ul class="nav nav-tabs">
		<li><%= link_to "Overview", standards_path %></li>
		<li><%= link_to "Practices", practice_path %></li>
		<li><%= link_to "Grade K", grade_k_path %></li>
		<li><%= link_to "Grade 1", grade_1_path  %></li>
		<li><%= link_to "Grade 2", grade_2_path  %></li>
		<li><%= link_to "Grade 3", grade_3_path  %></li>
		<li class="active"><%= link_to "Grade 4", grade_4_path  %></li>
		<li><%= link_to "Grade 5", grade_5_path  %></li>
		<li><%= link_to "Grade 6", grade_6_path  %></li>
		<li><%= link_to "Grade 7", grade_7_path  %></li>
		<li><%= link_to "Grade 8", grade_8_path  %></li>
		<li><%= link_to "High School Algebra", hs_algebra_path  %></li>
	</ul>
	<h2> 4th Grade </h2>
	<%= render 'standards/ccss' %>
</div>