<div itemscope itemtype="http://schema.org/CreativeWork">
	<meta itemprop="description" content="Overview of Shooloo's I-Can statements and word problems aligned with the Common Core State Standards.">
	<%= render 'shared/meta' %>
	<meta itemprop="keywords" content="I can">
	<%= render 'standards/heading' %>
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to "Overview", standards_path %></li>
		<li><%= link_to "Practices", practice_path %></li>
		<li><%= link_to "Grade K", grade_k_path %></li>
		<li><%= link_to "Grade 1", grade_1_path  %></li>
		<li><%= link_to "Grade 2", grade_2_path  %></li>
		<li><%= link_to "Grade 3", grade_3_path  %></li>
		<li><%= link_to "Grade 4", grade_4_path  %></li>
		<li><%= link_to "Grade 5", grade_5_path  %></li>
		<li><%= link_to "Grade 6", grade_6_path  %></li>
		<li><%= link_to "Grade 7", grade_7_path  %></li>
		<li><%= link_to "Grade 8", grade_8_path  %></li>
		<li><%= link_to "High School Algebra", hs_algebra_path  %></li>
		<li><%= link_to "High School Functions", hs_functions_path  %></li>
		<li ><%= link_to "High School Modeling", hs_modeling_path  %></li>
		<li><%= link_to "High School Geometry", hs_geometry_path  %></li>
		<li><%= link_to "High School Statistics & Probabilities", hs_stats_path  %></li>
	</ul>

	<h2 class> Overview </h2>
	<span itemprop="image">
		<%= image_tag("/attachments/final.png", size: "200x100>", alt: "Shooloo Common Core Sample Problem", style: "float: right; margin: -2em; border-width: 1px; border-color: black; border-radius: 5px;", title: "Shooloo Common Core Sample Problem") %>
	</span>	
	<p>All of the math word problems published at Shooloo.org are aligned with the Common Core State Standards and completed with “I can” statements. Click on each of the tabs titled by their respective grades on the right, and you will find details related to that grade’s Common Core State Standards, “I can” statements, and associated math word problems.</p>

	<p>Once you sign up and become an authorized member, you can search our large repository of math word problems by standard designation, standard description, “I can” keywords, and grade level. When you publish a word problem, your “I can” journal will be automatically updated. If you are a teacher, you will also be able to track each of your students’ progress in completing the standard requirements.</p>

	<p>Please be aware that our “I can” statements are extremely brief, because we have found that the shorter the statement, the easier it is for students to grasp. Also our “I can” statements typically summarize the highest skill level of each standard, because we believe that if students can write of math word problem of they own, then they should have mastered the more basic levels of skills required by that standard.</p>

</div>