<% if current_user?(user) %>
<i>Sorry, but you can't request authorization from yourself.</i>
<% elsif can? :create, Authorization %>
  <div id="authorization_form_<%= user.id %>">
	  <% if current_user.authorized_by?(user) %>
	    <%= render partial: 'authorizations/auth_withdraw', locals: {user: user} %>
	  <% else %>
	    <%= render partial: 'authorizations/auth_request', locals: {user: user} %>
	  <% end %>
  </div>
<% else%>
	<i class="no">
		<p>
			Sorry, but you can't request any authorization yet because <%= link_to "your profile", edit_user_path(current_user) %> is incomplete.
		</p>
		<p>
			Please make sure all information in <%= link_to "your profile", edit_user_path(current_user) %> is complete and correct first and then request authorizations.
		</p>
	</i>
<% end %>