<% authorization=current_user.reverse_authorizations.find_by_authorized_id(user) %>

Requested <strong>authorization</strong><br/> 
on <%= authorization.created_at.strftime("%b %d, %Y") %>.<br/>
<% if can? :update, authorization %>
	<span class="password-request-label">
		<% if authorization.approval == "pending" || authorization.approval == "accepted"%>
			<%= render partial: 'authorizations/auth_declined', 
				locals: {authorization: authorization} %>
		<% elsif authorization.approval == "declined" %>
			<%= render partial: 'authorizations/auth_grant_decline' %>
		<% end %>
	</span>
	<span class="password-request-label">
		<% if authorization.approval == "pending" || authorization.approval == "declined" %>
			<%= render partial: 'authorizations/auth_granted', 
				locals: {authorization: authorization} %>
		<% elsif authorization.approval == "accepted" %>
			<%= render partial: 'authorizations/auth_grant_accept' %>
		<% end %>		
	</span>	
<% else %>
	<p class="no">
		"You need to obtain authorization from the Shooloo admin first.
	</p>	
<% end %>