<% authorization=current_user.reverse_authorizations.find_by_authorized_id(user) %>

<span>
	Request received on <%= authorization.created_at.strftime("%b %d, %Y") %>.
</span><br/>
<% if can? :update, authorization %>
	<span class="password-request-label">
		<% if authorization.approval == "pending" || authorization.approval == "accepted"%>
			<%= render partial: 'authorizations/auth_declined', 
				locals: {authorization: authorization} %>
		<% elsif authorization.approval == "declined" %>
			<%= render partial: 'authorizations/auth_grant_decline' %>
		<% end %>
	</span>
	<span class="password-request-label">
		<% if authorization.approval == "pending" || authorization.approval == "declined" %>
			<%= render partial: 'authorizations/auth_granted', 
				locals: {authorization: authorization} %>
		<% elsif authorization.approval == "accepted" %>
			<%= render partial: 'authorizations/auth_grant_accept' %>
		<% end %>		
	</span>	
<% end %>