<% provide(:title, "Student Roster") %>

<h1>My Student Roster</h1>

<%= search_form_for @search_student, url: search_student_authorizations_path, 
		method: :get do |f| %>
	<p class="text_center">
		<span class="search-label">
			<%= f.label :first_name_cont, "First Name" %>
		</span>
		<span class="search-field">
			<%= f.text_field :first_name_cont %>
		</span>
		<span class="search-label">
			<%= f.label :last_name_cont, "Last Name" %>
		</span>
		<span class="search-field">
			<%= f.text_field :last_name_cont %>
		</span>
		<span class="search-label">
			<%= f.label :grade_eq, "Grade" %>
		</span>
		<span class="search-field">
			<%= f.text_field :grade_eq %>
		</span>	
		<span class="search-label">
			<%= f.submit "Search", class: "btn btn-small btn-default" %>
		</span>
	</p>
<% end %>

<% if @auth_seekers.any? %>
	<div class="about">
		<p>The following students (sorted by grade first then by last name) have requested your authorization.</p>
	</div>
	<% @auth_seekers.each do |user| %>
		<ul class="posts">
  			<li>
  				<div class='row'>
  					<div class="span1 center auth-font">
    					Grade</br>
    					<strong><%= user.grade %></strong>
    				</div>	  		
    				<div class="span1">
    					<%= link_to image_tag(user.avatar.url (:small), :alt => "Shooloo member #{user.screen_name}", :title => "Shooloo member #{user.screen_name}"), common_core_I_can_user_path(user) %>
    				</div>
    				<div class='span3 auth-font'>
    					<span><%= link_to user.last_name, common_core_I_can_user_path(user) %>, <%= user.first_name %></span> </br>
    					Screen Name: <strong><%= user.screen_name %></strong><br/>
    					published <%= link_to pluralize(user.post_count, "post"), posts_user_path(user) %>,<br/> 
			      		made <%= link_to pluralize(user.comment_count, "comment"), commented_posts_user_path(user) %>.
					</div>
					<div class='span1 center' >
						<%= render partial: 'users/follow_form', locals:{user: user} %>
						<%= render partial: 'users/nudge_form', locals:{user: user} %>
					</div>
					<div class='span3 center'>
						<%= render partial: 'authorizations/reset_password_form', locals: {user: user} %>
						<%= button_to "delete off roster", teacher_delete_auth_authorization_path(user.authorizations.find_by_authorizer_id(current_user.id)), method: :delete, confirm: "Delete #{user.first_name} #{user.last_name} off your roster. Continue?", class: "btn btn-medium"%>
					</div>
					<div class='span3 center auth-font' >
						<%= render partial: 'authorizations/auth_grant', locals: {user: user} %>
					</div>
				</div>
		  	</li>
		</ul>	
	<% end %> 
<% else %>
	<div class="about">
		<p> No student found. To create accounts for your entire class instantly, watch the 1-minute video below and <%= link_to "import your class roster", new_user_import_path %> now.</p>
	</div>
	<div class="center-div">
			<% @video = Video.find(2) %>
		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
	</div>	
<% end %>
