<% provide(:title, "Grant Authorization") %>

<h1>Grant Authorization</h1>

<% if @auth_seekers.any? %>
	<div class="about">
		<p>The following students have requested your authorization.</p>
	</div>
	<% @auth_seekers.each do |user| %>
		<ul class="posts">
  			<li>
  				<div class='row'>	  		
    				<div class="span1 offset1">
    					<%= link_to image_tag(user.avatar.url (:small), :alt => "Shooloo member #{user.screen_name}", :title => "Shooloo member #{user.screen_name}"), posts_user_path(user) %>
    				</div>
    				<div class='span3'>
    					<strong>Real name: </strong><%= user.first_name %> <%= user.last_name %></br>
    					<strong>Grade:</strong> <%= user.grade %></br>
    					<strong>Screen name:</strong> <%= user.screen_name %>
					</div>
					<div class='span5' >
						<%= render partial: 'authorizations/auth_grant', locals: {user: user} %>
					</div>
				</div>
		  	</li>
		</ul>	
	<% end %> 
<% else %>
	<div class="about">
		<p> No students have requested your authorization yet. Watch this <%= link_to "video tutorial", video_path(2) %> to find out how to get your students to create their own accounts.</p>
	</div>
<% end %>
