<% provide(:title, "Grant Authorization") %>

<h1>Grant Authorization</h1>

<% if @auth_seekers.any? %>
	<div class="about">
		<p>The following students (sorted by grade first then by last name) have requested your authorization.</p>
	</div>
	<% @auth_seekers.each do |user| %>
		<ul class="posts">
  			<li>
  				<div class='row'>
  					<div class="span1 center">
    					Grade</br>
    					<strong><%= user.grade %></strong>
    				</div>	  		
    				<div class="span1">
    					<%= link_to image_tag(user.avatar.url (:small), :alt => "Shooloo member #{user.screen_name}", :title => "Shooloo member #{user.screen_name}"), posts_user_path(user) %>
    				</div>
    				<div class='span3'>
    					<strong>Real name: </strong><%= user.last_name %>, <%= user.first_name %> </br>
    					<strong>Screen name:</strong> <%= user.screen_name %><br/>
    					published <%= link_to pluralize(user.post_count, "post"), posts_user_path(user) %>,<br/> 
			      		made <%= link_to pluralize(user.comment_count, "comment"), commented_posts_user_path(user) %>.
					</div>
					<div class='span2 center'>
						<%= render partial: 'authorizations/reset_password_form', locals: {user: user} %>
						<%#= link_to "delete off roaster", user.authorizations.find_by_authorizer_id(current_user.id), method: :teacher_delete_authorization, data: {confirm: "Are you sure?"}, class: "btn btn-small"%>

					</div>
					<div class='span3 center' >
						<%= render partial: 'authorizations/auth_grant', locals: {user: user} %>
					</div>
				</div>
		  	</li>
		</ul>	
	<% end %> 
<% else %>
	<div class="about">
		<p> No students have requested your authorization yet. Watch this <%= link_to "video tutorial", video_path(2) %> to find out how to get your students to create their own accounts.</p>
		<p class="center">
			<iframe width="500" height="375" src="http://www.schooltube.com/embed/4fe14999e96b4f15ba35" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
		</p>
	</div>
<% end %>
