<% title "Request Authorization" %>

<h1>Request Authorization</h1>

<p class='center'><img src="/attachments/computer.gif" alt="Shooloo Math Can Do"></p> 

<% unless current_user.role == "student" %>
	<div class="alert-heading">		
		<p>You need to become an authorized member first to publish posts and comments and to create accounts for your students.</p>	
		<%= render partial: 'authorizations/authorization', locals: {user: User.find(2)} %>
	</div>
<% else %>	
	<div class="about">
		<p>Search for your current math teacher below.</p>
	</div>
	<div class='box'>
		<div class='about'>
			<p>Find my math teacher among Shooloo members:</P>
		</div>
		<%= search_form_for @authorizer, url: search_authorizations_path, method: :post do |f| %>
			<div class="row">
				<div class="span8 offset3" >
					<span>
						<span class="search-label">
							<%= f.label :first_name_cont, "First Name" %> 
						</span>
						<span class="search-field">
							<%= f.text_field :first_name_cont %>
						</span>	
						<span class="search-label">
							<%= f.label :last_name_cont, "Last Name" %>
						</span>
						<span class="search-field">
							<%= f.text_field :last_name_cont %>
						</span>				
					</span>	
					<span class="search-label">
						<%= f.submit "Search", 
							class: "btn btn-small btn-default" %>
					</span>
				</div>
			</div>
		<% end %>
		<div class='about'>
			<% unless @authorizers == @teachers %>
				<div class = "auth">
					<% if @authorizers.count ==0 %>
						<p>I am sorry, but we can't find your teacher among our members. <strong><%= link_to "invite your teacher", new_invitemail_path %></strong> to join so that you can enjoy all the fun of Shooloo!</p>
					<% else %>
						<p> Found the following teacher: </p>
						<% @authorizers.each do |user| %>
							<ul class="posts">
					  			<li>
					  				<div class='row'>	  		
					    				<div class="span3">
						    				<%= user.first_name %>
						  					<%= user.last_name %>
										</div>
										<div class="span6" >
											<%= render partial: 'authorizations/authorization', locals: {user: user} %>
										</div>
									</div>
							  	</li>
							</ul>	
						<% end %> 
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
