<% provide provide(:title, "Request Authorization") %>

<h1>Request Authorization</h1>

<p class='center'><img src="/attachments/computer.gif" alt="Shooloo Math Can Do"></p> 

<% if current_user.role == "teacher" %>
	<div class="about">
		<p>As a teacher, you will be automatically authorized once at least <%= link_to "15 students", authorizations_path %> have requested your authorization. You will also be able to publish your own posts and comments, <%= link_to "authorize", authorizations_path %> others, and gain access to many more activities.</p>
		<p>First, in order for your students to find you and request your authorization, you yourself need to <%= link_to "become referred", new_referral_path %> by your friends who are Shooloo members or by the Shooloo administrator.</p>
	</div>
<% else %>	
	<div class="about">
		<p>To publish your own posts and comment on your friends' posts, get authorized by your current math teacher first. <strong> First, make sure all information in <%= link_to "your profile", edit_user_path(current_user) %> is complete and correct</strong>; otherwise your teacher will not authorize you. Once you become authorized, you will gain the power to <%= link_to "grant referrals", 'referrals_path' %> to others.</p>
	</div>
	<div class='box'>
		<div class='about'>
			<p>Find my math teacher among Shooloo members:</P>
		</div>
		<%= search_form_for @authorizer, url: search_authorizations_path, method: :post do |f| %>
			<div class="row">
				<div class="span8 offset3" >
					<span>
						<span class="search-label">
							<%= f.label :first_name_cont, "First Name" %> 
						</span>
						<span class="search-field">
							<%= f.text_field :first_name_cont %>
						</span>	
						<span class="search-label">
							<%= f.label :last_name_cont, "Last Name" %>
						</span>
						<span class="search-field">
							<%= f.text_field :last_name_cont %>
						</span>				
					</span>	
					<span class="search-label">
						<%= f.submit "Search", 
							class: "btn btn-small btn-default" %>
					</span>
				</div>
			</div>
		<% end %>
		<div class='about'>
			<% unless @authorizers == @teachers %>
				<div class = "auth">
					<% if @authorizers.count ==0 %>
						<p>I am sorry, but we can't find your teacher among our members. <strong>Invite your teacher</strong> to join so that you can enjoy all the fun of Shooloo!</p>
					<% else %>
						<p> Found the following teacher: </p>
						<% @authorizers.each do |user| %>
							<ul class="posts">
					  			<li>
					  				<div class='row'>	  		
					    				<div class="span3 offset1">
						    				<%= user.first_name %>
						  					<%= user.last_name %>
										</div>
										<div class="span5" >
											<%= render partial: 'authorizations/authorization', locals: {user: user} %>
										</div>
									</div>
							  	</li>
							</ul>	
						<% end %> 
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
