<% provide(:title, "News Feed") %> 

<h1>All Member News</h1>

<% @activities.each do |activity| %>
	<% unless activity.trackable_type == "Alarm" %>
	  	<div class='users'>
	  		<li>
			  	<% unless activity.user.nil? %>	
			  		<div class='avatar'> 		
			  			<%= image_tag activity.user.avatar.url (:small) %> 
			  		</div> 		
				    <%= link_to activity.user.screen_name, posts_user_path(activity.user) %>
				    in 
				    <i><%= activity.user.grade %></i>
				    <%= render partial: "activities/#{activity.trackable_type.underscore}/#{activity.action}", locals: {activity: activity} %>		   
				<% else %>
					<% render text: "A user and his/her posts, comemnts and ratings have been deleted from this web site." %>  
			    <% end %>
			</li>	  
		</div>	
	<% end %>
<% end %>	
<%= will_paginate @activities %>

