<h1>All Member News</h1>

<% @activities.each do |activity| %>
		<% unless activity.trackable_type == "Alarm" %>
		  	<div class='users'>
		  		<li>
				  	<% unless activity.user.nil? %>
				  		<% if activity.trackable_type == "Authorization" %>
				  			<%= link_to activity.user.first_name, posts_user_path(activity.user) %>
				  			<%= link_to activity.user.last_name, posts_user_path(activity.user) %>
				  		<% else %>		
					    	<%= link_to activity.user.screen_name, posts_user_path(activity.user) %>
					    <% end %>
					    (a <%= activity.user.role %>  
					    <% if !activity.user.grade.nil? %>
					    	in grade <%= activity.user.grade %>
					    <% end %>)
					    <%= render partial: "activities/#{activity.trackable_type.underscore}/#{activity.action}", locals: {activity: activity} %>		   
					<% else %>
						<% render text: "A user and his/her posts, comemnts and ratings have been deleted from this web site." %>  
				    <% end %>
				</li>	  
			</div>	
		<% end %>
<% end %>	
<%= will_paginate @activities %>

