<% if activity.trackable %>
	<span class='btn-formtastic'><img src="/attachments/congrats.gif" alt="Shooloo Math Can Do" width='80'></span>
	<span class='alert-heading'>
		<strong>granted you an authorization</strong> 
		on <%= activity.created_at.strftime("%b %d, %Y") %>.
	</span>
	<br/>
	Express your thanks and 
	<%= link_to "comment", posts_user_path(activity.user) %> on <%= activity.user.screen_name %>'s posts
	 or <%= link_to "publish", root_path %> your own posts.<br/>
	 You've also gained the power to <%= link_to "grant referals", referrals_path %> to new users now.
	
<% else %>
	<span class='alert-heading'>
		has granted you the authorization but has changed mind.
	</span>
<% end %> 