<div class="row margin-left">
	<div class="alert-heading">
		<p>
			<strong>Post ID: </strong>#<%= post.id %> | 
			<strong>Author: </strong><%= post.user.role %> in grade <%= post.user.grade %>
		</p>
		<p><strong>Question: </strong><%= post.question.html_safe %></p>
		<p><strong>Answer: </strong><%= post.answer.html_safe %></p>
	</div>
</div>