<div class="row margin-left">
	<div class="image" >
		<%= image_tag(post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{post.id}", title: "Shooloo Common Core Math Problem ##{post.id}")  %>
	</div>
	<div class="alert-heading">
		<p><strong>Author: </strong><%= post.user.role %> in grade <%= post.user.grade %></p>
		<p><strong>Question: </strong><%= post.question.html_safe %></p>
		<p><strong>Answer: </strong><%= post.answer.html_safe %></p>
	</div>
</div>
<div class="well well-small alert-heading no">
	<span class='btn-formtastic'> 
     	<%= form_for alarm, :url => post_alarms_path(post) do |f| %>
			<%= f.hidden_field :alarmed_post_id, value: post.id %>
			<%= f.submit "Alarm", class: "btn btn-large btn-danger",  disable_with: "Proccessing..." %>
		<% end %>
    </span>  
	<p>WARNING: If the above problem contains watermarked image or offsensive (i.e., sexual, racial, violent, or insulting) content, press the red Alarm button now. No need to correct the problem.<p>
</div>
<h1> <%= heading %> </h1>
<%= semantic_form_for correction, :url => url, :html => { :multipart => true, class: "form-horizontal-post-update", 'data-action' => 'update' }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
	<%=f.inputs do %>
		<%= f.input :corrected_post_id, as: :hidden, value: post.id, class: "hidden" %> 
		<div class="correction"> 
			<%= f.input :competition, label: "Is this problem about healthy eating?", as: :radio, collection: [["Yes! ", 1],["No.", 0]] %>
			<%= f.input :grammar, label: "Are the question and answer free of grammatical and spelling errors?", as: :radio, collection: [["Yes! ", true],["No.", false]] %>
			<%= f.input :concept_clear, label: "Is the math concept expressed in the question clear and precise?", as: :radio, collection: [["Yes! ", true],["No.", false]] %>
			<%= f.input :math_correct, label: "Is the answer calculated correctly?", as: :radio, collection: [["Yes! ", true],["No.", false]] %>
			<%= f.input :answer_complete, label: "Does the answer demonstrate the step-by-step solution?", as: :radio, collection: [["Yes! ", true],["No.", false]] %>
			<%= f.input :steps, label: "How many steps does it take ot arrive at the answer", as: :radio, collection: [["1 step ", 1],["2 steps", 2], [">2 steps", 3]] %>
		</div>
        <div class="create">
        	<%= f.input :question, as: :ckeditor, input_html:{value: post.question} %>
        </div>
        <div class="create">
	    	<%= f.input :answer, as: :ckeditor, input_html:{value: post.answer} %> 
	    </div> 
	    <%= f.input :level_id, as: :select, include_blank: true, label: "Suitable grade:", collection: Hash[Level.all.map{|level| [level.name, level.id]}]  %>
    	<%= f.input :domain_id, as: :select, include_blank: true, label: "Skills involved", collection: option_groups_from_collection_for_select(Level.order(:name), :domains, :name, :id, :name, f.object.domain_id)  %>  
    	<%= f.input :standard_id, as: :select, include_blank: true, label: "I-can Statement", collection: option_groups_from_collection_for_select(Domain.order(:name), :standards, :name, :id, :ICan, f.object.standard_id) %>
	<% end %>
	<%= f.actions do %>	
		<div class="btn-formtastic">		
	    	<span class="search-label">
	    	<%= f.action :submit, label: "Preview & Save as draft", as: :button, button_html: {value: "save", class: "btn btn-large btn-warning", disable_with: "saving as draft..."} %>
	    	</span>
	    	<span class="search-label">
	    		<%= render partial: submission, locals: {f: f} %>
		    </span>
		</div>
  	<% end %> 
<% end %>


        