<% noindex %>
<% nofollow %>

<h1>All Editors</h1>
<% if !@editors.blank? %> 
	<table class="table-ccss">
		<tr>			
			<th>Editor</th>
			<th>Checked Out</th>
			<th>Drafts</th>
			<th>Submitted</th>
			<th>Revised</th>
		</tr>
		<% @editors.each do |e| %>
			<tr>
				<td>
					#<%= e.id %><br/>
					<%= e.first_name %><br/>
					<strong><%= e.correction_count %></strong>
				</td>
				<td>
					<%= e.checks.count %><br/>
					<% e.checks.each do |c| %>
						#<%= link_to c.checked_post_id, post_draft_path(c.checked_post_id) %> |
					<% end %>
				</td>
				<td>
					<%= e.corrections.where(state: "draft").count %><br/>
					<% e.corrections.where(state: "draft").each do |c| %>
						#<%= link_to c.corrected_post_id, correction_path(c) %> |
					<% end %>
				</td>
				<td>
					<%= e.corrections.where(state: "submitted").count %><br/>
					<% e.corrections.where(state: "submitted").order('created_at DESC').each do |c| %>
						#<%= link_to c.corrected_post_id, correction_path(c) %> |
					<% end %>
				</td>
				<td>
					<%= e.corrections.where(state: "revised").count %><br/>
					<% e.corrections.where(state: "revised").order('created_at DESC').each do |c| %>
						#<%= link_to c.corrected_post_id, correction_path(c) %> |
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>