<% noindex %>
<% nofollow %>

<h1>All Editors</h1>
<% if !@editors.blank? %> 
	<table class="table-ccss">
		<tr>
			<th>User Id</th>
			<th>Name</th>
			<th>Total</th>
			<th>Drafts</th>
			<th>Submitted</th>
			<th>Revised</th>
		</tr>
		<% @editors.each do |e| %>
			<tr>
				<td><%= e.id %></td>
				<td><%= e.full_name_us %></td>
				<td class="right-align"><%= e.correction_count %></td>
				<td class="right-align"><%= e.corrections.where(state: "draft").count %></td>
				<td class="right-align"><%= e.corrections.where(state: "submitted").count %></td>
				<td class="right-align"><%= e.corrections.where(state: "revised").count %></td>
			</tr>
		<% end %>
	</table>
<% end %>