<% noindex %>
<% nofollow %>
<% if @correction.state=="draft" %>
	<% title "Correction Draft" %>
	<h1>  Draft of Corrections: not published </h1>
	<% if current_user.role=="editor" || current_user.admin? %>
		<div class="well well-small bottom-margin"> 
			<%= link_to "Edit My Correction", edit_correction_path(@correction), class: "btn btn-large btn-success btn-formtastic" %>
			<p class="alert-heading no">
				Plesae verify your corrections in the following areas are right:
				<ul class="popover-list">
					<li>Grade Level: It determines if the student authors are allowed to publishe any more posts.</li>
					<li>Question: It should be clear, precise and grammatically correct.</li>
					<li>Answer: It should demonstrate step by step how you've arrived at the answer.</li>
					<li>Standard: It should reflect the skills required to solve the problem.</li>
				</ul>
			</p>
		</div>
	<% end %>
<% elsif @correction.state=="submitted" %>
	<% title "Correction Final" %>
	<h1>  Review and/or Corrections </h1>
<% end %>

<div class="row margin-left">
	<div class="alert-heading">
		<p><strong>Grade Level: </strong>
			<% if !@correction.level_id.nil? %>
				<%= @correction.level.name %>
			<% end %>
		</p>
		<p><strong>Corrected Question: </strong>
			<%= @correction.question.html_safe %>
		</p>
		<p><strong>Corrected Answer: </strong>
			<%= @correction.answer.html_safe %>
		</p>
		<% if current_user.role == "student" %>
            <p>
            	<strong>"I can" statement: </strong> In <%= @post.domain.name %>, 
	            <% if @correction.hstandard.nil? %>
	              <%= @correction.standard.ICan %>
	            <% else %>
	              <%= @correction.hstandard.ICan %>
	            <% end %>
	        </p>
        <% else %>
        	<p>
				<% if !@correction.hstandard_id.nil? %>
					<strong><%= @correction.hstandard.symbol %>:</strong> <%= @correction.hstandard.description %>
				<% elsif !@correction.standard_id.nil? %>
					<strong><%= @correction.standard.symbol %>:</strong> <%= @correction.standard.description %>
				<% end %>
			</p>
        <% end %>
	</div>
</div>
<div class="row margin-left">
	<h2> 
		Assessment of 
		<% if current_user.role=="editor" || current_user.admin? %>
			<%= link_to "the Original Problem", edit_correction_path(@correction)%> 
		<% else %>
			<%= link_to "My Original Problem", post_draft_path(@correction.corrected_post)%> 
			<% if @post.competition == 1 %>
				vs. Requirements of the Math <%= link_to "Contest", contest_path %> 
			<% end %>
		<% end %>
	</h2>
	<ul class="popover-list alert-heading">
		<% if @post.competition == 1 %>
			<li>
				Is this problem about <strong>healthy eating</strong>? 
				<strong>
					<% if @correction.competition == 0 %>
						No.
					<% elsif @correction.competition == 1 %>
						Yes.
					<% end %>
				</strong> 
			</li>
		<% end %>
		<li>
			The number of <strong>steps</strong> it takes to arrive at the answer: <strong><%= @correction.steps %></strong> 
		</li>  
		<li>
			Are the question and answer free of <strong>grammatical and spelling</strong> errors? <strong><%= @correction.grammar %></strong> 
		</li>
		<li>
			Is the math concept expressed in the question <strong>clear and precise</strong>?
			<strong><%= @correction.concept_clear %></strong>
		</li>
		<li>
			Is the answer <strong>calculated correctly</strong>? <strong><%= @correction.math_correct %></strong>
		</li>
		<li>
			Does the answer demonstrate the <strong>step-by-step solution</strong>? <strong><%= @correction.answer_complete %></strong>
		</li>	
	</ul>
</div>
