<div class="row margin-left">
	<div class="image" >
		<%= image_tag(@post.photo.url (:large), alt: "Shooloo Common Core Math Problem ##{@post.id}", title: "Shooloo Common Core Math Problem ##{@post.id}")  %>
	</div>
	<div class="alert-heading">
		<strong>Author: </strong><%= @post.user.role %> in grade <%= @post.user.grade %><br/>
		<strong>Question: </strong><%= @post.question.html_safe %><br/>
		<strong>Answer: </strong><%= @post.answer.html_safe %>
	</div>
</div>
        