<% noindex %>
<% nofollow %>
<% if @correction.state=="draft" %>
	<% title "Correction Draft" %>
	<h1>  Draft of Corrections: not published </h1>
	<% if current_user.role=="editor" || current_user.admin? %>
		<div class="well well-small bottom-margin"> 
			<%= link_to "Edit & Publish Correction", edit_correction_path(@correction), class: "btn btn-large btn-success btn-formtastic" %>
			<p class="alert-heading no">
				Please verify your corrections in the following areas are right:
				<ul class="popover-list">
					<li>Grade Level: It determines if the student authors are allowed to publish any more posts.</li>
					<li>Question: It should be clear, precise and grammatically correct.</li>
					<li>Answer: It should demonstrate step by step how you've arrived at the answer.</li>
					<li>Standard: It should reflect the skills required to solve the problem.</li>
				</ul>
			</p>
		</div>
	<% end %>
<% else %>
	<% title "Correction Final" %>
	<h1>Comparison of Original vs. Corrected Versions of Post #<%= @post.id %> </h1>
<% end %>

<div class="row alert-heading">
	<div class="span6 split-left no">
		<h2> Original Verison </h2>
	    <p><strong>Question:</strong> <%= @post.question.html_safe %></p>
	    <p><strong>Answer: </strong> <%= @post.answer.html_safe %></p>
	</div>
	<div class="span6 split-right yes">
		<h2> Corrected Verison </h2>
		<p><strong>Question:</strong> <%= @correction.question.html_safe %></p>
	    <p><strong>Answer: </strong> <%= @correction.answer.html_safe %></p>
	</div>
</div>
<div class="row auth-font">
	<div class="span2">
		<p><strong>I-can Statement:</strong></p>
	</div>
	<div class="span10">
		<% if @correction.hstandard.nil? %>
			<p>In <%= @correction.domain.name %>, <%= @correction.standard.ICan %>
			</p>
		<% else %>
			<p>In <%= @correction.domain.name %>, <%= @correction.hstandard.ICan %>
			</p>
		<% end %>
	</div>
</div>
<div class="row auth-font">
	<div class="span2">
		<p><strong>Common Core Standard:</strong></p>
	</div>
	<div class="span10">
		<% if @correction.hstandard.nil? %>
			<p><%= @correction.standard.full_description %></p>
		<% else %>
			<p><%= @correction.hstandard.full_description %></p>
		<% end %>
	</div>
</div>
<div class="row margin-left">
	<h2> 
		Assessment of
		<% if current_user.role == "editor" %>
			<%= link_to "the Author's Original Problem", edit_correction_path(@correction)%> 
		<% elsif current_user?(@post.user) || current_user.role.in?(["teacher", "tutor", "parent", "other"]) %>
			<%= link_to "the Author's Original Problem", post_draft_path(@post)%> 
		<% else %>
			<%= link_to "the Author's Original Problem", post_comments_path(@post)%> 
		<% end %>
		<% if @post.competition == 1 %>
			vs. <a href="/attachments/contest_checklist.pdf" target="_blank">Requirements of the Math Contest</a> 
		<% end %>
	</h2>
	<ul class="popover-list alert-heading">
		<% if @post.competition == 1 %>
			<li>
				Is this problem about <strong>healthy eating</strong>? 
				<strong>
					<% if @correction.competition == 0 %>
						No.
					<% elsif @correction.competition == 1 %>
						Yes.
					<% else %>
						<span class="no"> ??? </span>
					<% end %>
				</strong> 
			</li>
		<% end %>
		<li>
			Is this question <strong>at or above</strong> the author's grade level?
			<strong>
				<% if @correction.level_id.nil? %>
					<span class="no">???</span>
				<% else %>
					<% if @correction.level.number >= @post.user.grade %>
						<span class="yes"> Yes.</span>
					<% else %>
						<span class="no">No.</span>
					<% end %>
				<% end %>
			</strong> 
		</li> 
		<li>
			The number of <strong>steps</strong> it takes to arrive at the answer: <strong>
				<% if @correction.steps.nil? %>
					<span class="no">???</span>
				<% else %>
					<% if @correction.steps < 2 %>
						<span class="no">
					<% else %>
						<span class="yes">
					<% end %>
					<%= @correction.steps %></span>
				<% end %>
			</strong> 
		</li>  
		<li>
			Are the question and answer free of <strong>grammatical and spelling</strong> errors? 
			<strong>
				<% if @correction.grammar? %>
					<span class="yes">
				<% else %>
					<span class="no">
				<% end %>
				<%= @correction.grammar %></span>
			</strong> 
		</li>
		<li>
			Is the math concept expressed in the question <strong>clear and precise</strong>?
			<strong>
				<% if @correction.concept_clear? %>
					<span class="yes">
				<% else %>
					<span class="no">
				<% end %>
				<%= @correction.concept_clear %></span>
			</strong>
		</li>
		<li>
			Is the answer <strong>calculated correctly</strong>? 
			<strong>
				<% if @correction.math_correct? %>
					<span class="yes">
				<% else %>
					<span class="no">
				<% end %>
				<%= @correction.math_correct %></span>
			</strong>
		</li>
		<li>
			Does the answer demonstrate the <strong>step-by-step solution</strong>? 
			<strong>
				<% if @correction.answer_complete? %>
					<span class="yes">
				<% else %>
					<span class="no">
				<% end %>
				<%= @correction.answer_complete %></span>
			</strong>
		</li>	
	</ul>
</div>
<p class="center">
	<% if current_user.admin? %>
		<%= link_to "Back to Post", post_comments_path(@post), class: "btn btn-large btn-warning" %>
		<%= link_to "Re-Correct", edit_correction_path(@correction), class: "btn btn-large btn-warning" %> 
		<%= link_to "All Corrections", corrections_path, class: "btn btn-large btn-success" %>
	<% elsif current_user.role != "editor" %>
		<%= link_to "Back to Post", post_comments_path(@post), class: "btn btn-large btn-warning" %> 
  		<%= link_to "Create A New Post", new_post_path, class: "btn btn-large btn-primary" %> 
  	<% end %>
</p>