<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SHOOLOO", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact", contact_path %></li> 
          <li><%= link_to "Common Core", standards_path %></li>           
          <% if signed_in? %>
            <li>
                <%= link_to "Alerts", my_alerts_path %>
            </li> 
            <li class="alert_bubble" id="alert_bubble">
              <%= alert_count %>
            </li>
            <% if current_user.admin? || current_user.role == "teacher" %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Students <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Students' I-Can", student_common_core_user_path(current_user) %></li>
                  <li><%= link_to "My Students' Alarms", alarmed_posts_path %></li>
                  <% if can? :update, Authorization %>
                    <li><%= link_to "Authorize My Students", authorizations_path %></li>
                  <% end %>                   
                </ul>
              </li>              
            <% end %>            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Posts <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "My I-Can Journal", common_core_I_can_user_path(current_user) %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "My Published Posts", posts_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "My hidden Posts", alarmed_posts_user_path(current_user) %>
                </li> 
                <li class="divider"></li>
                <li>
                  <%= link_to "My Rated Posts", rated_posts_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "My Commented Posts", commented_posts_user_path(current_user) %>
                </li> 
                <li class="divider"></li>  
                <li><%= link_to "All Member Posts", posts_path %></li>                 
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Friends <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Gifts I Received", gift_receiving_path %></li>
                <li><%= link_to "My Fans", gift_giving_path %></li>
                <li><%= link_to "My Followers", followers_user_path(current_user) %></li>
                <li class="divider"></li>                        
                <% if can? :update, Referral %>
                  <li><%= link_to " Refer Friends", referrals_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "All Shooloo Members", users_path %></li> 
                <% if current_user.admin? %>
                  <li class="divider"></li>
                  <li><%= link_to "Hidden Users", hidden_path %></li>
                  <li><%= link_to "All News", activities_path %></li>
                  <li><%= link_to "Gift Choices", choices_path %></li>             
                <% end %>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "My Information", edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "My Password", change_password_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "My Subscriptin", subscription_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to "My Powers", my_abilities_path %>
                </li>
                <% unless can? :crud, Post %>
                  <li class="divider"></li>
                  <% if can? :crud, Rating %>
                    <li><%= link_to "Request Authorizations", new_authorization_path %></li>
                  <% else %>
                    <li><%= link_to "Request Authorizations", new_authorization_path %></li>
                    <li><%= link_to "Request Referrals", new_referral_path %></li>
                  <% end %>
                <% end %>
                <% if current_user.admin? %>
                  <li class="divider"></li>
                  <li><%= link_to "Request Authorizations", new_authorization_path %></li>
                  <li><%= link_to "Request Referrals", new_referral_path %></li>
                <% end %>  
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>       
        </ul>
      </nav>
    </div>
  </div>
</header>
